<template>
    <section class="customer-home-main">
        <div class="container">


            <div class="row">
                <div class="col-lg-10 offset-lg-1">

                    <div class="cret-project-card">
                        <div class="crt-grop-dp">
                            <input accept="image/*" type="file" @change="e => handleImageChange(e)" ref="cover" style="display:none" />
                            <img :src="base64Image || user.image" alt="">
                            <button type="button" @click="$refs.cover.click()"><i class="fas fa-camera"></i></button>
                        </div>
                        <h5 class="blue-h5 blue-txt">Edit Profile</h5>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group mb-0">
                                    <label>NAME: <span>*</span></label>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" v-model="user.first_name" placeholder="First name" class="new-input">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" v-model="user.middle_name" placeholder="Middle Initial" class="new-input">
                                </div>
                            </div>


                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" v-model="user.last_name" placeholder="Last name" class="new-input">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" v-model="user.surname" placeholder="Surname" class="new-input">
                                </div>
                            </div>
                        </div>
                        <!--inner row end-->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group d-flex mt-4">
                                    <h6>Select Gender</h6>
                                    <label>
                                        <input v-model="user.gender" name="gender" value="male" type="radio">
                                        Male
                                    </label>
                                    <label>
                                        <input v-model="user.gender" name="gender" value="female" type="radio">
                                        Female
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>EMAIL ADDRESS: <span>*</span></label>
                                    <p>{{user.email}}</p>
                                </div>
                            </div>
                        </div>
                        <!--inner row end-->


                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>MAILING ADDRESS: <span>*</span></label>
                                    <input type="text" v-model="user.address" placeholder="Address 1" class="new-input">
                                </div>
                                <div class="form-group">
                                    <input type="text" v-model="user.address1" placeholder="Address 2" class="new-input">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>PHONE NUMBER 01: <span>*</span></label>
                                    <input type="text" v-model="user.phone" placeholder="001-9669-445-889" class="new-input">
                                </div>
                                <div class="form-group">
                                    <label>PHONE NUMBER 02: <span>*</span></label>
                                    <input type="text" v-model="user.phone1" placeholder="001-9669-445-889" class="new-input">
                                </div>
                            </div>
                        </div>
                        <!--inner row end-->


                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>CITY, ZIP CODE, STATE, COUNTRY <span>*</span></label>
                                    <input type="text" v-model="user.city" placeholder="City" class="new-input">
                                </div>
                                <div class="form-group">
                                    <input type="text" v-model="user.zip" placeholder="Zip Code" class="new-input">
                                </div>
                                <div class="form-group">
                                    <input type="text" v-model="user.state" placeholder="State" class="new-input">
                                </div>
                                <div class="form-group">
                                    <input type="text" v-model="user.country" placeholder="Country" class="new-input">
                                </div>
                                <div class="form-group">
                                    <label>RECOVERY EMAIL ADDRESS:</label>
                                    <input type="text" v-model="user.recovery_email" placeholder="lan@gmail.com" class="new-input">
                                </div>
                            </div>
                        </div>
                        <!--inner row end-->
                        <button @click="updateSecurityQuestions" type="button" class="main-blue-btn fa-pull-left">Add Security Questions</button>


                        <button @click="updateProfile" type="button" class="main-blue-btn fa-pull-right">Update</button>

                    </div>
                    <!--cret project card end-->


                </div>


            </div>
            <!--row end-->





        </div>
        <!--container end-->
        <Cropper ref="cp" 
        @closeModal="base64Image=''" :base64Image="base64Image" 
        @getCropData="getCroppedData"
        ></Cropper>        
        <!--container end-->
    </section>
</template>

<script>
    import Cropper from "../cropper/Index";
    export default {
        components: {
            Cropper
        },
        data() {
            return {
                baseUrl: window.base_url,
                user: window.user,
                base64Image: '',
                types : {
                    'img' : ['image/jpeg', 'image/jpg', 'image/png', 'image/bmp', 'image/gif'],
                },                
            }
        },
        mounted() {},
        methods: {
            updateProfile(){
                axios.post('update', this.user)
                    .then(({data}) => {
                        this.$toastr.success(data.message, "Success !");
                        this.$router.push({name: 'profile'});
                        window.location.reload();
       
                    }).catch( e => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach(key=>{
                            this.$toastr.error(errors[key], "Error!");
                        });
                    });

            },
            updateSecurityQuestions(){
                window.location.href = 'edit-profile-security-questions'

            },
            toBase64(file){
                return new Promise((resolve, reject) => {
                    const reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = () => resolve(reader.result);
                    reader.onerror = error => reject(error);
                });
            },            
            async handleFileChange(e, elem){
                let file = e.target.files[0];
                console.log(file);
                let types = this.types;
                if(types.img.includes(file.type)){
                    let result = await this.toBase64(file).catch(e => Error(e));
                    if(result instanceof Error) {
                        console.log('Error: ', result.message);
                        return;
                    }else
                        this.base64Image = result;
                        this.showModal = true;
                }
            },                                    
            async handleImageChange(e){
                await this.handleFileChange(e, '');
                this.openBtModel('cropper_modal')
            },
            getCroppedData(e){
                this.user.image = e;
                this.closeBtModel('cropper_modal')
            },        
        },
        watch: {}
    }
</script>

<style>
    section.navBar {
        position: relative;
    }
</style>