<template>
    <section class="customer-home-main">
        <div class="container">


            <div class="row">
                <div id="step2">

<div class="signup-text-main">
    <h3>Set your Own Privacy...
        <span>Security Questions:</span>
    </h3>
    <p>We may use security questions to verify you identity when you sign in to your account or if you need to reset
        your password.
        <br>Please select security questions from the dropdown menus.
    </p>
</div>

<div>

</div>


<div class="sign-up-line">

    <span v-if="securityData.length > 0 ">
        <div class="form-group" :key="index" v-for="(item,index) in securityData">
                <label>Select Question 1 of 3 <span>*</span></label>
                
                <select v-model="item.question_id" required :name="`security_question_${++index}`"  class="secQusetions new-input form-control">
                    <option  value="0">Select</option>
                    <option  value="1">What is the first and last name of your first boyfriend or girlfriend?</option>
                    <option  value="2">Which phone number do you remember most from your childhood?</option>
                    <option  value="3">What was your favorite place to visit as a child?</option>
                    <option  value="4">Who is your favorite actor, musician, or artist??</option>
                    <option  value="5">What is the name of your favorite pet??</option>
                    <option  value="6">In what city were you born?</option>
                </select>

                <textarea  v-model="item.answer" required :name="`security_question_${index}_answer`" class="txtara" placeholder="Your answer"></textarea>
            </div>
                                    <button @click="updateSecurityQuestions" type="button" class="main-blue-btn fa-pull-right">Update</button>

    </span>
    <span v-else>

        <div class="form-group">
        <label>Select Question 1 of 3 <span>*</span></label>
        <select v-model="user.security_question_1" required name="security_question_1"  class="secQusetions new-input form-control">
            <option value="0">Select</option>
            <option value="1">What is the first and last name of your first boyfriend or girlfriend?</option>
            <option  value="2" selected>Which phone number do you remember most from your childhood?</option>
            <option  value="3">What was your favorite place to visit as a child?</option>
            <option  value="4">Who is your favorite actor, musician, or artist??</option>
            <option  value="5">What is the name of your favorite pet??</option>
            <option  value="6">In what city were you born?</option>
        </select>

        <textarea v-model="user.security_question_1_answer" required name="security_question_1_answer" class="txtara" placeholder="Your answer"></textarea>
    </div>
        <div class="form-group">
        <label>Select Question 2 of 3 <span>*</span></label>
        <select v-model="user.security_question_2" required name="security_question_2"  class="secQusetions new-input form-control">
            <option value="0">Select</option>
            <option value="1">What is the first and last name of your first boyfriend or girlfriend?</option>
            <option  value="2" selected>Which phone number do you remember most from your childhood?</option>
            <option  value="3">What was your favorite place to visit as a child?</option>
            <option  value="4">Who is your favorite actor, musician, or artist??</option>
            <option  value="5">What is the name of your favorite pet??</option>
            <option  value="6">In what city were you born?</option>
        </select>

        <textarea v-model="user.security_question_2_answer" required name="security_question_2_answer" class="txtara" placeholder="Your answer"></textarea>
    </div>


    <div class="form-group">
        <label>Select Question 3 of 3 <span>*</span></label>
        <select v-model="user.security_question_3" required name="security_question_3"  class="secQusetions new-input form-control">
            <option value="0">Select</option>
            <option  value="1">What is the first and last name of your first boyfriend or girlfriend?</option>
            <option  value="2">Which phone number do you remember most from your childhood?</option>
            <option  value="3" selected>What was your favorite place to visit as a child?</option>
            <option  value="4">Who is your favorite actor, musician, or artist??</option>
            <option  value="5">What is the name of your favorite pet??</option>
            <option  value="6">In what city were you born?</option>
        </select>

        <textarea  v-model="user.security_question_3_answer" required name="security_question_3_answer" class="txtara" placeholder="Your answer"></textarea>

    </div>

                        <button @click="updateSecurityQuestionsByStatic" type="button" class="main-blue-btn fa-pull-right">Update</button>

    </span>
   

   

</div>

</div>


            </div>
            <!--row end-->





        </div>
        <!--container end-->
        <Cropper ref="cp" 
        @closeModal="base64Image=''" :base64Image="base64Image" 
        @getCropData="getCroppedData"
        ></Cropper>        
        <!--container end-->
    </section>
</template>

<script>
    import Cropper from "../cropper/Index";
    export default {
        components: {
            Cropper
        },
        data() {
            return {
                securityData:[],
                baseUrl: window.base_url,
                user: window.user,
                base64Image: '',
                tempArray:{},
                types : {
                    'img' : ['image/jpeg', 'image/jpg', 'image/png', 'image/bmp', 'image/gif'],
                },                
            }
        },
        created(){
            this.getSecurityData();
        },

        mounted() {},
        methods: {
            getSecurityData(){
                axios.get(`/get-security-questions/${this.user.id}`)
                    .then(({data}) => {
                        this.securityData = data;
                        })
            },
            updateSecurityQuestions(){
                //let fd = new FormData();
                //this.buildFormData(fd,this.securityData,'');
                console.log(this.securityData[0], 'a');
                //this.tempArray.push(this.securityData[0].question_id);
                //this.tempArray.map(a => a.question_id);
                //this.securityData.push('form');
                //console.log(this.tempArray, 'm');
                //return true;
                 
                axios.put('update-security-questions', this.securityData)
                    .then(({data}) => {
                        this.$toastr.success(data.message, "Success !");
                        this.$router.push({name: 'profile'});
                        //window.location.reload();
       
                    }).catch( e => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach(key=>{
                            this.$toastr.error(errors[key], "Error!");
                        });
                    });

            },
            updateSecurityQuestionsByStatic(){
                //let fd = new FormData();
                //this.buildFormData(fd,this.securityData,'');
                // console.log(this.user);
                // return true;
                //a.push(this.securityData[0].answer)
                 
                axios.post('add-security-questions', this.user)
                    .then(({data}) => {
                        this.$toastr.success(data.message, "Success !");
                        this.$router.push({name: 'profile'});
                        //window.location.reload();
       
                    }).catch( e => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach(key=>{
                            this.$toastr.error(errors[key], "Error!");
                        });
                    });

            },
            toBase64(file){
                return new Promise((resolve, reject) => {
                    const reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = () => resolve(reader.result);
                    reader.onerror = error => reject(error);
                });
            },            
            async handleFileChange(e, elem){
                let file = e.target.files[0];
                console.log(file);
                let types = this.types;
                if(types.img.includes(file.type)){
                    let result = await this.toBase64(file).catch(e => Error(e));
                    if(result instanceof Error) {
                        console.log('Error: ', result.message);
                        return;
                    }else
                        this.base64Image = result;
                        this.showModal = true;
                }
            },                                    
            async handleImageChange(e){
                await this.handleFileChange(e, '');
                this.openBtModel('cropper_modal')
            },
            getCroppedData(e){
                this.user.image = e;
                this.closeBtModel('cropper_modal')
            },        
        },
        watch: {}
    }
</script>

<style>
    section.navBar {
        position: relative;
    }
</style>