<template>
    <!--remove property Modal -->
    <div class="emplyee-add-modal-msg">
        <div class="modal fade" id="exampleModal-property-remove" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <i class="fas fa-check-circle fa-4x"></i>
                        <h4>System Message</h4>
                        <span>If you remove this property, all the assigned <br>
                            tasks of this employee in the selected property <br>
                            would be disbaled as well.</span><br>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="emplyee-add-btn" data-toggle="modal" data-target="#exampleModalCenter">Assign
                            Another Employee</a>
                        <a href="#" class="emplyee-add-btn">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--emplyee remove Modal -->
</template>
<script>
    export default{
        
    }
</script>