<template>
    <!-- assign property Modal -->
    <div>
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="assign-property" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="my-modal-header">
                        <button @click="$emit('closed')" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="exampleModalLongTitle">Assign Employee</h4>
                        <div class="input-group md-form form-sm form-2 pl-0 my-search">
                            <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <span class="input-group-text lime lighten-2" id="basic-text1">
                                    <i class="fas fa-search text-grey" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <ul class="list-unstyled">
                            <li :for="`customRadio${property.id}`" v-for="property in properties.data" class="media">
                                <a href="#" data-toggle="modal" data-target="#delete-employee"><i class="fas fa-times-circle"></i></a>
                                <img src="assets/images/blank-img.png" class="mr-3" alt="..." width="14%">
                                <div class="media-body">
                                    <h6 class="mt-0 mb-1">{{property.name}}</h6>
                                    <h6 class="mt-0 mb-1">Property_ID: P-{{property.id}}</h6>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" @input="selectedProperty = $event.target.value" :value="property.id" :id="`customRadio${property.id}`" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" :for="`customRadio${property.id}`"></label>
                                    </div>
                                </div>
                            </li>
                            <li v-if="typeof properties.data != 'undefined' && properties.data.length == 0" class="media">
                                <h3>You don't have more Properties</h3>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:void(0)" @click="assignProperty" class="modal-add-btn">ASSIGN</a>
                    </div>
                </div>
            </div>
        </div>
        <success title="System Message" subtitle="Property has been Successfully assign to the employee"></success>
    </div>
    <!--assign property Modal -->
</template>
<script>
import { mapActions, mapState, mapMutations } from 'vuex';
const success =  () => import('@views/Partials/web/popups/Success.vue');

export default {
    data() {
        return {
            properties: {},
            selectedProperty : 0,
        };
    },
    components : {
        success,
    },
    computed: {
        // ...mapState('property', ['properties']),
    },
    created() {
        this.fetch();
    },
    methods: {
        ...mapActions('property', ['getAll','store']),
        async fetch(page = 1) {
            let { employee } = this.$route.params;
            let params = {
                route: route('property.get-all-properties', { employee }),
                data: {
                    page: page,

                },
            };
            let { data } = await this.getAll(params);
            this.properties = data.properties;
        },
        async assignProperty(){
        	let { employee } = this.$route.params;
        	if(this.selectedProperty == 0){
        		this.$snotify.error('please select a property first');
        		return ;
        	}
        	let fd = new FormData();
        	fd.append('property',this.selectedProperty);
        	let params = {
        		route : route('property.assign-property',{employee}),
        		data : fd,
        		method : 'POST',
        	};
        	let {data} = await this.store(params);
        	if(data.status){
        		window.$('#successPopup').modal('show');
        		let propertyId = parseInt(this.selectedProperty);
        		let index = _.findIndex(this.properties.data,(property)=>{return property.id == propertyId});
        		let property = this.properties.data[index];
        		this.$emit('assigned-property',property);
        		this.properties.data.splice(index,1);
        	}
        }
    }
}

</script>
