<section class="col-md-4 col-8 ml-auto  box-shadow-2 p-0">
	<div class="card border-grey border-lighten-3 px-2 py-2 row mb-0">
		<div class="card-header border-0 pb-0">
			<div class="card-title text-center">
				<img src="../../../app-assets/images/logo/stack-logo-dark.png" alt="branding logo">
			</div>
			<h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Please Sign Up</span></h6>
		</div>
		<div class="card-content">
			<div class="card-body">
				<form class="form-horizontal" action="index.html" novalidate>

					<div class="row">
						<div class="col-12 col-sm-6 col-md-6">
							<fieldset class="form-group position-relative has-icon-left">
		                        <input type="text" contenteditable="true" spellcheck="true" name="first_name" id="first_name" class="form-control form-control-lg" placeholder="First Name*" tabindex="1">
		                        <div class="form-control-position">
								    <i class="ft-user"></i>
								</div>
							</fieldset>
						</div>
						<div class="col-12 col-sm-6 col-md-6">
							<fieldset class="form-group position-relative has-icon-left">
								<input type="text" contenteditable="true" spellcheck="true" name="last_name" id="last_name" class="form-control form-control-lg" placeholder="Last Name" tabindex="2">
								<div class="form-control-position">
								    <i class="ft-user"></i>
								</div>
							</fieldset>
						</div>
					</div>
					<fieldset class="form-group position-relative has-icon-left">
						<input type="text" contenteditable="true" spellcheck="true" name="display_name" id="display_name" class="form-control form-control-lg" placeholder="Display Name" tabindex="3" required data-validation-required-message= "Please enter display name.">
						<div class="form-control-position">
						    <i class="ft-user"></i>
						</div>
						<div class="form-text font-small-3"></div>
					</fieldset>
					<fieldset class="form-group position-relative has-icon-left">
						<input type="email" contenteditable="true" spellcheck="true" name="email" id="email" class="form-control form-control-lg" placeholder="Email Address" tabindex="4" required data-validation-required-message= "Please enter email address.">
						<div class="form-control-position">
						    <i class="ft-mail"></i>
						</div>
						<div class="form-text font-small-3"></div>
					</fieldset>
					<div class="row">
						<div class="col-12 col-sm-6 col-md-6">
							<fieldset class="form-group position-relative has-icon-left">
								<input type="password" name="password" id="password" class="form-control form-control-lg" placeholder="Password" tabindex="5" required>
								<div class="form-control-position">
								    <i class="fa fa-key"></i>
								</div>
								<div class="form-text font-small-3"></div>
							</fieldset>
						</div>
						<div class="col-12 col-sm-6 col-md-6">
							<fieldset class="form-group position-relative has-icon-left">
								<input type="password" name="password_confirmation" id="password_confirmation" class="form-control form-control-lg" placeholder="Confirm Password" tabindex="6" data-validation-matches-match="password" data-validation-matches-message="Password & Confirm Password must be the same.">
								<div class="form-control-position">
								    <i class="fa fa-key"></i>
								</div>
								<div class="form-text font-small-3"></div>
							</fieldset>
						</div>
					</div>
					<div class="row mb-1">
						<div class="col-4 col-sm-3 col-md-3">
							<fieldset>
				                <input type="checkbox" id="remember-me" class="chk-remember">
				                <label for="remember-me"> I Agree</label>
				            </fieldset>
						</div>
						<div class="col-8 col-sm-9 col-md-9">
							 <p class="font-small-3">By clicking Register, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-sm-6 col-md-6">
							<button type="submit" class="btn btn-primary btn-lg btn-block"><i class="ft-user"></i> Register</button>
						</div>
						<div class="col-12 col-sm-6 col-md-6">
							<a  href="login-advanced.html" class="btn btn-danger btn-lg btn-block"><i class="ft-unlock"></i> Login</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>