<template>
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="configuration" class="search view-cause">
                <div class="row">
                    <div class="col-12">
                        <div class="card pad-20">
                            <div class="card-content collapse show">
                                <div class="card-body table-responsive card-dashboard">
                                    <a href="#">
                                        <h2>
                                            EDIT PROFILE</h2>
                                    </a>
                                    <!-- <section class="add-sub-admin-box"> -->
                                    <ValidationObserver v-slot="{handleSubmit}">
                                        <form @submit.prevent="handleSubmit(update)">
                                            <section class="profile-box">
                                                <div class="profile-img">
                                                    <img src="assets/images/user-big.png" />
                                                </div>
                                                <router-link :to="{name : 'admin.account.password'}">
                                                    <h5>change password</h5>
                                                </router-link>
                                                <form>
                                                    <div class="row">
                                                        <ValidationProvider tag="div" name="Name" rules="required" v-slot="{errors}" class="col-md-4">
                                                            <label for="inputEmail4">First Name</label>
                                                            <input v-model="form.first_name" type="text" class="form-control" placeholder="Ron">
                                                            <div class="text-danger">{{errors[0]}}</div>
                                                        </ValidationProvider>
                                                        <ValidationProvider tag="div" name="Last Name" rules="required" v-slot="{errors}" class="col-md-4">
                                                            <label for="inputEmail4">Last Name</label>
                                                            <input v-model="form.last_name" type="text" class="form-control" placeholder="Weasley">
                                                            <div class="text-danger">{{errors[0]}}</div>
                                                        </ValidationProvider>
                                                        <div class="col-md-4">
                                                            <label for="inputEmail4">Email</label>
                                                            <p class="pt-1">{{$user.email}}</p>
                                                        </div>
                                                    </div>
                                                </form>
                                                <button type="submit" class="sub-admin-add">UPDATE</button>
                                            </section>
                                        </form>
                                    </ValidationObserver>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
export default {
    data() {
        return {
            form: {
                first_name : '',
                last_name : '',
            }
        };
    },
    created(){
    	this.form.first_name = this.$user.first_name;
    	this.form.last_name = this.$user.last_name;
    },
    computed: {
        ...mapState('admin', ['admin']),
    },
    methods: {
        ...mapActions('admin', ['store', 'get']),
        async update() {
            let fd = new FormData();
            fd.append('_method', 'PUT');
            this.buildFormData(fd, this.form);
            let params = {
                route: route('admin.account.update', { account : this.$user.id }),
                method: 'POST',
                data: fd,
            };
            try {
                let { data } = await this.store(params);
                if (data.status) {
                    this.$snotify.success(data.msg);
                    Vue.prototype.$user = data.user;
                    this.$router.push({ name: 'admin.account.index' });
                } else {
                    this.$snotify.error('something went wrong');
                }
            } catch (e) {
                if (e.response) {
                    this.$refs.adminObserver.setErrors(e.response.data.errors);
                }
                // statements
                console.log(e);
            }

        }
    }
}

</script>
