<template>
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="configuration" class="search view-cause">
                <div class="row">
                    <div class="col-12">
                        <div class="card pad-20">
                            <div class="card-content collapse show">
                                <div class="card-body table-responsive card-dashboard">
                                    <a href="javascript:void(0)">
                                        <h2>
                                            CHANGE PASSWORD</h2>
                                    </a>
                                    <section class="change-password-box mt-4">
                                        <ValidationObserver ref="observer" v-slot="{handleSubmit}">
                                            <form @submit.prevent="handleSubmit(update)">
                                                <div class="row">
                                                    <ValidationProvider v-slot="{errors}" tag="div" name="current password" rules="required" vid="current_password" class="col-md-4 form-group position-relative">
                                                        <label for="inputEmail4">Current Password*</label>
                                                        <input ref="current_password" v-model="form.current_password" type="password" class="form-control" placeholder="Enter Current Password">
                                                        <button type="button" @click="togglePasswordType('current_password')" class="view-btn position-absolute"><i class="fa fa-eye"></i></button>
                                                        <div class="text-danger">{{errors[0]}}</div>
                                                    </ValidationProvider>
                                                    <ValidationProvider v-slot="{errors}" tag="div" name="password" rules="required" vid="password" class="col-md-4 form-group position-relative">
                                                        <label for="inputEmail4">New Password*</label>
                                                        <input ref="password" v-model="form.password" type="password" class="form-control" placeholder="Enter New Password">
                                                        <button type="button" @click="togglePasswordType('password')" class="view-btn position-absolute"><i class="fa fa-eye"></i></button>
                                                        <div class="text-danger">{{errors[0]}}</div>
                                                    </ValidationProvider>
                                                    <ValidationProvider v-slot="{errors}" tag="div" name="confirm password" rules="required" vid="password_confirmation" class="col-md-4 form-group position-relative">
                                                        <label for="inputEmail4">Confirm Password*</label>
                                                        <input ref="password_confirmation" v-model="form.password_confirmation" type="password" class="form-control" placeholder="Retype New Password">
                                                        <button type="button" @click="togglePasswordType('password_confirmation')" class="view-btn position-absolute"><i class="fa fa-eye"></i></button>
                                                        <div class="text-danger">{{errors[0]}}</div>
                                                    </ValidationProvider>
                                                </div>
                                                <button type="submit" class="sub-admin-add">UPDATE</button>
                                            </form>
                                        </ValidationObserver>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>
<script>
	export default{
		data () {
		  return {
		    form:{},
		  };
		},
		methods: {
		  async update() {
		  	try {
		  		// statements
		  		let fd = new FormData();
		  		this.buildFormData(fd,this.form);
		    let {data} = await axios.post(route('admin.account.password'),fd);
			    if(data.status){
			    	this.$snotify.success(data.msg);
			    	this.$router.push({name : 'admin.account.index'});
			    }
		  	} catch(e) {
		  		// statements
		  		if(e.response){
		  			this.$refs.observer.setErrors(e.response.data.errors);
		  		}
		  		console.log(e);
		  	}
		  }
		}
	}
</script>
