<template>
    <section class="add-emloyee-box">
        <div class="container">
            <h1>Add Employee</h1>
            <hr>
            <ValidationObserver ref="observer" v-slot="{handleSubmit}">
                <form ref="form" @submit.prevent="handleSubmit(add)">
                    <ValidationProvider rules="required" vid="name" name="Name" v-slot="{errors}" class="form-group">
                        <label for="exampleInputEmail1">Employee_Name:*</label>
                        <input type="text" v-model="form.name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Employee_Name">
                        <div class="text-danger">{{errors[0]}}</div>
                    </ValidationProvider>
                    <ValidationProvider rules="required" vid="email" name="Email" v-slot="{errors}" class="form-group">
                        <label for="exampleInputEmail1">Employee Email Address:*</label>
                        <input type="email" v-model="form.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Employee Email Address">
                        <div class="text-danger">{{errors[0]}}</div>
                    </ValidationProvider>
                    <ValidationProvider rules="required" vid="phone" name="Phone" v-slot="{errors}" class="form-group">
                        <label for="exampleInputEmail1">Employee Phone Number:*</label>
                        <input type="number" v-model="form.phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Employee Phone Number">
                        <div class="text-danger">{{errors[0]}}</div>
                    </ValidationProvider>
                    <ValidationProvider rules="required" vid="gender" name="Gender" v-slot="{errors}" class="form-group">
                        <label for="inputState">Employee Gender:*</label>
                        <select v-model="form.gender" id="inputState" class="form-control">
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <div class="text-danger">{{errors[0]}}</div>
                    </ValidationProvider>
                    <ValidationProvider tag="div" name="Property" rules="required" vid="phone" class="form-group" v-slot="{errors}">
                        <label for="inputState">Assign Property:*</label>
                        <select class="form-control" v-model="form.property">
                            <option :key="property.id" v-for="property in properties.data" :value="property.id">{{property.name}}</option>
                        </select>
                        <div class="text-danger">{{errors[0]}}</div>
                    </ValidationProvider>
                    <!-- <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="width:50%;"> -->
                    <button type="submit" class="add-emloyeebox-btn">ADD</button>
                </form>
            </ValidationObserver>
            <success title="System Message" subtitle="Employee has been added successfully!" @success="action">
                <router-link data-dismiss="modal" :to="{name : 'web.employees.show',params : {employee : employee.employee_id } }"><small>View Employee Details</small></router-link>
            </success>
        </div>
    </section>
</template>
<script>
import { mapActions, mapState } from 'vuex';
const success =  () => import('@views/Partials/web/popups/Success.vue');
export default {
    components : {
        success,
    },
    data() {
        return {
            employee : {},
            form: {
                name: '',
                email: '',
                phone: '',
                gender: '',
                property: '',
            },
        };
    },
    computed: { 
        ...mapState('property', ['properties']),
    },
    created() {
        let params = {
            route: route('property.index'),
        };
        this.getAll(params);
    },
    methods: {
        ...mapActions('property', ['getAll']),
        ...mapActions('employee', ['store']),
        action(){
        },
        async add() {

            let fd = new FormData();
            this.buildFormData(fd, this.form);

            let params = {
                route: route('employee.store'),
                data: fd,
            };
            // alert(params);
            let { data } = await this.store(params);
            if (data.status) {
                // this.$snotify.success(data.msg);
                this.$refs.form.reset();
                this.form = {
                    name: '',
                    email: '',
                    phone: '',
                    gender: '',
                    property: '',
                };
                if(data.employee){
                    this.employee = data.employee;
                    this.$refs.observer.reset();
                    window.$('#successPopup').modal('show');
                }
                // this.$router.push({ name: 'web.employee.index' });
            }
        },
        decrease(field) {
            if (this.form[field] > 0) {
                this.form[field]--;
            }
        },
        increase(field) {
            this.form[field]++;
        },
    }
}

</script>
