<template>
    <section class="list-employee">
        <div class="container">
            <h1>Employee List</h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <small>Total Employees: 123</small>
                </div>
                <div class="col-md-6">
                    <div class="input-group md-form form-sm form-2 pl-0">
                        <input class="form-control my-0 py-1 lime-border" type="text" v-model="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <span class="input-group-text lime lighten-2" id="basic-text1">
                                <i class="fas fa-search text-grey" aria-hidden="true"></i>
                            </span>
                        </div>
                        <router-link :to="{name : 'web.employees.create'}" class="add-employees-btn"><i class="fas fa-plus-circle"></i> ADD EMPLOYEE</router-link>
                    </div>
                </div>
            </div>
            <div class="row">
                <div v-for="employee in employees.data" class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="dropdown">
                                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <router-link class="dropdown-item" :to="{name : 'web.employees.show',params : { employee : employee.employee_id } }"><i class="fas fa-eye"></i> VIEW EMPLOYEE PROFILE</router-link>
                                    <a @click="deleteEmployee(employee)" class="dropdown-item" href="javascript:void(0)"><i class="fas fa-trash"></i> DELETE EMPLOYEE</a>
                                    <router-link class="dropdown-item" :to="{name : 'web.employees.tasks', params : {employee : employee.employee_id} }"><i class="fas fa-clipboard-check"></i> ASSIGNED TASK</router-link>
                                </div>
                            </div>
                            <img src="assets/images/download.png" alt="">
                            <h5 class="card-title">{{employee.name}}</h5>
                            <small>Employee_Id {{employee.id}}</small>
                            <p class="card-text">Assigned Properties: {{employee.properties_count || 0}} <br> Assigned Tasks: {{employee.tasks_count || 0}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 " v-if="!$_.isUndefined(employees.data) &&  employees.data.length == 0">
                            <h3 class="text-center">No Employee Found</h3>
                        </div>
            </div>
        </div>
        <section class="pagination-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        
                    </div>
                    <div class="col-md-6">
                        <pagination :data="employees" @pagination-change-page="fetch"></pagination>
                    </div>
                </div>
            </div>
        </section>
        <assign-task @task-assigned="fetch" v-if="exclude" :exclude="exclude" :key="assignTask" @closed="popupClosed"></assign-task>
        <success el="confirm-popup" title="System Message" subtitle="Sorry! You won't be able to delete this employee until you assign his/her tasks to any other employee!">
            <template slot="footer">
                <a href="javascript:void(0)" data-toggle="modal" data-target="#assign-task" @click="showEmployeesPopup('#confirm-popup')" class="emplyee-add-btn">Assign Another employee</a>
                <a href="javascript:void(0)" data-dismiss="modal" class="emplyee-add-btn">Close</a>
            </template>
        </success>
    </section>
</template>
<script>
import { mapActions, mapState, mapMutations } from 'vuex';
const AssignTask = () => import('./components/AssignTask.vue');
const Success = () => import('@views/Partials/web/popups/Success.vue');
export default {
    async created() {
        await this.fetch();
        this.fetch = _.debounce(this.fetch, 500);
    },
    data() {
        return {
            assignTask: 0,
            exclude: '',
            search: '',
        };
    },
    watch: {
        search(val, oldVal) {
            this.fetch();
        }
    },
    components: {
        AssignTask,
        Success,
    },
    computed: {
        ...mapState('employee', ['employees']),
    },
    methods: {
        ...mapActions('employee', ['getAll', 'delete']),
        async deleteEmployee(employee) {

            let { pending_tasks, id } = employee;
            // alert(_total_tasks_pending);
            if (pending_tasks == 0) {
                let params = {
                    route: route('employee.destroy', { employee: employee.id }),
                    method: 'DELETE',
                    mutation: '',
                    data: {},
                }
                let { data } = await this.delete(params);
                if (data.status) {
                    this.$snotify.success(data.msg);
                }
            } else {
                this.exclude = employee.id;
                this.assignTask++;
                $('#confirm-popup').modal('show');
            }
        },
        async fetch(page = 1) {
            let params = {
                route: route('employee.index'),
                data: {
                    page: page,
                    search: this.search,
                },
            };
            await this.getAll(params);
        },
        popupClosed() {
            this.assignTask++;
        },
        showEmployeesPopup(el) {
            $(el).modal('hide');
            $('#assign-task').modal('show');
        }
    }
}

</script>
