<template>
    <section class="new-employee-formbox">
        <div class="container">
            <span class="emp-green">Emp_Id: E-12</span>
            <h1>View Employee</h1>
            <hr>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Employee_Name:*</label>
                    <input type="text" :value="employee.name" disabled class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Employee Email Address:*</label>
                    <input type="email" :value="employee.name" disabled class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="NA">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Employee Gender:*</label>
                    <input type="text" :value="employee.gender" disabled class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="NA">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Assigned Property:</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" :placeholder="`Total Properties: ${employee.properties_count || 0}, Total Tasks :${employee.tasks_count || 0}`">
                </div>
                <a href="view-employee.php" class="assign-property-btn">Assign Property</a><br>
                <h6>Login Details:</h6>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email Address:</label>
                    <input type="email" disabled class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" :placeholder="employee.email">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Auto-generated Password:</label>
                    <input type="text" disabled class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" :placeholder="employee.generated_password || 'NA'">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Unique Code:</label>
                    <input type="text" disabled class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" :placeholder="employee.code || 'NA'">
                </div>
            </form>
            <a href="#" class="assign-property-btn">Send Login Details To Employee</a><br>
        </div>
    </section>
</template>
<script>
	import {mapActions , mapState } from 'vuex';
	export default{
		async created(){
			await this.fetch();
			await this.getAll();
		},
		computed: {
		  ...mapState('employee',['employee']),
        ...mapState('property', ['properties']),
		},
		methods: {
			...mapActions('property', ['getAll']),
			...mapActions('employee',['get']),
		  async fetch(){
		  	let { employee } = this.$route.params; 
		  	let params = {
		  		route : route('employee.show',{employee }),
		  		data : {},
		  	};
		  	await this.get(params);
		  }
		}
	}
</script>