<template>
    <section class="new-employee-formbox">
        <div class="container">
            <span class="emp-green">Emp_Id: E-{{employee.id}}</span>
            <h1>View Employee</h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h6> Employee Personal Details:</h6>
                </div>
                <div class="col-md-6">
                    <a href="view-employee-detail-page.php" class="assign-property-btn">View Profile</a>
                </div>
                <div class="col-md-12">
                    <p>Employee_Name:</p>
                    <p class="text-muted">{{employee.name}}</p>
                    <p>Employee Email Address:</p>
                    <p class="text-muted">{{employee.email}}</p>
                    <p>Employee Gender:</p>
                    <p class="text-muted">{{employee.gender}}</p>
                    <p>Assigned Property:</p>
                    <p class="text-muted">Total Properties: {{employee.properties_count || 0}}, Total Tasks :{{employee.tasks_count || 0}}</p>
                </div>
            </div>
            <a href="javascript:void(0)" @click="assignPoperty++" class="assign-property-btn" data-toggle="modal" data-target="#assign-property">Assign
                Property</a><br>
            <div class="card">
                <div class="input-group md-form form-sm form-2 pl-0 my-search">
                    <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <span class="input-group-text lime lighten-2" id="basic-text1">
                            <i class="fas fa-search text-grey" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div :key="property.id" v-for="property in employee.properties" class="media">
                    <img src="assets/images/view-emp-1.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <span>{{property.name}} <br> Property_ID: P-{{property.id}}</span>
                        <a @click="remove(property)" href="javascript:void(0)" class="remove-property-btn">Remove Property</a>
                    </div>
                </div>
                <div v-if="typeof employee.properties != 'undefined' && employee.properties.length == 0" class="media">
                	<h4 class="text-center">No Any Property Assigned</h4>
                </div>
            </div>
                <div class="col-md-12">
                    <h6>Login Details:</h6>
                </div>
                <div class="col-md-12">
                    <p>Email Address:</p>
                    <p class="text-muted">{{employee.email}} copy</p>
                    <p>Auto-generated Password:</p>
                    <p class="text-muted">{{employee.generated_password || 'NA'}}</p>
                    <p>Unique Code:</p>
                    <p class="text-muted">{{employee.code || 'NA'}}</p>
                </div>
                <a href="#" class="assign-property-btn" data-toggle="modal" data-target="#exampleModal-remove">Send Login
                    Details To Employee</a><br>
                <a href="#" class="assign-property-close-btn">Close</a>
                <!-- <a href="#" class="assign-employee-btn" data-toggle="modal" data-target="#exampleModalCenter">assign employee</a> -->
            </div>
            <assign-property :key="assignPoperty" @closed="popupClosed" @assigned-property="updateProperties"></assign-property>
    </section>
</template>
<script>
import { mapActions, mapState,mapMutations } from 'vuex';
const AssignProperty = ()=> import('./components/AssignProperty.vue');
export default {
    async created() {
        await this.fetch();
        // await this.getAll();
    },
    data () {
      return {
        assignPoperty:0,
      };
    },
    components : {
    	AssignProperty,
    },
    computed: {
        ...mapState('employee', ['employee']),
        ...mapState('property', ['properties']),
    },
    methods: {
        ...mapActions('property', ['getAll']),
        ...mapActions('employee', ['get', 'store']),
        ...mapMutations('employee',['set_properties']),
        async remove(property) {
            let { _total_tasks_pending, id } = property;
            let { employee } = this.$route.params;
            // alert(_total_tasks_pending);
            if (_total_tasks_pending == 0) {
                let params = {
                    route: route('employee.remove-property', { employee }),
                    method: 'POST',
                    mutation: 'remove_property',
                    data: {
                        property: id,

                    },
                }
                let { data } = await this.store(params);
                if (data.status) {

                }
            }
        },
        async fetch() {
            let { employee } = this.$route.params;
            let params = {
                route: route('employee.show', { employee }),
                data: {},
            };
            await this.get(params);
        },
        popupClosed(){
        	this.assignPoperty++;
        },
        updateProperties(property){
        	// console.log(property);
        	this.set_properties(property);
        }
    }
}

</script>
