<template>
    <section class="assign-task-box">
        <div class="container">
            <h1>Employee Assigned Tasks</h1>
            <hr>
            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne1">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                            <h5 class="mb-0">
                                <i class="fas fa-chevron-circle-down"></i> Recently Assigned
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                        <div class="card-body">
                            <div v-for="tasks in task.recentTasks" class="row">
                                <div class="col-md-6">
                                    <i class="fas" :class="{'fa-check-circle' : tasks.status == 1,'fa-times-circle' : tasks.status == 0}"></i>
                                    <span class="gray-text">{{tasks.name}}</span>
                                </div>
                                <div class="col-md-4">
                                    <form>
                                        <div class="form-group">
                                            <p>{{tasks.property.name}}</p>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-2">
                                    <span class="days-green">{{tasks.task_date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingTwo2">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                            <h5 class="mb-0">
                                <i class="fas fa-chevron-circle-down"></i> Today
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                        <div class="card-body">
                            <div v-for="tasks in task.todaystasks" class="row">
                                <div class="col-md-6">
                                    <i class="fas" :class="{'fa-check-circle' : tasks.status == 1,'fa-times-circle' : tasks.status == 0}"></i>
                                    <span class="gray-text">{{tasks.name}}</span>
                                </div>
                                <div class="col-md-4">
                                    <form>
                                        <div class="form-group">
                                            <p>{{tasks.property.name}}</p>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-2">
                                    <span class="days-green">{{tasks.task_date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingThree3">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                            <h5 class="mb-0">
                                <i class="fas fa-chevron-circle-down"></i> Upcoming
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                        <div class="card-body">
                            <div v-for="tasks in task.upcomingTasks" class="row">
                                <div class="col-md-6">
                                    <i class="fas" :class="{'fa-check-circle' : tasks.status == 1,'fa-times-circle' : tasks.status == 0}"></i>
                                    <span class="gray-text">{{tasks.name}}</span>
                                </div>
                                <div class="col-md-4">
                                    <form>
                                        <div class="form-group">
                                            <p>{{tasks.property.name}}</p>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-2">
                                    <span class="days-green">{{tasks.task_date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->
            </div>
            <!-- Accordion wrapper -->
        </div>
    </section>
</template>
<script>
import { mapActions, mapState, mapMutations } from 'vuex';
export default {
    async created() {
        await this.fetch();
        // await this.getAll();
    },
    data() {
        return {
            assignPoperty: 0,
            task : {},
        };
    },
    computed: {
        // ...mapState('employee', ['task']),
    },
    methods: {
        ...mapActions('employee', ['get', 'store']),
        async fetch() {
            let { employee } = this.$route.params;
            let params = {
                route: route('employee.get-tasks', { employee }),
                data: {},
            };
            let { data } = await this.get(params);
            this.task = data.task;
        },
    }
}

</script>
