<template>
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="configuration" class="search view-cause">
                <div class="row">
                    <div class="col-12">
                        <div class="card pad-20">
                            <div class="card-content collapse show">
                                <div class="card-body table-responsive card-dashboard">
                                    <h2>TASK LOG</h2>
                                    <div class="row">
                                        <div class="col-12 d-block d-sm-flex for-between2">
                                            <div class="left">
                                            </div>
                                            <form class="mr-2">
                                                <input v-model="from" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                            </form>
                                            <form>
                                                <input v-model="to" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                            </form>
                                            <div class="right">
                                                <a href="javascript:void(0)" @click="taskDateFilter()">APPLY/CLEAR</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row maain-tabble mt-3">
                                        <table-search></table-search>
                                        <table class="table table-striped table-bordered zero-configuration">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Emp_ID</th>
                                                    <th>Emp_Name</th>
                                                    <th>Task Id</th>
                                                    <th>Task Title</th>
                                                    <th>Assigned Date</th>
                                                    <th>Due Date</th>
                                                    <th>Task Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(task,index) in tasks.data">
                                                    <td>{{serialNumber('tasks',index)}}</td>
                                                    <td>{{task.task?task.task.employee_id : 'NA'}}</td>
                                                    <td>{{task.task?task.task.employee.name : 'NA'}}</td>
                                                    <td>{{task.id}}</td>
                                                    <td>{{task.name}}</td>
                                                    <td>{{formatDate(task.created_at) }}</td>
                                                    <td>{{formatDate(task.due_date)}}</td>
                                                    <td>{{task.status_text}}</td>
                                                    <td>
                                                        <div class="btn-group mr-1 mb-1">
                                                            <button type="button" class="btn  btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-start" style="position: absolute; transform: translate3d(4px, 23px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                               <router-link class="dropdown-item" :to="{name : 'admin.logs.show',params : { task : task.task_id} }"><i class="fa fa-eye"></i> VIEW</router-link>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <no-record tag="tr" :colspan="9" :data="tasks.data" class="col-md-3"></no-record>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <pagination :data="tasks" @pagination-change-page="fetch"></pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
export default {
    data() {
        return {
            selectedProperty: '',
            status: 'Completed',
            from: '',
            to: '',
            dateFilterCounter : 0,
        };
    },
    computed: {
        ...mapState('admin', ['tasks','search']),
    },

    async created() {
        await this.fetch();
    },
    watch: {
        status(val, oldVal) {
            this.fetch();
        },
        search(val, oldVal) {
            this.fetch();
        }
    },
    methods: {
        ...mapActions('admin', ['getAll']),
        ...mapActions({
            getProperties: 'property/getAll',
        }),
        taskDateFilter() {
            if (this.from !== '' && this.to !== '' && (this.dateFilterCounter % 2 == 0) ) {
                this.fetch();
            } else {
                this.from = '';
                this.to = '';
                this.fetch();
            }

            this.dateFilterCounter++;
        },
        async fetch(page = 1) {
            let params = {
                route: route('admin.task.index'),
                mutation: 'SET_TASKS',
                variable: 'tasks',
                data: {
                    page,
                    property_id: this.selectedProperty,
                    status: this.status,
                    from: this.from,
                    to: this.to,
                    search : this.search,

                },
            };
            let { data } = await this.getAll(params);

        },
        async fetchProperties() {
            let params = {
                route: route('property.index'),
                mutation: 'index',
                data: {},
            };
            await this.getProperties(params);
        }
    }
}

</script>
