<template>
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="configuration" class="search view-cause">
                <div class="row">
                    <div class="col-12">
                        <div class="card pad-20">
                            <div class="card-content collapse show">
                                <div class="card-body table-responsive card-dashboard">
                                    <router-link :to="{name : 'admin.logs.index'}">
                                        <h2>
                                            < TASK DETAILS</h2> </router-link> <section class="task-log-completed-box">
                                                <div class="">
                                                    <<div class="row">
                                                        <div class="col-md-2">
                                                            <h6>Emp Id {{task.task?task.task.employee_id : 'NA'}}</h6>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <h6 class="for-floating">Task Id {{task.id}}</h6>
                                                        </div>
                                                        <div class="col-md-2 mt-2">
                                                            <h6>Employee:</h6>
                                                        </div>
                                                        <div class="col-md-10 mt-2">
                                                            <span class="gray-color">{{task.task?task.task.employee.name : 'NA'}}</span>
                                                        </div>
                                                        <div class="col-md-2 mt-2">
                                                            <h6>Task Title:</h6>
                                                        </div>
                                                        <div class="col-md-10 mt-2">
                                                            <span class="gray-color">{{task.name || 'NA'}}</span>
                                                        </div>
                                                        <div class="col-md-2 mt-2">
                                                            <h6>Assignee:</h6>
                                                        </div>
                                                        <div class="col-md-10 mt-2">
                                                            <span class="gray-color" v-if="task.property"><i class="fas fa-user-circle"></i> {{task.property.owner.name}}</span>
                                                        </div>
                                                        <div class="col-md-2 mt-2">
                                                            <h6>Due Date:</h6>
                                                        </div>
                                                        <div class="col-md-10 mt-2">
                                                            <span class="gray-color">{{formatDate(task.due_date)}}</span>
                                                        </div>
                                                        <div class="col-md-2 mt-2">
                                                            <h6>Time:</h6>
                                                        </div>
                                                        <div class="col-md-10 mt-2">
                                                            <span class="gray-color">{{task.start}} To {{task.to}}</span>
                                                        </div>
                                                        <div class="col-md-2 mt-2">
                                                            <h6>Property:</h6>
                                                        </div>
                                                        <div class="col-md-10 mt-2">
                                                            <span class="gray-color" v-if="task.property">{{task.property.name}}</span>
                                                        </div>
                                                        <div class="col-md-2 mt-2">
                                                            <h6>Description:</h6>
                                                        </div>
                                                        <div class="col-md-10 mt-2">
                                                            <span class="gray-color">{{task.description || 'NA'}}</span>
                                                        </div>
                                                        <div class="col-md-2 mt-2">
                                                            <h6>Task Status:</h6>
                                                        </div>
                                                        <div class="col-md-10 mt-2">
                                                            <span class="gray-color">{{task.status_text}}</span>
                                                        </div>
                                                </div>
                                </div>
            </section>
        </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
export default {
    async created() {
        await this.fetch();
    },
    computed: {
        ...mapState('admin', ['task']),
    },
    methods: {
        ...mapActions('admin', ['get']),
        async fetch() {
            let { task } = this.$route.params;
            let params = {
                route: route('admin.task.show', { task }),
                mutation : 'SET_TASK',
                variable : 'task',
                data: {},
            };
            try {
                // statements
                await this.get(params);

            } catch (e) {
                // statements
                this.$router.push({ name: 'admin.404' })
                console.log(e);
            }
        }
    }
}

</script>
