<template>

<div class="app-content dashboard">
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="configuration">
                <div class="row">
                    <div class="col-12">
                        <div class="card ">
                            <div class="card-content collapse show">
                                <div class="card-dashboard">
                                    <div class="row">
                                        <div class="col-12">
                                            <h1 class="mb-2"><i class="fas fa-chevron-left mr-1"></i> FEEDBACK DETAILS</h1>
                                        </div>
                                    </div>

                                    <div class="custom-card">
                                        <div class="card-heading">
                                            <p>feeback</p>
                                            <p></p>
                                        </div>
                                      
                                        <div class="card-area">
                                            <div class="text-md-right text-left">
                                                    <p class="form-heading mb-0">Registration Date :</p>
                                                    <p>{{formatDate(feedback.created_at)}}</p>

                                            </div>
                                            <div class="profile-picture-div">
                                                
                                                <img :src = "(feedback.profile_image)?feedback.profile_image:'public/images/img-placeholder.png'" class="profile-pic img-fluid" alt="">
        
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-field">
                                                        <label for="" class="site-label">First Name*</label>
                                                        <input type="text" class="site-input" placeholder="E.g James" :value="`${feedback.first_name}`" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-field">
                                                        <label for="" class="site-label">Last Name*</label>
                                                        <input type="text" class="site-input"  :value="`${feedback.last_name}`" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-field">
                                                        <label for="" class="site-label">Email*</label>
                                                        <input type="email" class="site-input"  :value="`${feedback.email}`" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-field">
                                                        <label for="" class="site-label">Subject*</label>
                                                        <input type="text" class="site-input"  :value="`${feedback.subject}`" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-field">
                                                        <label for="" class="site-label">Address*</label>
                                                        <input type="text" class="site-input"  :value="`${(feedback.address)?feedback.address:''}`" readonly>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


</template>
<script>
import { mapActions, mapState } from 'vuex';

export default {
	computed: {
		...mapState('admin', ['feedback']),
	},
	created() {
		this.fetch();
	},
	methods: {
		...mapActions('admin', ['getAll']),
		async fetch(page = 1) {
			let { feedback } = this.$route.params;
			let params = {
				route: route('admin.feedback.show', { feedback }),
				mutation: 'SET_FEEDBACK',
				variable: 'feedback',
				data: {}
			};
			let { data } = await this.getAll(params);

		}
	}
}

</script>