<template>
    <section class="">
        <div class="container">
            <div class="boad-top-bar">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <router-link class="nav-link" :to="{ name: 'projects.tm' }">Board</router-link>
                            </li>
                            <li class="nav-item">
                                <router-link class="nav-link active" :to="{ name: 'projects.calender' }">Calendar</router-link>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-5">
                        <div class="csmtr-project-listing-srch2 w-100">
                            <input type="text">
                            <button type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>

                </div>
                <!--top row end-->



            </div>
            <!--boad top bar end-->

            <div class="tab-content ">
                <div id="calendar" class="container tab-pane active p-0">
                    <div id="dayspan">
                        <Calender :calendarEvents="calendarEvents" :people="people" v-cloak/>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    import Calender from "./calender/Calender";
    export default {
        data() {
            return {
                people: [],
                calendarEvents: [],
                
            }
        },
        components: {
            Calender
        },
        beforeMount(){
            localStorage.removeItem('dayspanState')
        },
        mounted() {
            this.fetchEvents();
            this.lookupUser();
        },
        methods: {
            lookupUser(){
                axios.post(`/events/lookup-users/all`, {})
                    .then(({data}) => {
                        this.people = data;
                    });
            },
            fetchEvents(){
                axios.get(`/events`, {})
                    .then(({data}) => {
                        this.calendarEvents = data.data;
                    });
            },            
        },
        watch: {}
    }
</script>

<style>
    .boad-top-bar{
        border: none;
    }
    nav .v-menu--inline {
        display: none !important;
    }
</style>