<template>
    <div>project log </div>
</template>

<script>
    import {TheMask} from 'vue-the-mask'
    export default {
        data(){
            return {
                job: undefined,
            }
        },
        components: {
            TheMask
        },
        mounted() {
            this.getJob();
        },
        methods: {
            getJob(){
                axios.get(`/jobs/${this.$route.params.id}`)
                    .then(data => {
                        this.job = data.data.data;
                    });
            },
        }
    }
</script>
