<template>
    <section class="cstmr-project-activity-main">
        <div class="container">


            <div class="row">
                <div class="col-lg-3 cstmr-project-activity-left">
                    <h3 class="table-h3">My Projects</h3>
                    <div class="csmtr-project-listing-srch">
                        <vue-typeahead-bootstrap
                        v-model="query"
                        :data="tags"
                        placeholder="Search by Tags"
                        :serializer="item => item.name"
                        @hit="setTag($event)"                                    
                        @input="lookupKeywords">

                            <template slot="suggestion" slot-scope="{ data, htmlText }">
                                <div class="d-flex align-items-center">
                                    <span class="ml-4" v-html="htmlText"></span>
                                </div>
                            </template>

                        </vue-typeahead-bootstrap>
                        <button><i class="fas fa-search"></i></button>
                    </div>
                    <div class="csm-listing-left-tags">
                        <p v-bind:key="ti" v-for="(tag, ti) in selected">{{ tag }}
                            <a @click="removeTag(tag)" href="javascript:;"><i class="fas fa-times"></i></a>
                        </p>
                        <p class="pl-1" v-if="selected.length == 0">No Tag selected yet</p>
                    </div>
                    <a href="javascript:;" class="main-blue-btn fa-pull-left mt-0">Filter</a>

                </div>
                <!--left col end-->

                <div class="col-lg-9 cstmr-project-activity-right" v-if="project">
                    <h3>{{project.name}}</h3>

                    <div class="mt-2 mb-2">
                        <a href="javascript:;" class="main-blue-btn">Details</a>
                    </div>

                    <div class="cstm-pro-job-inner">
                        <h5>Project Description</h5>
                        <p>{{project.description}}</p>
                    </div>


                    <div class="cstm-pro-job-inner">
                        <h5>Attachements</h5>
                        <span style="cursor: pointer"
                            v-bind:key="mindex" 
                            v-for="(media, mindex) in project.media"
                            @click="openLink(media.getFullUrl)"
                            class="project-attach-cv">
                            <img :src="getIconByMimeType(media.mime_type)" alt="">
                            {{media.file_name}}
                        </span>

                        <p class="mb-2">REQUIRED SKILLS</p>
                        <p class="col-12">
                            <ul style="list-style:circle">
                                <li v-for="(skill, sindex) in project.skills.split(',')" v-bind:key="sindex">{{ skill }}</li>
                            </ul>
                        </p>

                    </div>

                    <div v-if="project.type == 0" class="activty-jobs-gry">
                        <p>ESTIMATED DURATION: <span>{{project.duration}} Month</span></p>
                        <p>ESTIMATED BUDGET: <span>{{formatAmount(project.budget)}}</span></p>
                        <!-- <p>ASSIGNED USER: <span>Web Developer</span></p> -->
                    </div>

                    <div v-if="project.type == 1" class="activty-jobs-gry">
                        <table class="table">
                            <tr>
                                <th>S.no</th>
                                <th>Job Title</th>
                                <th>Category</th>
                                <th>Duration</th>
                                <th>Budget</th>
                                <th>Bids</th>
                            </tr>
                            <tbody>
                                <tr v-bind:key="jobindex" v-for="(job, jobindex) in project.jobs">
                                    <td>{{++jobindex}}</td>
                                    <td>{{job.title}}</td>
                                    <td>{{job.category}}</td>
                                    <td>{{job.duration}} Month</td>
                                    <td>{{formatAmount(job.budget)}}</td>
                                    <td>{{job.bids.length}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                    

                </div>
                <!--right col end-->
            </div>
            <!--main row end-->

        </div>
        <!--container end-->
    </section>
</template>

<script>
    import VueTypeaheadBootstrap from 'vue-typeahead-bootstrap';
    import {
        TheMask
    } from 'vue-the-mask'
    export default {
        data() {
            return {
                project: undefined,
                tags: [],
                query: '',
                selected: [],                
            }
        },
        components: {
            TheMask, VueTypeaheadBootstrap
        },
        mounted() {
            this.getProject();
        },
        methods: {
            openLink(url){
                window.open(url, "_blank");
            },
            getProject() {
                axios.get(`/projects/${this.$route.params.id}`)
                    .then(({data}) => {
                        this.project = data.project;
                    });
            },
            setTag(event){
                console.log('setTag',event);
                this.selected = [event.name , ...this.selected];
                this.query = '';
            },
            removeTag(event){
                console.log('removeTag',event);
                let removeIndex = this.selected.map(function(item) { return item.name; }).indexOf(event.name);
                this.selected.splice(removeIndex, 1);                
            },            
            lookupKeywords(){
                axios.get(`/get-keyword?disbloadr=true&query=${this.query}`)
                    .then(data => {
                        this.tags = data.data;
                    });
            }, 
        }
    }
</script>