<template>
    <div class="app-content dashboard">
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="configuration">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content collapse show">
                                <div class="card-dashboard">
                                    <div class="row">
                                        <div class="col-12">
                                            <h1 class="mb-2">agents</h1>
                                        </div>
                                    </div>
                                    <ul class="nav nav-pills agent-pills" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Manager's Agents</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">My Agents</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                            <div class="text-md-right text-left mb-2">
                                                <a href="inactive-agents.php" class="site-btn lg-btn blue">INACTIVE AGENTS</a>
                                                <a href="agents-register.php" class="site-btn lg-btn orange text-uppercase ml-2">register AGENTS</a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="maain-tabble table-responsive">
                                                <table class="table table-striped table-bordered zero-configuration">
                                                    <thead>
                                                        <tr>
                                                            <th>S.NO</th>
                                                            <th>AGENT ID</th>
                                                            <th>FULL NAME</th>
                                                            <th>REGISTRATION DATE</th>
                                                            <th>FEE</th>
                                                            <th>MANAGER ID</th>
                                                            <th>FULL NAME</th>
                                                            <th>ACTIONS</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr v-for="(user,index) in users.data">
                                                            <td>{{serialNumber('feedbacks',index)}}</td>
                                                            <td>{{user.id}}</td>
                                                            <td>{{user.first_name}} {{user.last_name}}</td>
                                                            <td>{{formatDate(user.created_at)}}</td>
                                                            <td></td>
                                                            <td>{{user.manager_id}}</td>
                                                            <td></td>
                                                            <td>
                                                                <div class="btn-group custom-dropdown ml-2 mb-1">
                                                                    <button type="button" class="btn btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                                                    <div class="dropdown-menu custom-dropdown"> 
                                                                        <a class="dropdown-item" href="payment-detail.php" data-toggle="modal" data-target=".inactiveAgent"><i class="fa fa-eye-slash"></i>INACTIVE </a> 
                                                                        <a class="dropdown-item" data-toggle="modal" data-target=".assignTask"><i class="fas fa-edit"></i>ASSIGN NEW TASK</a>
                                                                        <a href="agent-profile.php" class="dropdown-item" ><i class="fa fa-user-circle" aria-hidden="true"></i>View Profile</a>
                                                                        <a class="dropdown-item" href="view-assigned-activities.php"><i class="fas fa-clipboard-list"></i>View Assigned Activities</a> 
                                                                        <a class="dropdown-item" href="monthly-progress.php"><i class="fas fa-chart-line"></i>View Monthly Progress</a>
                                                                        <a class="dropdown-item" href="discussion-board.php"><i class="fas fa-comment"></i>View Discussion Board</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>02</td>
                                                            <td>001</td>
                                                            <td>Abc</td>
                                                            <td>May 2 ,2020</td>
                                                            <td>$123</td>
                                                            <td>002</td>
                                                            <td>Abc</td>
                                                            <td>
                                                                <div class="btn-group custom-dropdown ml-2 mb-1">
                                                                    <button type="button" class="btn btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                                                    <div class="dropdown-menu custom-dropdown"> 
                                                                        <a class="dropdown-item" href="payment-detail.php" data-toggle="modal" data-target=".inactiveAgent"><i class="fa fa-eye-slash"></i>INACTIVE </a> 
                                                                        <a class="dropdown-item" data-toggle="modal" data-target=".assignTask"><i class="fas fa-edit"></i>ASSIGN NEW TASK</a>
                                                                        <a href="agent-profile.php" class="dropdown-item"><i class="fa fa-user-circle" aria-hidden="true"></i>View Profile</a>
                                                                        <a class="dropdown-item" href="view-assigned-activities.php"><i class="fas fa-clipboard-list"></i>View Assigned Activities</a> 
                                                                        <a class="dropdown-item" href="monthly-progress.php"><i class="fas fa-chart-line"></i>View Monthly Progress</a>
                                                                        <a class="dropdown-item" href="discussion-board.php"><i class="fas fa-comment"></i>View Discussion Board</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>03</td>
                                                            <td>001</td>
                                                            <td>Abc</td>
                                                            <td>May 2 ,2020</td>
                                                            <td>$123</td>
                                                            <td>002</td>
                                                            <td>Abc</td>
                                                            <td>
                                                                <div class="btn-group custom-dropdown ml-2 mb-1">
                                                                    <button type="button" class="btn btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                                                    <div class="dropdown-menu custom-dropdown"> 
                                                                        <a class="dropdown-item" href="payment-detail.php" data-toggle="modal" data-target=".inactiveAgent"><i class="fa fa-eye-slash"></i>INACTIVE </a> 
                                                                        <a class="dropdown-item" data-toggle="modal" data-target=".assignTask"><i class="fas fa-edit"></i>ASSIGN NEW TASK</a>
                                                                        <a class="dropdown-item" href="agent-profile.php"><i class="fa fa-user-circle" aria-hidden="true"></i>View Profile</a>
                                                                        <a class="dropdown-item" href="view-assigned-activities.php"><i class="fas fa-clipboard-list"></i>View Assigned Activities</a> 
                                                                        <a class="dropdown-item" href="monthly-progress.php"><i class="fas fa-chart-line"></i>View Monthly Progress</a>
                                                                        <a class="dropdown-item" href="discussion-board.php"><i class="fas fa-comment"></i>View Discussion Board</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div> 
                                        </div>
                                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                            <div class="text-md-right text-left mb-2">
                                                    <a href="inactive-agents.php" class="site-btn lg-btn blue">INACTIVE AGENTS</a>
                                                    <a href="agents-register.php" class="site-btn lg-btn orange text-uppercase ml-2">register AGENTS</a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="maain-tabble table-responsive">
                                                <table class="table table-striped table-bordered zero-configuration">
                                                    <thead>
                                                        <tr>
                                                            <th>S.NO</th>
                                                            <th>AGENT ID</th>
                                                            <th>FULL NAME</th>
                                                            <th>REGISTRATION DATE</th>
                                                            <th>FULL NAME</th>
                                                            <th>ACTIONS</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>01</td>
                                                            <td>001</td>
                                                            <td>Abc</td>
                                                            <td>May 2 ,2020</td>
                                                            <td>Abce</td>
                                                            <td>
                                                                <div class="btn-group custom-dropdown ml-2 mb-1">
                                                                    <button type="button" class="btn btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                                                    <div class="dropdown-menu custom-dropdown"> 
                                                                        <a class="dropdown-item" href="payment-detail.php" data-toggle="modal" data-target=".inactiveAgent"><i class="fa fa-eye-slash"></i>ACTIVE / INACTIVE </a> 
                                                                        <a class="dropdown-item" data-toggle="modal" data-target=".assignTask"><i class="fas fa-edit"></i>ASSIGN NEW TASK</a>
                                                                        <a class="dropdown-item" href="agent-profile2.php"><i class="fa fa-user-circle" aria-hidden="true"></i>View Profile</a>
                                                                        <a class="dropdown-item" href="view-assigned-activities.php"><i class="fas fa-clipboard-list"></i>View Assigned tasks</a> 
                                                                        <a class="dropdown-item" href="payment-detail.php"><i class="fas fa-chart-line"></i>View Monthly Progress</a>
                                                                        <a class="dropdown-item" href="discussion-board.php"><i class="fas fa-comment"></i>View Discussion Board</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>02</td>
                                                            <td>001</td>
                                                            <td>Abc</td>
                                                            <td>May 2 ,2020</td>
                                                            <td>Abce</td>
                                                            <td>
                                                                <div class="btn-group custom-dropdown ml-2 mb-1">
                                                                    <button type="button" class="btn btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                                                    <div class="dropdown-menu custom-dropdown"> 
                                                                        <a class="dropdown-item" href="payment-detail.php" data-toggle="modal" data-target=".inactiveAgent"><i class="fa fa-eye-slash"></i>ACTIVE / INACTIVE </a> 
                                                                        <a class="dropdown-item" data-toggle="modal" data-target=".assignTask"><i class="fas fa-edit"></i>ASSIGN NEW TASK</a>
                                                                        <a class="dropdown-item" href="agent-profile2.php"><i class="fa fa-user-circle" aria-hidden="true"></i>View Profile</a>
                                                                        <a class="dropdown-item" href="payment-detail.php"><i class="fas fa-clipboard-list"></i>View Assigned tasks</a> 
                                                                        <a class="dropdown-item" href="payment-detail.php"><i class="fas fa-chart-line"></i>View Monthly Progress</a>
                                                                        <a class="dropdown-item" href="discussion-board.php"><i class="fas fa-comment"></i>View Discussion Board</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div> 
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
const EmployeeTable = () => import('./components/EmployeeTable.vue');
const OwnerTable = () => import('./components/OwnerTable.vue');
export default {
    computed: {
        ...mapState('admin', ['users','search','entries']),
    },
    components: {
        EmployeeTable,
        OwnerTable,
    },
    created() {
        let { page } = this.$route.query;
        this.fetch(page);
    },
    watch: {
        search: function(val, oldVal) {
            this.fetch();
        },
        entries: function(val, oldVal) {
            this.fetch();
        },
    },
    methods: {
        ...mapActions('admin', ['getAll']),
        async fetch(page = 1) {
            let { type, status } = this.$route.params;
            let params = {
                route: route('admin.user.index'),
                mutation: 'SET_USERS',
                variable: 'users',
                data: {
                    page,
                    type,
                    status,
                    search : this.search,
                    entries : this.entries,
                }
            };
            let { data } = await this.getAll(params);
            if (page != 1) {
                this.addRouteQuery({ page });
            } else {

                this.addRouteQuery({});
            }
        }
    }
}

</script>
