<template>
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <owner-detail v-if="$route.params.type == 'property-owner'"></owner-detail>
            <template>
                
            <employee-detail v-if="$route.params.type == 'employee' && routeParams.status != 'application'" @on-update="fetch"></employee-detail>
            <application @update="fetch" :application="application" v-else-if="$route.params.type == 'employee' && routeParams.status == 'application'"></application>
            </template>
        </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
const EmployeeTable = () => import('./components/EmployeeTable.vue');
const OwnerTable = () => import('./components/OwnerTable.vue');
const OwnerDetail = () => import('./components/OwnerDetail.vue');
const EmployeeDetail = () => import('./components/EmployeeDetail.vue');
const Application = () => import('./components/Application.vue');
export default {
    computed: {
        ...mapState('admin', ['user','search']),
    },
    components: {
        EmployeeTable,
        OwnerTable,
        OwnerDetail,
        EmployeeDetail,
        Application,
    },
    async created() {
        let { page } = this.$route.query;
        await this.fetch(page);
    },
    watch: {
      search: function(val, oldVal) {
      	this.fetch();
      }
    },
    data () {
      return {
        application:{},
      };
    },
    methods: {
        ...mapActions('admin', ['getAll']),
        async fetch(page = 1) {
            if(this.routeParams.status != 'application'){
                let { type, user } = this.$route.params;
                let params = {
                    route: route('admin.user.show',{ user }),
                    mutation: 'SET_USER',
                    variable: 'user',
                    data: {
                        type,
                        search : this.search
                    }
                };
                let { data } = await this.getAll(params);
                if (page != 1) {
                    this.addRouteQuery({ page });
                } else {

                    this.addRouteQuery({});
                }
            }else{
                let { type, user } = this.$route.params;
                let params = {
                    route: route('admin.user.application',{ application : user }),
                    data: {
                        type,
                        search : this.search
                    }
                };
                let { data } = await this.getAll(params);
                this.application = data.application;
                // console.log(this.application);
                if (page != 1) {
                    this.addRouteQuery({ page });
                } else {

                    this.addRouteQuery({});
                }
            }
        }
    }
}

</script>
