<template>
	<div class="main-board">
			<div class="row">
				<all-logs 
					@update="$emit('update')" 
					:search="search" 
					:property="selectedProperty" 
					:key="`all${allLogsKey}`"
				>
				</all-logs>
				<inprogress-tasks 
					@update="$emit('update')" 
					:search="search" 
					:property="selectedProperty" 
					:key="`in_progress${inProgressKey}`" 
					variable="in_progress" 
					mutation="set_in_progress" 
					status="in_progress" 
					title="In Progress"
				>	
				</inprogress-tasks>
				<completed-tasks 
						@update="$emit('update')" 
						:search="search" 
						:key="`completed${completedKey}`" 
						:property="selectedProperty" 
						variable="completed" 
						mutation="set_completed" 
						status="completed" 
						title="Done"
						>	
				</completed-tasks>
			</div>
	</div>
</template>
<script>
const AllLogs = () => import('./Logs.vue');
const InprogressTasks = () => import('./Logs.vue');
const CompletedTasks = () => import('./Logs.vue');

export default {
	props: {
		selectedProperty: {
			type: Number,
			default: null,
		},
		search: {
			type: String,
			default: null,
		},
		allLogsKey: {
			type: Number,
			default: 0,
		},
		inProgressKey: {
			type: Number,
			default: 0,
		},
		completedKey: {
			type: Number,
			default: 0,
		},
	},
	inheritAttrs: false,
	components: {
		AllLogs,
		InprogressTasks,
		CompletedTasks,
	},
}

</script>
