<template>
    <div class="main-board">
        <div class="row">
            <div class="col-md-12">
                <FullCalendar ref="calendar" :options="calendarOptions" />
            </div>
        </div>
        <view-task @status-change="statusUpdated" :task="task"></view-task>
    </div>
</template>
<script>
import FullCalendar from '@fullcalendar/vue';
import dayGridPlugin from '@fullcalendar/daygrid';
import interactionPlugin from '@fullcalendar/interaction';
const ViewTask = () => import('./View.vue');

import { mapActions, mapState,mapMutations } from 'vuex';

export default {
    async created(){
        await this.fetch();
        // this.renderId = this.$refs.calendar.renderId;
        // console.log(this.);
        // console.log(this.calendarApi);
    },
    props: {
        title: {
            type: String, // String, Number, Boolean, Function, Object, Array
            required: false,
            default: 'Task Log'
        },
        status: {
            type: String, // String, Number, Boolean, Function, Object, Array
            required: false,
            default: ''
        },
        route: {
            type: String, // String, Number, Boolean, Function, Object, Array
            required: false,
            default: 'task.calendar',
        },
        variable: {
            type: String, // String, Number, Boolean, Function, Object, Array
            required: false,
            default: 'tasks',
        },
        mutation: {
            type: String, // String, Number, Boolean, Function, Object, Array
            required: false,
            default: 'index',
        },
        property: {
            type: Number, // String, Number, Boolean, Function, Object, Array
            required: false,
            default: null,
        },
        search: {
            type: String, // String, Number, Boolean, Function, Object, Array
            required: false,
            default: null,
        },
        allLogsKey: {
            type: Number,
            default: 0,
        },
    },
    watch : {
        'renderId' : function(val,oldVal){
            let calenderApi = this.$refs.calendar.getApi();
            console.log(calenderApi);
            this.fetch();
        },
    },
    computed: {
        ...mapState('task',['task']),
        tasks() {
            let tasks = this.$store.state.task[this.variable];
            return tasks;
        },
    },
    data() {
        return {

            calendarOptions: {
                plugins: [dayGridPlugin, interactionPlugin],
                initialView: 'dayGridMonth',
                events: [],
                dateClick: this.handleDateClick,
                eventClick : this.handleEventClick,

            },
                from : '',
                to : '',
                counter : 0,
                calendarApi : undefined,
                renderId : 0,
        };
    },
    methods: {
      ...mapActions('task', ['getAll','get','delete']),
      ...mapMutations('task', ['set_status']),
        async fetch(page = 1) {
            
            let params = {
                route: route(this.route),
                mutation: this.mutation,
                data: {
                    status: this.status,
                    property_id : this.property,
                    search : this.search,
                    from : this.from,
                    to : this.to,  
                },
            };
            let { data } = await this.getAll(params);
            this.setEvents();
        },
        statusUpdated(data){
            this.set_status(data.status);
            this.fetch();
        },
        async monthChanged(info){

            this.from = this.formatDate(info.start,'YYYY-MM-DD'); 
            this.to = this.formatDate(info.end,'YYYY-MM-DD');
            // await this.fetch();
            this.renderId++;
            

            // this.counter = 1;
            return;
        },
        handleDateClick(info){
            console.log(info.dateStr);
            this.$emit('selected-date',{date : info.dateStr});
            $('#create-task').modal('show');
        },
        handleEventClick(info){
            let { id } = info.event;
            this.previewTask(id);
        },
        async previewTask(taskId){
            let params = {
                route : route('task.board-show',{ task : taskId }),
                data : {},
            };
            await this.get(params);
            $('#view-task').modal('show');
        },
        setEvents(){
            const events = new Array();
            _.each(this.tasks,(task,index)=>{
                events.push({
                    id : task.id,
                    title : task.name,
                    start : task.due_date,
                    end : task.due_date,
                    backgroundColor : task.status == -1?'transparent':task.status == 0?'grey':'#52b68d',
                    textColor : task.status == -1?'black':task.status == 0?'white':'white',
                    borderColor : task.status == -1?'black':task.status == 0?'#52b68d':'grey',
                });
            });
            this.calendarOptions.events = events;
            // console.log(this.calendarOptions.events);
            // console.log(events);
            // console.log('setEvents');
        }
    },
    components: {
        FullCalendar,
        ViewTask,
    },

}

</script>
