<template>
    <!--create task Modal -->
    <div class="create-task-modal">
        <div class="modal fade" id="create-task" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <ValidationObserver tag="div" ref="createTaskObserver" v-slot="{handleSubmit}">
                        <form ref='createTaskForm' @submit.prevent="handleSubmit(create)">
                            <div class="modal-body">
                                <h3 class="text-center">Creat Task</h3>
                                <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="Task Name" class="form-group">
                                    <label for="exampleInputEmail1">Task Name :</label>
                                    <input v-model="form.name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Task Name">
                                    <div class="text-danger">{{errors[0]}}</div>
                                </ValidationProvider>
                                <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="Property Name" class="form-group">
                                    <label for="exampleInputEmail1">Property Name:</label>
                                    <v-select v-model="property" @input="getPropertyEmployees" :options="properties.data" label="name"></v-select>
                                    <!-- <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Property Name"> -->
                                    <div class="text-danger">{{errors[0]}}</div>
                                </ValidationProvider>
                                <div class="row">
                                    <div class="col-md-5">
                                        <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="Time From" class="form-group">
                                            <label for="exampleInputEmail1">Time:</label>
                                            <flat-pickr class="form-control" :config="timeConfig" v-model="form.start"></flat-pickr>
                                            <!-- <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="02:00AM"> -->
                                            <div class="text-danger">{{errors[0]}}</div>
                                        </ValidationProvider>
                                    </div>
                                    <div class="col-md-2 pt-3">
                                        <label for="exampleInputEmail1"></label>
                                        <p class="text-center">To</p>
                                    </div>
                                    <div class="col-md-5">
                                        <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="Time To" class="form-group pt-2">
                                            <label for="exampleInputEmail1"></label>
                                            <flat-pickr class="form-control" v-model="form.to" :config="timeConfig"></flat-pickr>
                                            <!-- <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="02:00AM"> -->
                                            <div class="text-danger">{{errors[0]}}</div>
                                        </ValidationProvider>
                                    </div>
                                </div>
                                <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="Due Date" class="form-group">
                                    <label for="inputEmail4">Due Date:</label>
                                    <input type="date" ref="due_date" v-model="form.due_date" class="form-control" id="inputEmail4" placeholder="May 2, 2020">
                                    <div class="text-danger">{{errors[0]}}</div>
                                </ValidationProvider>
                                <div>
                                    <label style="font-size: 14px;">
                                        <span>Add Property Images:*</span>
                                    </label>
                                    <!--To give the control a modern look, I have applied a stylesheet in the parent span.-->
                                    <ValidationProvider name="Images" ref="uploaderProvider" rules="required|mimes:image/*" v-slot="{validate,errors}" class="btn btn-success fileinput-button">
                                        <span><i class="fas fa-cloud-download-alt"></i> Upload Maximum 3</span>
                                        <input @change="getFiles" ref="files" type="file" name="files" id="files" multiple accept="image/jpeg, image/png, image/gif,"><br />
                                        <span>{{errors[0]}}</span>
                                    </ValidationProvider>
                                    <div class="d-flex mt-3 mb-3">
                                        <div class="w-75 p-2 m-2 border border-dark" v-for="file in form.files">
                                            <img style="object-fit: cover;" class="w-100 h-100" :src="file.base64">
                                        </div>
                                    </div>
                                </div>
                                <ValidationProvider v-if="property" tag="div" v-slot="{errors}" rules="required" name="Employee Name" class="form-group">
                                    <label for="exampleInputEmail1">Employee:</label>
                                    <v-select v-model="employee" @input="setEmployee" :options="employees" label="name" multiple></v-select>
                                    <!-- Search form -->
                                    <!-- <input class="form-control" type="text" placeholder="Search" aria-label="Search"> -->
                                    <div class="text-danger">{{errors[0]}}</div>
                                </ValidationProvider>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="create-task-footer-btn">Create
                                    Task</button>
                            </div>
                        </form>
                    </ValidationObserver>
                </div>
            </div>
        </div>
    </div>
    <!--create task Modal -->
</template>
<script>
import { mapActions, mapState, mapMutations } from 'vuex';
import flatPickr from 'vue-flatpickr-component';
export default {
    components: {
        flatPickr,
    },
    props : {
        taskDate : {
            type : String,
            default : null,
        },
    },
    data() {
        return {
    		el : '#create-task',
            employees: [],
            employee: null,
            property: null,
            form: {
                property_id: '',
                employeeIds: '',
                files: [],
            },
            reader: undefined,
            timeConfig: {
                enableTime: true,
                noCalendar: true,
                time_24hr: true,
                static: true,
            }
        };
    },
    watch: {
        taskDate(val, oldVal) {
            // console.log(val)
            this.form.due_date =  val;
            this.$refs.due_date.value = val;
        },
    },
    created() {
        this.fetch();
        this.fetchProperties();
        // console.log(this.taskDate);
    },
    computed: {
        // ...mapState('employee', ['employees']),
        ...mapState('property', ['properties']),
        ...mapState('task',['task_status']),
    },
    methods: {
        ...mapActions({
            get: 'property/getAll',
            storeTask: 'task/store',
        }),
        ...mapActions('employee', ['getAll']),
        async fetchProperties(page = 1) {
            let params = {
                route: route('property.index'),
                mutation: 'index',
                data: {
                    page: page,
                },
            };
            await this.get(params);
        },
        async fetch(page = 1) {
            let params = {
                route: route('employee.index'),
                data: {
                    page: page,
                },
            };
            await this.getAll(params);
        },
        setBase64(e) {
            // console.log(e.target);
            return e.target.result;
        },
        getBase64(file) {
            return new Promise(function(resolve) {
                var reader = new FileReader();
                reader.onloadend = function() {
                    resolve(reader.result)
                }
                reader.readAsDataURL(file);
            })
        },
        async getFiles(e) {
            let { valid } = await this.$refs.uploaderProvider.validate(e);
            if (valid) {
                let files = this.$refs.files.files;
                let self = this;
                await _.each(files, async (file) => {
                    let base64 = await this.getBase64(file);
                    if (self.form.files.length < 3) {

                        self.form.files.push({ file: file, base64 });
                    }
                });
                // console.log(this.form.files.length);
                if (this.form.files.length > 3) {
                    this.form.files.splice(2)
                    this.$snotify.error('you can not upload more than 3 files');
                }
                this.$refs.files.value = '';
            }
        },
        async setEmployee(employee) {
            // console.log(employee)
            let ids = _.map(employee, 'id');
            this.form.employeeIds = ids;

        },
        async getPropertyEmployees(property) {

            if (property) {
                let { id } = property;

                this.form.property_id = id;
                this.form.employeeIds = [];
                this.employee = null;
                let params = {
                    route: route('property.get-employees', { property: id }),
                };
                let { data } = await this.get(params);
                this.employees = data
            };
        },
        async create() {
            let fd = new FormData();
            let files = _.map(this.form.files, 'file');
            this.form.file
            let form = {
                ...this.form,
                status : this.task_status,
                files,
            }
            this.buildFormData(fd, form);
            let params = {
                route: route('task.store'),
                method: 'POST',
                data: fd,
            }
            let { data } = await this.storeTask(params);
            if (data.status) {
                this.$snotify.success(data.msg);
                window.$(this.el).modal('hide');
                this.$emit('created');
            }
        }
    }
}

</script>
