<template>
    <div class="modal fade" id="discrepancy-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h3>Fill Leave</h3>
                <ValidationObserver tag="div" class="modal-body" ref="discrepancyObserver" v-slot="{handleSubmit}">
                    <form @submit.prevent="handleSubmit(submit)">
                        <ValidationProvider tag="div" name="type" rules="required" v-slot="{errors}" class="form-group">
                            <label for="exampleFormControlSelect1">Select Discrepancy Type:</label>
                            <select v-model="form.type" class="form-control" id="exampleFormControlSelect1">
                                <option value="Leave">Leave</option>
                                <option value="Forgot to Mark Complete">Forgot to Mark Complete</option>
                            </select>
                            <span class="text-danger">{{errors[0]}}</span>
                        </ValidationProvider>
                        <ValidationProvider tag="div" name="reason" rules="required" v-slot="{errors}" class="form-group">
                            <label for="exampleFormControlTextarea1">Reason:</label>
                            <textarea v-model="form.reason" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            <span class="text-danger">{{errors[0]}}</span>
                        </ValidationProvider>
                        <template v-if="form.type == 'Forgot to Mark Complete'">
                            <ValidationProvider tag="div" name="time in" rules="required" v-slot="{errors}" class="form-group">
                                <label for="exampleFormControlInput1">Time In:</label>
                                <input v-model="form.time_in" type="time" class="form-control" id="exampleFormControlInput1" placeholder="">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" name="time out" rules="required" v-slot="{errors}" class="form-group">
                                <label for="exampleFormControlInput1">Time Out:</label>
                                <input v-model="form.time_out" type="time" class="form-control" id="exampleFormControlInput1" placeholder="">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                        </template>
                        <div class="task-submit">
                            <button type="submit" class="task-submit-btn">SUBMIT</button>
                        </div>
                    </form>
                </ValidationObserver>
            </div>
        </div>
    </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex';
export default {
    props: {
        task: {
            type: Object, // String, Number, Boolean, Function, Object, Array
            required: true,
            default: null,
        },
    },
    data() {
        return {
            form: {
            	type : 'Leave',
            },
        };
    },
    mounted() {

    },
    methods: {
        ...mapActions('task', ['store']),
        async submit() {
            let fd = new FormData();
            this.buildFormData(fd, this.form);
            let params = {
                route: route('task.discrepancy', { task: this.task.id }),
                method: 'POST',
                data: fd,
            };
            let { data } = await this.store(params);
            if (data.status) {
                this.$snotify.success(data.msg);
                this.$emit('reported');
            } else {

                this.$snotify.error(data.msg);
            }
        }
    }
}

</script>
