<template>
    <div class="col-md-4">
        <div class="task-box-hd-text">
            <span>{{title}}</span>
        </div>
        <div class="create-task-btn-box">
            <a v-if="!isEmployee" href="javascript:void(0)" @click="emitStatus" data-toggle="modal" data-target="#create-task"><i class="fas fa-plus-circle"></i></a>
            <a v-else href="javascript:void(0)"><i class="fas fa-plus-circle"></i></a>
        </div>
        <draggable v-bind="dragOptions" draggable=".task-boxes" :sort="false" direction="horizontal" group="people" @start="drag=true" @add="handleDrag($event,variable)" :list="tasks.data" @end="handleEnd($event)">
            <div v-for="task in tasks.data" :data-title="variable" :id="task.id" :key="task.id" class="task-boxes">
                <div class="dropdown">
                    <a href="javascript:void(0)" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a @click="previewTask(task.id)" class="dropdown-item" href="javascript:void(0)"><i class="fas fa-eye"></i> VIEW</a>

                        <a v-if="!isEmployee" class="dropdown-item" @click="taskId = task.id" href="javascript:void(0)" data-toggle="modal" data-target="#delete-task-confirm"><i class="fas fa-trash"></i> DELETE</a>
                        <a v-else class="dropdown-item" href="javascript:void(0)" @click="show_report_form(task.id)"><i
                                        class="fas fa-file-alt"></i> REPORT</a>
                    </div>
                </div>
                <i class="fas fa-check-circle"></i> <span>{{task.name}}</span></i><br>
                <i class="fas fa-user-circle"></i> <span>{{formatDate(task.created_at,'DD MMMM')}}</span>
            </div>
        </draggable>
        <!-- Paginate Logs -->
        <pagination :data="tasks" @pagination-change-page="fetch"></pagination>
        <div class="task-boxes" v-if="typeof tasks.data != 'undefined' && tasks.data.length == 0">
            <p class="text-center">No Data Available</p>
        </div>
        <delete-task-confirm el="delete-task-confirm" title="Delete Task" subtitle="Are you sure you want to delete <br> this task?">
            <template slot="footer">
                <a href="javascript:void(0)" data-toggle="modal" data-target="#assign-task" @click="deleteTask()" class="emplyee-add-btn">Yes</a>
                <a href="javascript:void(0)" data-dismiss="modal" class="emplyee-add-btn">No</a>
            </template>
        </delete-task-confirm>
        <view-task @status-change="statusUpdated" :task="task"></view-task>
        <report-task @reported="reported" v-if="reportPreview > 0" :task="task"></report-task>
    </div>
</template>
<script>
import { mapActions, mapState,mapMutations } from 'vuex';
const DeleteTaskConfirm = () => import('@views/Partials/web/popups/Success.vue');
const ViewTask = () => import('./View.vue');
const ReportTask = () => import('./Report.vue');
import draggable from 'vuedraggable'
export default {
    props: {
        title: {
            type: String, // String, Number, Boolean, Function, Object, Array
            required: false,
            default: 'Task Log'
        },
        status: {
            type: String, // String, Number, Boolean, Function, Object, Array
            required: false,
            default: ''
        },
        route: {
            type: String, // String, Number, Boolean, Function, Object, Array
            required: false,
            default: 'task.board',
        },
        variable: {
            type: String, // String, Number, Boolean, Function, Object, Array
            required: false,
            default: 'tasks',
        },
        mutation: {
            type: String, // String, Number, Boolean, Function, Object, Array
            required: false,
            default: 'index',
        },
        property: {
            type: Number, // String, Number, Boolean, Function, Object, Array
            required: false,
            default: null,
        },
        search: {
            type: String, // String, Number, Boolean, Function, Object, Array
            required: false,
            default: null,
        },

    },
    data() {
        return {
            taskId: 0,
            newStatus: null,
            reportPreview : 0,
        };
    },
    computed: {
        ...mapState('task', ['task']),
        tasks() {
            let tasks = this.$store.state.task[this.variable];
            return tasks;
        },
        dragOptions() {
            return {
                animation: 300,
                group: "description",
                disabled: false,
                ghostClass: "ghost"
            };
        },
    },
    async created() {
        await this.fetch();
    },
    components: {
        DeleteTaskConfirm,
        ViewTask,
        ReportTask,
        draggable,
    },
    watch: {
        async taskId(val, oldVal) {
            this.updateStatus(val);
        }
    },
    methods: {
        ...mapActions('task', ['getAll', 'get', 'delete', 'store']),
        ...mapMutations('task',['set_task_status','set_status']),
        handleEnd(info) {
            // console.log(id);
        },
        async handleDrag(e, title) {
            // let newStatus;
            this.taskId = e.item.getAttribute('id');
            if (title == 'tasks') {
                this.newStatus = -1;
            } else if (title == 'in_progress') {
                this.newStatus = 0;
            } else {
                this.newStatus = 1;
            }
        },
        statusUpdated(data){
            this.set_status(data.status);
            $('#view-task').modal('hide');
            this.$emit('update');
        },
        async fetch(page = 1) {
            let params = {
                route: route(this.route),
                mutation: this.mutation,
                data: {
                    page,
                    status: this.status,
                    property_id: this.property,
                    search: this.search,
                },
            };
            let { data } = await this.getAll(params);
        },
        async previewTask(taskId) {
            let params = {
                route: route('task.board-show', { task: taskId }),
                data: {},
            };
            await this.get(params);
            $('#view-task').modal('show');
        },
        async updateStatus(val) {
            let params = {
                action: route('task.status', { task: val }),
                method: 'POST',
                data: {
                    status: this.newStatus,
                },
            }
            try {
               let {data} = await axios.post(route('task.status', { task: val }), {
                    status: this.newStatus,
                });
                if (data.status) {
                    this.$snotify.success(data.msg);
                }
            } catch (e) {
                // statements
                console.log(e);
            }
        },
        reported(){
            $('#report-task').modal('hide');
            this.reportPreview++;
            this.$emit('reported');
        },
        emitStatus(){
            let title = this.variable;
            let newStatus;
            if (title == 'tasks') {
                newStatus = -1;
            } else if (title == 'in_progress') {
                newStatus = 0;
            } else {
                newStatus = 1;
            }
            this.set_task_status(newStatus);
        },
        async show_report_form(taskId){
            this.reportPreview++;
            let params = {
                route: route('task.board-show', { task: taskId }),
                data: {},
            };
            await this.get(params);
            $('#report-task').modal('show');
            /*setTimeout(function(){

            },1000);*/
        },
        async deleteTask() {
            let params = {
                route: route('task.destroy', { task: this.taskId }),
                method: 'DELETE',
                mutation: '',
                data: {},
            }
            let { data } = await this.delete(params);
            if (data.status) {
                $('#delete-task-confirm').modal('hide');
                this.$snotify.success(data.msg);
            }
        }
    }
}

</script>
