<template>
    <div class="report-modal-view">
        <div class="modal fade" id="report-task" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <ValidationObserver ref="reportObserver" v-slot="{handleSubmit}">
                        <form @submit.prevent="handleSubmit(submit)">
                            <div class="modal-body">
                                <h4>Report Task</h4>
                                <ValidationProvider rules="required" v-slot="{errors,invalid}">
                                    <template v-for="(report,index) in reports">
                                        <div class="form-check">
                                            <input v-model="form.title" class="form-check-input" type="radio" name="exampleRadios" :id="`reportRadio${index}`" :value="report.title" checked>
                                            <label class="form-check-label" :for="`reportRadio${index}`">
                                                {{report.title}}
                                            </label>
                                        </div>
                                        <div v-if="report.needReason && form.title == 'Other'" class="form-group">
                                            <ValidationProvider name="reason" rules="required" v-slot="{errors}">
                                                <label for="exampleFormControlTextarea1">Reason</label>
                                                <textarea v-model="form.reason" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Reason"></textarea>
                                                <span class="text-danger">{{errors[0]}}</span>
                                            </ValidationProvider>
                                        </div>
                                    </template>
                                    <span v-if="errors[0]" class="text-danger">this information is required</span>
                                </ValidationProvider>
                                <div class="image-upload">
                                    <label for="file-input">
                                        Attach Image:
                                        <i class="fas fa-upload"></i>
                                    </label>
                                    <input id="file-input" type="file" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="report-submit-btn">
                                    <button type="submit" class="submit-btn" data-toggle="modal" data-target="#report-submited">SUBMIT</button>
                                </div>
                            </div>
                        </form>
                    </ValidationObserver>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions} from 'vuex';

export default {
    props: {
        task: {
            type: Object, // String, Number, Boolean, Function, Object, Array
            required: true,
            default: null,
        },
    },
    data() {
        return {
            form: {
                title: '',
                reason: '',
                file: {},
            },
            reports: [{
                    title: 'Completed but hindered by any person or pet',
                    needReason: false,
                },
                {
                    title: 'Customer Postponed the task',
                    needReason: false,
                },
                {
                    title: 'Customer refused to take service',
                    needReason: false,
                },
                {
                    title: 'Access wasn\'t provided',
                    needReason: false,
                },
                {
                    title: 'Other',
                    needReason: true,
                },
            ],
        };
    },
    methods: {
    	...mapActions('task',['store']),
        async submit() {
            let fd = new FormData();
            this.buildFormData(fd,this.form);
            fd.append('task',this.task.id);
            let params = {
            	route : route('report.store'),
            	method : 'POST',
            	data : fd,
            };
            let {data} = await this.store(params);
            if(data.status){
            	this.$snotify.success(data.msg);
            	this.$emit('reported');
            }else{

            	this.$snotify.error(data.msg);
            }
        }
    },
}

</script>
