<template>
    <!--task view Modal -->
        <div class="task-view-modal">
            <div class="modal fade" id="view-task" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <ValidationObserver ref="commentObserver" v-slot="{handleSubmit}">
                            <form @submit.prevent="handleSubmit(sendComment)">
                                <div class="modal-body">
                                    <a href="javascript:void(0)" @click="updateStatus" :class="task.status == 0 || task.status == -1?'m-complete':'ml-0 board-btn'"><i class="fa " :class="task.status == 0 || task.status == -1?'fa-times':'fa-check'"></i>
                                        {{task.status == 0 || task.status == -1?'Mark Complete':'Mark uncomplete'}}
                                    </a>
                                    <a href="javascript:void(0)" v-if="isEmployee" @click="show_discrepancy_form" class="ml-1 discrepancy-btn" data-toggle="modal" data-target="#discrepancy-modal">Fill Discrepancy</a>
                                    <h6>{{task.name}}</h6>
                                    <div class="row">
                                        <div class="col-md-3">Assignee</div>
                                        <div class="col-md-9">{{$user.name}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">Due Date</div>
                                        <div class="col-md-9">{{formatDate(task.due_date)}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">Time:</div>
                                        <div class="col-md-9">{{task.start}} To {{task.to}}</div>
                                    </div>
                                    <div class="row" v-if="task.property">
                                        <div class="col-md-3">Property Name</div>
                                        <div class="col-md-9">{{task.property.name}}</div>
                                    </div>
                                    <div class="row" v-if="task.images && task.images.length > 0">
                                        <div class="col-md-3">Image:</div>
                                        <div class="col-md-9">
                                            <div class="d-flex mt-3 mb-3">
                                                <div class="w-75 p-2 m-2 border border-dark" v-for="(image,index) in task.images">
                                                    <img style="object-fit: cover;" class="w-100 h-100" :key="index" :src="image.url">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h6>Task Description:</h6>
                                    <span>{{task.description || 'NA'}}</span><br>
                                    <div class="april-text">
                                        <i class="fas fa-user-circle"></i> <strong>You Created this Task</strong>&nbsp;&nbsp;
                                        <span>{{formatDate(task.created_at)}}</span>
                                    </div>
                                    <ValidationProvider tag="div" rules="required" name="Comment" v-slot="{errors}" class="form-group">
                                        <textarea v-model="comment" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ask a question or post an update..."></textarea>
                                        <span class="text-danger">{{errors[0]}}</span>
                                    </ValidationProvider>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="view-task-footer-btn">Comment</button>
                                </div>
                            </form>
                        </ValidationObserver>
                    </div>
                </div>
            </div>
        <discrepancy :key="discrepancyPreview" @reported="discrepancy_reported" :task="task"></discrepancy>
        </div>
    <!--task view Modal -->
</template>
<script>
import { mapMutations } from 'vuex';
const Discrepancy = () => import('./Discrepancy.vue');
export default {
    props: {
        task: {
            type: Object, // String, Number, Boolean, Function, Object, Array
            required: true,
            default: null,
        },
    },
    data() {
        return {
            discrepancyPreview : 0,
            comment: ''
        };
    },
    components: {
        Discrepancy,
    },
    methods: {
        ...mapMutations('task', ['show_discrepancy_popup']),
        async updateStatus() {

            let status;
            if (this.task.status == 0 || this.task.status == -1) {
                status = 1;
            } else {
                status = 0;
            }
            try {
                let { data } = await axios.post(route('task.status', { task: this.task.id }), {
                    status,
                });

                if (data.status) {
                    this.$snotify.success(data.msg);

                    this.$emit('status-change', { status });
                }
                // this.log(params);
                // drag = false
                // statements
            } catch (e) {
                // statements
                console.log(e);
            }
        },
        discrepancy_reported(){
            $('#discrepancy-modal').modal('hide');
            this.discrepancyPreview++;

        },
        show_discrepancy_form() {
            $('#discrepancy-modal').modal('show');
        },
        async sendComment() {
            let fd = new FormData();
            fd.append('comment', this.comment);
            fd.append('task', this.task.id);
            let { data } = await axios.post(route('task.add-comment', { task: this.task.id }));
            if (data.status) {
                this.comment = '';
                this.$refs.commentObserver.reset();
            }
        }
    }
}

</script>
