<template>
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="configuration" class="search view-cause">
                <div class="row">
                    <div class="col-12">
                        <div class="card pad-20">
                            <div class="card-content collapse show">
                                <div class="card-body table-responsive card-dashboard">
                                    <router-link :to="{name : 'admin.subscriptions.index'}">
                                        <h2>
                                            < Subscription Details</h2> </router-link> <section class="task-log-completed-box">
                                                <div class="">
                                                    <div class="row">
                                                        <div class="col-md-2" v-if="subscription.plan">
                                                            <h6>{{subscription.plan.title}}</h6>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <h6 class="for-floating">Status: {{subscription.expired?'Expired':'Active'}}</h6>
                                                        </div>
                                                        <div class="col-md-2 mt-2">
                                                            <h6>Package Cost</h6>
                                                        </div>
                                                        <div class="col-md-10 mt-2">
                                                            <span class="gray-color" v-if="subscription.payment">${{subscription.payment.payload.amount}}</span>
                                                        </div>
                                                        <div class="col-md-2 mt-2">
                                                            <h6>Subscription Date</h6>
                                                        </div>
                                                        <div class="col-md-10 mt-2">
                                                            <span class="gray-color">{{formatDate(subscription.created_at)}}</span>
                                                        </div>
                                                        <div class="col-md-2 mt-2">
                                                            <h6>Subscription Expiry Date</h6>
                                                        </div>
                                                        <div class="col-md-10 mt-2">
                                                            <span class="gray-color">{{formatDate(subscription.expired_at)}}</span>
                                                        </div>
                                                        <div class="col-md-12 mt-2">
                                                            <h6>Package Description</h6>
                                                            <span class="gray-color">{{subscription.description || 'N/A'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
            </section>
        </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';

export default {
	computed: {
		...mapState('admin', ['subscription']),
	},
	created() {
		this.fetch();
	},
	methods: {
		...mapActions('admin', ['getAll']),
		async fetch(page = 1) {
			let { id } = this.$route.params;
			let params = {
				route: route('admin.subscription.show', { id }),
				mutation: 'SET_SUBSCRIPTION',
				variable: 'subscription',
				data: {}
			};
			let { data } = await this.getAll(params);

		}
	}
}

</script>
