<template>
  <v-app id="dayspan" v-cloak>

    <ds-calendar-app ref="app"
      :calendar="calendar"
      :read-only="readOnly"
      @change="saveState">

      <template slot="title">
        Event Managment
      </template>


      <template slot="eventCreatePopoverOccurs" slot-scope="slotData">

      </template>

      <template slot="eventPopover" slot-scope="slotData">
         <ds-calendar-event-popover
          v-bind="slotData"
          :read-only="readOnly"
          @finish="saveState"
        ></ds-calendar-event-popover>
      </template>

      <template slot="eventCreatePopover" slot-scope="{placeholder, calendar, close}">

          <EventCreator 
          :people="people"
          :calendar-event="placeholder"
          :calendar="calendar"
          :close="$refs.app.$refs.calendar.clearPlaceholder"
          @event-create="getEventDetails"
          @event-users="setEventUsers"
          @create-edit="$refs.app.editPlaceholder"
          @create-popover-closed="saveState"
          />
      </template>

      <template slot="eventTimeTitle" slot-scope="{calendarEvent, details}">
        <div>
          <v-icon class="ds-ev-icon"
            v-if="details.icon"
            size="14"
            :style="{color: details.forecolor}">
            {{ details.icon }}
          </v-icon>
          <strong class="ds-ev-title">{{ details.title }}</strong>
        </div>
        <div class="ds-ev-description">{{ getCalendarTime( calendarEvent ) }}</div>
      </template>

    

    </ds-calendar-app>

  </v-app>
</template>

<script>
// import 'material-design-icons-iconfont/dist/material-design-icons.css'
// import 'dayspan-vuetify/dist/lib/dayspan-vuetify.min.css'
import { Calendar, Weekday, Month } from 'dayspan';
import EventCreator from "./EventCreator";
import Vue from 'vue';

export default {
  props: [
    'people', 'calendarEvents'
  ],
  name: 'Calender',
  components: {
      EventCreator
  },
  data: () => ({
    storeKey: 'dayspanState',
    calendar: Calendar.months(),
    readOnly: false,
    // defaultEvents: [],
    eventusers: [],
  }),

  watch: {
    'calendarEvents': 'loadState'
  },

  mounted()
  {
    window.app = this.$refs.app;

    this.loadState();
  },

  methods:
  {
    saveEvent(e){
      let event = {
        "e": e,
        "user" : this.eventusers,
      };
      console.log("Event Created", event);
      axios.post('events?noloader=1', event)
      .then(data => {
          console.log("Event is created");
      }).catch(e => {
            console.log(e);
            let errors = e.response.data.errors;
            Object.keys(errors).forEach(key => {
                this.$toastr.error(errors[key], "Error!");
            });
        });    
    },
    getEventDetails(e){
      console.log('getEventDetails', e);
    },
    setEventUsers(e){
      this.eventusers = e;
    },
    getCalendarTime(calendarEvent)
    {
      let sa = calendarEvent.start.format('a');
      let ea = calendarEvent.end.format('a');
      let sh = calendarEvent.start.format('h');
      let eh = calendarEvent.end.format('h');

      if (calendarEvent.start.minute !== 0)
      {
        sh += calendarEvent.start.format(':mm');
      }

      if (calendarEvent.end.minute !== 0)
      {
        eh += calendarEvent.end.format(':mm');
      }

      return (sa === ea) ? (sh + ' - ' + eh + ea) : (sh + sa + ' - ' + eh + ea);
    },
    saveState()
    {
      let state = this.calendar.toInput(true);


      console.log(state);

      let json = JSON.stringify(state);

      this.saveEvent(state.events[state.events.length - 1]);

      localStorage.setItem(this.storeKey, json);
    },

    loadState()
    {
      let state = {};
      try
      {
        let savedState = JSON.parse(localStorage.getItem(this.storeKey));

        if (savedState)
        {
          state = savedState;
          state.preferToday = false;
        }
      }
      catch (e)
      {
        // eslint-disable-next-line
        console.log( e );
      }

      if (!state.events || !state.events.length)
      {
        state.events = this.calendarEvents;
      }

      state.events.forEach(ev =>
      {
        let defaults = this.$dayspan.getDefaultEventDetails();

        ev.data = Vue.util.extend( defaults, ev.data );
      });

      this.$refs.app.setState( state );
    }
  }
}
</script>


<style>

  .v-list__tile{
    height: 100% !important;
  }

  body, html, #app, #dayspan {
    font-family: Roboto, sans-serif !important;
    width: 100%;
    height: 100%;
    margin:0 0 80px;
  }

  .v-btn--flat,
  .v-text-field--solo .v-input__slot {
    background-color: #f5f5f5 !important;
    margin-bottom: 8px !important;
  }

  .v-toolbar[data-booted=true].v-toolbar--fixed{
      position: inherit !important;;
      top: unset !important;
      left: unset !important;
  }

  #calendar .v-navigation-drawer--fixed{
      position: absolute;
      top: 0;
      left: 0
  }

    .v-menu__content{
        z-index: 99 !important;
    }

    .v-menu.ds-calendar-event.v-menu--inline{
        position: absolute !important;
    }

    .ds-calendar-event{
      position: unset !important;
      width: 100%;
    }

    .v-toolbar--fixed{
      position: absolute !important;
    }
</style>