<template>
    <section class="my-profile-box">
        <ValidationObserver v-slot="{handleSubmit}">
            <form @submit.prevent="handleSubmit(resubmit)">
                <div class="container">
                    <div class="profile-img-box">
                        <h2>My Profile </h2>
                        <hr>
                        <div id="profile-container">
                            <img id="profileImage" src="assets/images/user-big.png" />
                        </div>
                        <input @change="setProfilePic" id="imageUpload" type="file" placeholder="Photo">
                    </div>
                    <h4>Basic Detail:</h4>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Full Name:</label>
                            <input v-model="form.name" type="text" class="form-control" id="inputEmail4" placeholder="Mark Carson ">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Number: </label>
                            <input v-model="form.phone" type="number" class="form-control" id="inputPassword4" placeholder="+1-123-1234">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email:</label>
                            <div id="inputEmail4">{{form.email}}</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Address:</label>
                            <input v-model="form.address" type="text" class="form-control" id="inputPassword4" placeholder="Brookly Bridge">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Address Line 2:</label>
                            <input type="text" class="form-control" v-model="form.address_1" id="inputPassword4" placeholder="Address Line 2">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Gender:</label>
                            <select v-model="form.gender" class="form-control" id="exampleFormControlSelect1">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Years in Service:</label>
                            <input v-model="form.service_years" type="number" class="form-control" id="inputPassword4" placeholder="07">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">City:</label>
                            <input type="text" class="form-control" v-model="form.city" id="inputPassword4" placeholder="City">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">State:</label>
                            <input type="text" class="form-control" v-model="form.state" id="inputPassword4" placeholder="State">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Zip Code:</label>
                            <input type="number" v-model="form.zipcode" class="form-control" id="inputEmail4" placeholder="Zip code">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Country:</label>
                            <input type="text" v-model="form.country" class="form-control" id="inputEmail4" placeholder="Country">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="exampleFormControlTextarea1">Description:</label>
                            <textarea class="form-control" v-model="application.education.bio" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="stepper">
                        <h6>Education:</h6>
                        <ul class="steps">
                            <li class="step">
                                <div class="dates">
                                    <span class="time"></span>
                                </div>
                            </li>
                            <div class="step-context">
                                <div v-for="(institution,index) in application.institutions" class="form-row">
                                    <div v-if="index != 0" class="col-md-12">
                                        <button @click="removeMore('institutions',index)" type="button" class="close">
                                            <span>&times;</span>
                                        </button>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Institute Name:</label>
                                        <input v-model="institution.name" type="text" class="form-control" placeholder="Enter Institute Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">Discipline:</label>
                                        <input v-model="institution.discipline" type="text" class="form-control" placeholder="Enter Discipline">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">From Date:</label>
                                        <input v-model="institution.start_date" type="date" class="form-control" id="inputEmail4" placeholder="May 2, 2020">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">From Date:</label>
                                        <input v-model="institution.start_date" type="date" class="form-control" id="inputEmail4" placeholder="May 2, 2020">
                                        <div class="form-group form-check">
                                            <input v-model="institution.currently_here" value="true" type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">Currently Here</label>
                                            <a href="javascript:void(0)" @click="addMore('institutions');" class="add-another"><i class="fas fa-plus-circle"></i> Add Another</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <li class="step">
                                <div class="dates">
                                    <span class="time"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="stepper">
                        <h6>Work Experience:</h6>
                        <ul class="steps">
                            <li class="step">
                                <div class="dates">
                                    <span class="time"></span>
                                </div>
                            </li>
                            <div class="step-context">
                                <div v-for="(experience,index) in application.experiences" class="form-row">
                                    <div v-if="index != 0" class="col-md-12">
                                        <button @click="removeMore('experiences',index)" type="button" class="close">
                                            <span>&times;</span>
                                        </button>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Company Name:</label>
                                        <input v-model="experience.company_name" type="text" class="form-control" placeholder="Enter Company Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">Designation:</label>
                                        <input v-model="experience.designation" type="text" class="form-control" placeholder="Enter Designation">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">From Date:</label>
                                        <input v-model="experience.start_date" type="date" class="form-control" id="inputEmail4" placeholder="May 2, 2020">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">To Date:</label>
                                        <input v-model="experience.end_date" type="date" class="form-control" id="inputEmail4" placeholder="May 2, 2020">
                                        <div class="form-group form-check">
                                            <input v-model="experience.is_working_currently" value="true" type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">Currently Here</label>
                                            <a href="javascript:void(0)" @click="addMore('experiences');" class="add-another"><i class="fas fa-plus-circle"></i> Add Another</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <li class="step">
                                <div class="dates">
                                    <span class="time"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="stepper">
                        <h6>Certification:</h6>
                        <ul class="steps">
                            <li class="step">
                                <div class="dates">
                                    <span class="time"></span>
                                </div>
                            </li>
                            <div class="step-context">
                                <div v-for="(certification,index) in application.certifications" class="form-row">
                                    <div v-if="index != 0" class="col-md-12">
                                        <button @click="removeMore('certifications',index)" type="button" class="close">
                                            <span>&times;</span>
                                        </button>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Certification Name:</label>
                                        <input v-model="certification.title" type="text" class="form-control" placeholder="Enter Certification Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">From Date:</label>
                                        <input v-model="certification.start_date" type="date" class="form-control" id="inputEmail4" placeholder="May 2, 2020">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">To Date:</label>
                                        <input v-model="certification.end_date" type="date" class="form-control" id="inputEmail4" placeholder="May 2, 2020">
                                    </div>
                                </div>
                            </div>
                            <li class="step">
                                <div class="dates">
                                    <span class="time"></span>
                                </div>
                            </li>
                        </ul>
                        <div class="image-upload">
                            <label for="file-input">
                                <h6>File:</h6>
                                <i class="fas fa-file-pdf fa-2x"></i>
                            </label>
                            <input @change="setCertificationFile($event,index)" type="file" />
                        </div>
                        <h6>CV & Cover Letter</h6>
                    </div>
                    <div class="stepper">
                        <ul class="steps">
                            <li class="step">
                                <div class="dates">
                                    <span class="time"></span>
                                </div>
                            </li>
                            <div class="step-context">
                                <div class="image-upload">
                                    <label for="file-input">
                                        <i class="fas fa-file-pdf fa-2x"></i>
                                    </label>
                                    <input id="file-input" type="file" />
                                </div>
                            </div>
                            <li class="step">
                                <div class="dates">
                                    <span class="time"></span>
                                </div>
                            </li>
                        </ul>
                        <h6>Cover Letter</h6>
                    </div>
                    <div class="stepper">
                        <ul class="steps">
                            <li class="step">
                                <div class="dates">
                                    <span class="time"></span>
                                </div>
                            </li>
                            <div class="step-context">
                                <div class="image-upload">
                                    <div class="form-group col-md-12">
                                        <label for="exampleFormControlTextarea1">Description:</label>
                                        <textarea class="form-control" v-model="application.cv.cover_letter" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                    <input @change="setCvFile" type="file" />
                                </div>
                            </div>
                            <li class="step">
                                <div class="dates">
                                    <span class="time"></span>
                                </div>
                            </li>
                        </ul>
                        <h6>Skills</h6>
                        <div class="col-md-12">
                            <v-select taggable multiple :pushTags="true" v-model="application.skills" :options="application.skills"></v-select>
                        </div>
                    </div>
                    <div class="form-row row mt-5">
                        <div class="col-md-12">
                            <button type="submit" class="resubmit-btn">Resubmit</button>
                        </div>
                    </div>
                </div>
            </form>
        </ValidationObserver>
        <div class="for-b-margin"></div>
        <!-- modal -->
        <div class="emplyee-add-modal-msg">
            <div class="modal fade" id="resubmit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <i class="fas fa-question-circle fa-4x"></i>
                            <h4>Resubmit Application</h4>
                            <span>Are you sure you want to resubmit your application?</span>
                        </div>
                        <div class="modal-footer">
                            <a href="" class="emplyee-add-btn" data-toggle="modal" data-target="#resubmit-successfully-modal">YES</a>
                            <a href="" class="emplyee-add-btn">NO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal end -->
        <!-- modal -->
        <div class="emplyee-add-modal-msg">
            <div class="modal fade" id="resubmit-successfully-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <i class="fas fa-check-circle fa-4x"></i>
                            <h4>System Message</h4>
                            <span>Application resubmitted successfully!</span>
                        </div>
                        <div class="modal-footer">
                            <a href="" class="emplyee-add-btn">CLOSE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal end -->
    </section>
</template>
<script>
export default {
    data() {
        return {
            form: {},
            application: {
                education: {},
                cv: {},
                skills : [],
            },
        };
    },
    async created() {
        await this.fetch();
    },
    methods: {
        async fetch() {
            let { data } = await axios.get(route('account.application'));
            this.application = data;
            this.form = {
                ...this.$user,
            };
            if (!this.application.skills) {
                this.application.skills = [];
            }

        },
        setCvFile(e) {
            this.application.cv.file = e.target.files[0];
        },
        setCertificationFile(e, index) {
            this.form.certifications[index].file = e.target.files[0];
        },
        setProfilePic(e, index) {
            this.form.certifications[index].file = e.target.files[0];
        },
        addMore(variable) {
            let params;
            if (variable == 'institutions') {
                params = {
                    name: '',
                    discipline: '',
                    start_date: '',
                    end_date: '',
                    is_working_currently: '',
                };
            } else if (variable == 'experiences') {
                params = {
                    company_name: '',
                    designation: '',
                    start_date: '',
                    end_date: '',
                    is_working_currently: '',
                };
            } else if (variable == 'certifications') {
                params = {
                    title: '',
                    start_date: '',
                    end_date: '',
                    file: {},
                };
            }

            this.application[variable].push(params);
        },
        async resubmit(){
        	console.log(this.application.skills);
        	let fd = new FormData();
        	let form = {
        		...this.form,
        		application : this.application,
        	};
        	this.buildFormData(fd,form);
        	let {data} = await axios.post(route('account.application.resubmit'),fd);
        	if(data.status){
        		Vue.prototype.$user = data.user;
        		this.$router.push({name : 'web.account.index'})
        	}
        },
        removeMore(variable, index) {
            // alert()
            this.application[variable].splice(index, 1);
        },
    }
}

</script>
