<template>
    <section class="my-profile-box">
        <div class="container">
            <div class="profile-img-box">
                <h2>My Profile </h2>
                <hr>
                <!-- <div id="profile-container">
                <image id="profileImage" src="assets/images/user-big.png" />
            </div>
            <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture> -->
            </div>
            <div class="my-profile-form">
                <ValidationObserver ref="observer" v-slot="{handleSubmit}">
                    <ValidationProvider ref="uploader" :rules="{image : true, required : (!$user.media)}" name="Profile Picture" v-slot="{validate,errors}" class="prof-av-wrap">
                        <div class="profile-picture-div edit-prof">
                            <div class="profile-banner-wrap">
                                <img :src="fakePath" alt="">
                            </div>
                            <label for="picture">
                                <i class="fa fa-camera profile-pic-icon"></i>
                            </label>
                            <div class="d-none">
                                <input ref="image" @change="setProfile" type="file" name="pic" accept=".gif,.jpg,.png,.tif|image/*" id="picture">
                            </div>
                        </div>
                        <span class="text-danger">{{errors[0]}}</span>
                    </ValidationProvider>
                    <form ref='form' @submit.prevent="handleSubmit(update)">
                        <ValidationProvider tag="div" rules="required" name="Name" v-slot="{errors}" class="form-group">
                            <label for="exampleInputEmail1">Full Name:</label>
                            <input type="text" v-model="user.name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Lan">
                            <span class="text-danger">{{errors[0]}}</span>
                        </ValidationProvider>
                        <fieldset disabled>
                            <ValidationProvider tag="div" name="" v-slot="{errors}" class="form-group">
                                <label for="exampleInputEmail1">Email:</label>
                                <input type="email" v-model="user.email" class="form-control" id="disabledTextInput" aria-describedby="emailHelp" placeholder="email@address.com">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                        </fieldset>
                        <ValidationProvider tag="div" rules="required" name="Phone Number" v-slot="{errors}" class="form-group">
                            <label for="exampleInputEmail1">Phone Number:</label>
                            <input type="text" v-model="user.phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone Number">
                            <span class="text-danger">{{errors[0]}}</span>
                        </ValidationProvider>
                        <button type="submit" class="my-profile-form-btn">Update</button>
                        <router-link :to="{name : 'web.account.password'}" class="my-profile-form-btn">Change Password</router-link>
                    </form>
                </ValidationObserver>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
    data() {
        return {
            user: {},
            image : null,
            fakePath : 'assets/images/user-big.png',

        };
    },
    async created() {
        this.get();
        this.fakePath = this.$user.media?this.$user.media.url:this.fakePath;
    },
    watch: {
      fakePath(val, oldVal) {
        	if(val == null){
        		this.fakePath = 'assets/images/user-big.png';
        	}
      }
    },
    methods: {
        async get() {
            let user = this.$user;
            this.user.email = user.email;
            this.user.name = user.name;
            this.user.phone = user.phone;
        },
        getBase64(file) {
            return new Promise(function(resolve) {
                var reader = new FileReader();
                reader.onloadend = function() {
                    resolve(reader.result)
                }
                reader.readAsDataURL(file);
            })
        },
        async setProfile(e) {
            let { valid } = await this.$refs.uploader.validate(e);
            if (valid) {
                let file = this.$refs.image.files[0];
                    let base64 = await this.getBase64(file);
                    // _.assign(, file);
                    this.image = file;

                    this.fakePath = base64;
                    // this.image.base64 = 
                        // self.selectedImage.push({ file: file, base64 });
                /*await _.each(files, async (file) => {
                    if (self.form.files.length < 3) {

                    }
                });*/
                this.$refs.image.value = '';
            }
        },
        async update() {
            try {
            	let fd = new FormData();
            	
            	this.buildFormData(fd,this.user);
            	if(this.image){

            	fd.append('image',this.image);
            	}

                let { data } = await axios.post(route('account.update'), fd);
                if (data.status) {
                    this.$snotify.success(data.msg);
                    Vue.prototype.$user = data.user;
                }
                // statements
            } catch (e) {
                this.$snotify.error('something went wrong');
                console.log(e);
            }
        }
    }
}

</script>
<style type="text/css">
.profile-banner-wrap img {
    width: 150px;
    border-radius: 50%;
    height: 150px;
}

</style>
