<template>
    <section class="my-profile-box">
        <div class="container">
            <owner v-if="!isEmployee" :user="user"></owner>
            <employee v-else-if="isEmployee && user.owner_id" :user="user"></employee>
            <application-status v-else-if="isEmployee && (!user.owner_id && !user.code)" :user="user"></application-status>
        </div>
    </section>
</template>
<script>
    const Owner = ()=>import('./components/Owner.vue');
    const Employee = ()=>import('./components/Employee.vue');
    const ApplicationStatus = ()=>import('./components/ApplicationStatus.vue');
	export default{
        components : {
            Owner,
            Employee,
            ApplicationStatus,
        },
		data () {
		  return {
		    user:{},
		  };
		},
		async created(){
			this.get();
		},
		methods: {
		  async get () {
		  	this.user = this.$user;
		  }
		}
	}
</script>
