<template>
    <section class="change-password-box">
        <div class="container">
            <h2>Change Password</h2>
            <hr>
            <div class="change-password-form">
                <ValidationObserver ref="observer" v-slot="{handleSubmit}">
                    <form ref="form" @submit.prevent="handleSubmit(update)">
                        <ValidationProvider rules="required" vid="current_password" v-slot="{errors}" name="Current Password" tag="div" class="form-group position-relative mb-2">
                            <label for="currentPassword">Current Password:</label>
                            <input ref="currentPassword" v-model="form.current_password" type="password" class="form-control" id="currentPassword" aria-describedby="emailHelp" placeholder="Enter Password">
                            <button type="button" @click="togglePasswordType('currentPassword')" class="view-btn-eye position-absolute">
                            	<i class="fa fa-eye" v-show="(getPasswordType('currentPassword') == 'password')"></i>
                            	<i class="fa fa-eye-slash" v-show="(getPasswordType('currentPassword') == 'text')"></i>
                            </button>
                            <div class="text-danger">{{errors[0]}}</div>
                        </ValidationProvider>
                        <ValidationProvider rules="required|confirmed:password_confirmation" v-slot="{errors}" name="New Password" tag="div" class="form-group position-relative mb-2">
                            <label for="exampleInputEmail1">New Password :</label>
                            <input ref="newPassword" type="password" v-model="form.password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter New Password">
                            <button type="button" @click="togglePasswordType('newPassword')" class="view-btn-eye position-absolute"><i class="fa fa-eye"></i></button>
                            <div class="text-danger">{{errors[0]}}</div>
                        </ValidationProvider>
                        <ValidationProvider rules="required" vid="password_confirmation" v-slot="{errors}" name="Confirm Password" tag="div" class="form-group position-relative mb-2">
                            <label for="exampleInputEmail1">Confirm Password :</label>
                            <input ref='password_confirmation' type="password" v-model="form.password_confirmation" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Retype New Password">
                            <button type="button" @click="togglePasswordType('password_confirmation')" class="view-btn-eye position-absolute"><i class="fa fa-eye"></i></button>
                            <div class="text-danger">{{errors[0]}}</div>
                        </ValidationProvider>
                        <div class="save-changes-btn-box">
                            <button type="submit" class="save-changes-btn">Save Changes </button>
                        </div>
                    </form>
                </ValidationObserver>
            </div>
        </div>
        </div>
    </section>
</template>
<script>
	export default{
		data () {
		  return {
		    form:{},
		  };
		},
		methods: {
		  async update() {
		  	try {
		  		// statements
		    let {data} = await axios.post(route('account.password'), this.form);
			    if(data.status){
			    	this.$snotify.success(data.msg);
			    	this.$router.push({name : 'web.account.index'});
			    }
		  	} catch(e) {
		  		// statements
		  		if(e.response){
		  			this.$refs.observer.setErrors(e.response.data.errors);
		  		}
		  		console.log(e);
		  	}
		  }
		}
	}
</script>