<template>
    <section class="navBar csmtr-nav" v-if="user">
        <div class="container-custom">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-transparent"> <a class="navbar-brand" href="#">
                            <Img src="/users/images/logo.png" class="logo" alt="" /> </a>
                            <div class="header-srch">
                                <vue-typeahead-bootstrap
                                v-model="search_user_query"
                                :data="search_user_records"
                                placeholder="Search"
                                :minMatchingChars="1"
                                :serializer="item => item.searchable.name"
                                @hit="setSearchUser($event)"                                    
                                @input="lookupUser">

                                    <template slot="suggestion" slot-scope="{ data }">
                                        <div class="">
                                        <img
                                            class="rounded-circle float-left"
                                            :src="data.searchable.image"
                                            style="width: 40px; height: 40px;" />
                                            <span class="mt-3 ml-2 float-left">
                                                {{ data.searchable.name }}
                                                <span v-if="data.type == 'organizations'">(Org)</span>
                                                <span v-else>(User)</span>
                                            </span>
                                        </div>
                                    </template>

                                </vue-typeahead-bootstrap>

                                <button><i class="fas fa-search"></i></button>
                            </div>


                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation"> <span
                                class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Project
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <router-link class="nav-link" :to="{ name: 'projects.create' }">Initiate Project</router-link>
                                        <router-link class="nav-link" :to="{ name: 'projects' }">My Project</router-link>
                                        <!-- <router-link class="nav-link" :to="{ name: 'projects.logs' }">Project Log</router-link> -->
                                        <router-link class="nav-link" :to="{ name: 'projects.bid', query : { type: 'outgoing' } } ">Project Bid Request</router-link>
                                        <router-link class="nav-link" :to="{ name: 'projects.tm' }">Task Managment</router-link>
                                        <router-link class="nav-link" :to="{ name: 'projects.calender' }">Calender</router-link>
                                    </div>
                                </li>
                                <router-link class="nav-link" :to="{ name: 'organizations' }">Organizations</router-link>

                                <!-- <router-link class="nav-link" :to="{ name: 'jobs' }">Jobs</router-link> -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdown1" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Job
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                        <router-link class="nav-link" :to="{ name: 'jobs' }">Job</router-link>
                                        <router-link class="nav-link" :to="{ name: 'jobs.requested' }">Requested Jobs</router-link>
                                        <!-- <router-link class="nav-link" :to="{ name: 'jobs.offer' }">Jobs Offers</router-link> -->
                                    </div>
                                </li>
                                 <router-link class="nav-link  notification-with-badge" :to="{ name: 'chat' }"><li class="nav-item position-relative ">
                                    <i class="fas fa-comments"></i>  
                                    <span v-if="messageCounter > 0" class="message-badge">{{messageCounter}}</span>
                                 </li> </router-link>
                                <nots @fetch-message-counter="getMessageCounter"></nots>
                            </ul>
                        </div>


                        <div class="top-login-dropdown position-relative">
                            <a @click="toggleDropdown" href="javascript:;">
                                <img :src="user.image" class="profile-img" alt="">
                            </a>

                            <div ref="header_drop_down_login" class="dropdown-menu header-drop-down-login">
                                <ul>
                                    <li><router-link :to="{ name: 'profile' }">Profile</router-link></li>
                                    <li><router-link :to="{ name: 'network', params: {id: 1} }">My Network</router-link></li>
                                    <li><a :href="`${baseUrl}/logout`">Logout</a></li>    
                                    
                                </ul>

                            </div>



                        </div>
                        <!--top login dropdown end-->


                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="navBar" v-else>
        <div class="container-custom">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                        <a class="navbar-brand" href="#">
                            <Img src="/images/logo.png" alt="" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" :href="`${baseUrl}/`">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" :href="`${baseUrl}/about-us`">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" :href="`${baseUrl}/contact-us`">Contact Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" :href="`${baseUrl}/login`">Sign In</a>
                                </li>
                                <li class="nav-item join-cta">
                                    <a :href="`${baseUrl}/signup-as`" class="nav-link">Join</a>
                                </li>
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</template>
<style>
.dropdown-menu{
    min-width: 15rem !important;
}
.message-badge{
    display: inline-block;
    width: 15px;
    height: 15px;
    font-size: 10px !important;
    background: red;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 15px;
    border-radius: 100%;
    position: absolute;
    top: -8px;
    right: -5px;
}
.header-drop-down-login{
    left:-100px;
}
</style>
<script>
    import VueTypeaheadBootstrap from 'vue-typeahead-bootstrap';
    import nots from './NotificationsComponent'

    export default {
        data() {
            return {
                baseUrl: window.base_url,
                user: window.user,
                showDropdown: false,
                search_user_query: '',
                search_user_records : [],        
                messageCounter : 0,
                items : [
                    { name: 'Dashboard', icon: 'fa-home', path: '/dashboard', image: false, subItems: [] },
                    { name: 'User Managment', icon: 'fa-users', path: '/user-management', image: false, subItems: [] },
                    { name: 'Job Managment', icon: 'fa fa-briefcase', path: '/job-management', image: false, subItems: [] },
                    { name: 'Project Management', icon: 'fa-project-diagram', path: '#', image: false, subItems: [] },
                    { name: 'Package Managment', icon: 'fa-archive', path: '/package-managment', image: false, subItems: [] },
                    { name: 'Commision Module', icon: 'fa-money-bill-alt', path: '/commision-module', image: false, subItems: [] },
                    { name: 'Report Log', icon: 'fa-file-alt', path: '/report-log', image: false, subItems: [] },
                    { name: 'Payment Log', icon: 'fa-money-bill-alt', path: '/payment-logs', image: false, subItems: [] },
                    { name: 'Subscription Log', icon: 'fa-calendar-check', path: '/subscription-logs', image: false, subItems: [] },
                    { name: 'Rate & Reviews', icon: 'fa-star', path: '/rate-and-reviews', image: false, subItems: [] },
                    // { name: 'feedback', icon: 'fa-inbox', path: '/feedback', image: false, subItems: [] }
                ]                
            }
        },
        methods: {
            setSearchUser(event){
                if(event.type == "organizations")
                    this.$router.push({ name: 'organizations.show' , params: { id : event.searchable.id } });
                else{
                    console.log(event.searchable)
                    this.$router.push({ name: 'users.show' , params: { id : event.searchable.id } });
                }

                    
            },
            lookupUser(){
                axios.get(`/search-all?disbloadr=true&q=${this.search_user_query}`)
                    .then(data => {
                        this.search_user_records = data.data;
                    });
            },   
            getMessageCounter(counter){
                this.messageCounter = counter; 
            },          
            toggleDropdown(){
                let elem = this.$refs.header_drop_down_login;
                // Show an element
                var show = (elem) => {
                    elem.style.display = 'block';
                    this.showDropdown = true;
                };

                // Hide an element
                var hide = (elem) => {
                    elem.style.display = 'none';
                    this.showDropdown = false;
                };

                // Toggle element visibility
                // If the element is visible, hide it
                if (window.getComputedStyle(elem).display === 'block') {
                    hide(elem);
                    return;
                }
                // Otherwise, show it
                show(elem);
            }
        },
        components: {VueTypeaheadBootstrap, 'nots' : nots},
    }
</script>