<template>
    <section class="add-property-box">
        <div class="container">
            <h1>Add Property</h1>
            <hr>
            <ValidationObserver ref="observer" v-slot="{handleSubmit}">
                <form ref="form" @submit.prevent="handleSubmit(add)">
                    <div class="row">
                        <div class="col-md-6 mt-4">
                            <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="Property Name" class="form-group">
                                <label for="exampleInputEmail1">Property Name:*</label>
                                <input type="text" v-model="form.name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Property Name">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="Home Phone Number" class="form-group">
                                <label for="exampleInputPassword1">Home Phone Number:*</label>
                                <input type="text" v-model="form.phone" class="form-control" id="exampleInputPassword1" placeholder="Enter Home Phone Number">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="Address" class="form-group">
                                <label for="exampleInputPassword1">Address:*</label>
                                <input type="text" v-model="form.address" class="form-control" id="exampleInputPassword1" placeholder="Address Line 1">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="" name="Address Line 2" class="form-group">
                                <input type="text" v-model="form.address_1" class="form-control" id="exampleInputPassword1" placeholder="Address Line 1">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="City" class="form-group">
                                <label for="exampleInputPassword1">City *</label>
                                <input type="text" v-model="form.city" class="form-control" id="exampleInputPassword1" placeholder="Enter City">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="Country" class="form-group">
                                <label for="exampleInputPassword1">Country *</label>
                                <input type="text" v-model="form.country" class="form-control" id="exampleInputPassword1" placeholder="Enter Country">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="State" class="form-group">
                                <label for="exampleInputPassword1">State *</label>
                                <input type="text" v-model="form.state" class="form-control" id="exampleInputPassword1" placeholder="Enter State">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="Zip Code" class="form-group">
                                <label for="exampleInputPassword1">Zip Code *</label>
                                <input type="number" v-model="form.zipcode" class="form-control" id="exampleInputPassword1" placeholder="Enter Zip Code">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                        </div>
                        <div class="col-md-6">
                            <ValidationProvider tag="div" v-slot="{errors}" rules="" name="Floors" class="form-group">
                                <h6>Tell us More About Your Place:*</h6>
                                <label>Floors: </label>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="down" class="btn btn-default" @click="decrease('floors')">
                                            <i class="fas fa-minus"></i>
                                            <!-- <span class="glyphicon glyphicon-minus"></span> -->
                                        </button>
                                    </div>
                                    <input type="text" id="myNumber" class="form-control input-number text-center" v-model="form.floors" />
                                    <div class="input-group-btn">
                                        <button id="up" type="button" class="btn btn-default" @click="increase('floors')">
                                            <i class="fas fa-plus"></i>
                                            <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                        </button>
                                    </div>
                                </div>
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="" name="Bedrooms" class="form-group">
                                <label>Bedrooms: </label>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="down" class="btn btn-default" @click="decrease('bedrooms')">
                                            <i class="fas fa-minus"></i>
                                            <!-- <span class="glyphicon glyphicon-minus"></span> -->
                                        </button>
                                    </div>
                                    <input type="text" id="myNumber2" class="form-control input-number text-center" v-model="form.bedrooms" />
                                    <div class="input-group-btn">
                                        <button id="up" type="button" class="btn btn-default" @click="increase('bedrooms')">
                                            <i class="fas fa-plus"></i>
                                            <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                        </button>
                                    </div>
                                </div>
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="" name="Bathrooms" class="form-group">
                                <label>Bathrooms: </label>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="down" class="btn btn-default" @click="decrease('bathrooms')">
                                            <i class="fas fa-minus"></i>
                                            <!-- <span class="glyphicon glyphicon-minus"></span> -->
                                        </button>
                                    </div>
                                    <input type="text" id="myNumber" class="form-control input-number text-center" v-model="form.bathrooms" />
                                    <div class="input-group-btn">
                                        <button id="up" type="button" class="btn btn-default" @click="increase('bathrooms')">
                                            <i class="fas fa-plus"></i>
                                            <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                        </button>
                                    </div>
                                </div>
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="" name="Balconies" class="form-group">
                                <label>Balconies: </label>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="down" class="btn btn-default" @click="decrease('balconies')">
                                            <i class="fas fa-minus"></i>
                                            <!-- <span class="glyphicon glyphicon-minus"></span> -->
                                        </button>
                                    </div>
                                    <input type="text" id="myNumber" class="form-control input-number text-center" v-model="form.balconies" />
                                    <div class="input-group-btn">
                                        <button id="up" type="button" class="btn btn-default" @click="increase('balconies')">
                                            <i class="fas fa-plus"></i>
                                            <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                        </button>
                                    </div>
                                </div>
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="" name="Kitchens" class="form-group">
                                <label>Kitchens: </label>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="down" class="btn btn-default" @click="decrease('kitchens')">
                                            <i class="fas fa-minus"></i>
                                            <!-- <span class="glyphicon glyphicon-minus"></span> -->
                                        </button>
                                    </div>
                                    <input type="text" id="myNumber" class="form-control input-number text-center" v-model="form.kitchens" />
                                    <div class="input-group-btn">
                                        <button id="up" type="button" class="btn btn-default" @click="increase('kitchens')">
                                            <i class="fas fa-plus"></i>
                                            <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                        </button>
                                    </div>
                                </div>
                            </ValidationProvider>
                            <div>
                                <label style="font-size: 14px;">
                                    <span>Add Property Images:*</span>
                                </label><br>
                                <!-- <span class="btn btn-success fileinput-button">
                                        <span><i class="fas fa-cloud-download-alt"></i> UPLOAD</span>
                                        <input type="file" name="files[]" id="files" multiple accept="image/jpeg, image/png, image/gif,"><br />
                                    </span>&nbsp;&nbsp;<small>Maximum 3</small> -->
                                <output id="Filelist"></output>
                            </div>
                            <ValidationProvider name="Images" ref="uploaderProvider" rules="required|mimes:image/*" v-slot="{validate,errors}" class="btn btn-success fileinput-button">
                                <i class="fas fa-cloud-download-alt"></i>Upload
                                <input @change="getFiles" ref="files" type="file" name="files" id="files" multiple accept="image/jpeg, image/png, image/gif,"><br />
                                <span>{{errors[0]}}</span>
                            </ValidationProvider>
                            <span>Maximum 3</span>
                            <div class="d-flex mt-3 mb-3">
                                <div class="w-75 p-2 m-2 border border-dark" v-for="file in form.files">
                                    <img style="object-fit: cover;" class="w-100 h-100" :src="file.base64">
                                </div>
                            </div>
                            <!-- <span class="text-danger">{{errors[0]}}</span> -->
                        </div>
                        <ValidationProvider tag="div" v-slot="{errors}" rules="" name="Description" class="form-group" style="width: 100%;">
                            <label for="exampleFormControlTextarea1">Add Description(Optional)*</label>
                            <textarea class="form-control" v-model="form.description" id="exampleFormControlTextarea1" rows="4" placeholder="Enter Description"></textarea>
                            <button type="submit" class="add-propertybox-btn">ADD</button>
                            <span class="text-danger">{{errors[0]}}</span>
                        </ValidationProvider>
                    </div>
                </form>
            </ValidationObserver>
        </div>
    </section>
</template>
<script>
import { mapActions } from 'vuex';
export default {
    data() {
        return {
            form: {
                name: '',
                description: '',
                phone: '',
                address: '',
                address_1: '',
                city: '',
                country: '',
                state: '',
                zipcode: '',
                floors: 0,
                bathrooms: 0,
                bedrooms: 0,
                kitchens: 0,
                balconies: 0,
                files : [],
            },
        };
    },
    methods: {
        ...mapActions('property', ['store']),
        async add() {

            let fd = new FormData();
            let files = _.map(this.form.files, 'file');
            let form = {
                ...this.form,
                files,
            };
            this.buildFormData(fd, form);

            let params = {
                route: route('property.store'),
                data: fd,
            };
            // alert(params);
            let { data } = await this.store(params);
            if (data.status) {
                this.$snotify.success(data.msg);
                this.$refs.form.reset();
                this.form = {};
                this.$router.push({ name: 'web.properties.index' });
            }
        },
        decrease(field) {
            if (this.form[field] > 0) {
                this.form[field]--;
            }
        },
        increase(field) {
            this.form[field]++;
        },
        setBase64(e) {
            // console.log(e.target);
            return e.target.result;
        },
        getBase64(file) {
            return new Promise(function(resolve) {
                var reader = new FileReader();
                reader.onloadend = function() {
                    resolve(reader.result)
                }
                reader.readAsDataURL(file);
            })
        },
        async getFiles(e) {
            let { valid } = await this.$refs.uploaderProvider.validate(e);
            if (valid) {
                let files = this.$refs.files.files;
                let self = this;
                await _.each(files, async (file) => {
                    let base64 = await this.getBase64(file);
                    if (self.form.files.length < 3) {

                        self.form.files.push({ file: file, base64 });
                    }
                });
                // console.log(this.form.files.length);
                if (this.form.files.length > 3) {
                    this.form.files.splice(2)
                    this.$snotify.error('you can not upload more than 3 files');
                }
                this.$refs.files.value = '';
            }
        },
    }
}

</script>
