<template>
    <section class="add-property-box">
        <div class="container">
            <h1>Edit Property</h1>
            <hr>
            <ValidationObserver ref="observer" v-slot="{handleSubmit}">
                <form ref="form" @submit.prevent="handleSubmit(update)">
                    <div class="row">
                        <div class="col-md-6 mt-4">
                            <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="Property Name" class="form-group">
                                <label for="exampleInputEmail1">Property Name:*</label>
                                <input type="text" v-model="form.name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Property Name">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="Home Phone Number" class="form-group">
                                <label for="exampleInputPassword1">Home Phone Number:*</label>
                                <input type="text" v-model="form.phone" class="form-control" id="exampleInputPassword1" placeholder="Enter Home Phone Number">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="Address" class="form-group">
                                <label for="exampleInputPassword1">Address:*</label>
                                <input type="text" v-model="form.address" class="form-control" id="exampleInputPassword1" placeholder="Address Line 1">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="" name="Address Line 2" class="form-group">
                                <input type="text" v-model="form.address_1" class="form-control" id="exampleInputPassword1" placeholder="Address Line 1">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="City" class="form-group">
                                <label for="exampleInputPassword1">City *</label>
                                <input type="text" v-model="form.city" class="form-control" id="exampleInputPassword1" placeholder="Enter City">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="Country" class="form-group">
                                <label for="exampleInputPassword1">Country *</label>
                                <input type="text" v-model="form.country" class="form-control" id="exampleInputPassword1" placeholder="Enter Country">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="State" class="form-group">
                                <label for="exampleInputPassword1">State *</label>
                                <input type="text" v-model="form.state" class="form-control" id="exampleInputPassword1" placeholder="Enter State">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="required" name="Zip Code" class="form-group">
                                <label for="exampleInputPassword1">Zip Code *</label>
                                <input type="number" v-model="form.zipcode" class="form-control" id="exampleInputPassword1" placeholder="Enter Zip Code">
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                        </div>
                        <div class="col-md-6">
                            <ValidationProvider tag="div" v-slot="{errors}" rules="" name="Floors" class="form-group">
                                <h6>Tell us More About Your Place:*</h6>
                                <label>Floors: </label>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="down" class="btn btn-default" @click="decrease('floors')">
                                            <i class="fas fa-minus"></i>
                                            <!-- <span class="glyphicon glyphicon-minus"></span> -->
                                        </button>
                                    </div>
                                    <input type="text" id="myNumber" class="form-control input-number text-center" v-model="form.floors" />
                                    <div class="input-group-btn">
                                        <button id="up" type="button" class="btn btn-default" @click="increase('floors')">
                                            <i class="fas fa-plus"></i>
                                            <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                        </button>
                                    </div>
                                </div>
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="" name="Bedrooms" class="form-group">
                                <label>Bedrooms: </label>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="down" class="btn btn-default" @click="decrease('bedrooms')">
                                            <i class="fas fa-minus"></i>
                                            <!-- <span class="glyphicon glyphicon-minus"></span> -->
                                        </button>
                                    </div>
                                    <input type="text" id="myNumber2" class="form-control input-number text-center" v-model="form.bedrooms" />
                                    <div class="input-group-btn">
                                        <button id="up" type="button" class="btn btn-default" @click="increase('bedrooms')">
                                            <i class="fas fa-plus"></i>
                                            <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                        </button>
                                    </div>
                                </div>
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="" name="Bathrooms" class="form-group">
                                <label>Bathrooms: </label>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="down" class="btn btn-default" @click="decrease('bathrooms')">
                                            <i class="fas fa-minus"></i>
                                            <!-- <span class="glyphicon glyphicon-minus"></span> -->
                                        </button>
                                    </div>
                                    <input type="text" id="myNumber" class="form-control input-number text-center" v-model="form.bathrooms" />
                                    <div class="input-group-btn">
                                        <button id="up" type="button" class="btn btn-default" @click="increase('bathrooms')">
                                            <i class="fas fa-plus"></i>
                                            <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                        </button>
                                    </div>
                                </div>
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="" name="Balconies" class="form-group">
                                <label>Balconies: </label>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="down" class="btn btn-default" @click="decrease('balconies')">
                                            <i class="fas fa-minus"></i>
                                            <!-- <span class="glyphicon glyphicon-minus"></span> -->
                                        </button>
                                    </div>
                                    <input type="text" id="myNumber" class="form-control input-number text-center" v-model="form.balconies" />
                                    <div class="input-group-btn">
                                        <button id="up" type="button" class="btn btn-default" @click="increase('balconies')">
                                            <i class="fas fa-plus"></i>
                                            <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                        </button>
                                    </div>
                                </div>
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" v-slot="{errors}" rules="" name="Kitchens" class="form-group">
                                <label>Kitchens: </label>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="down" class="btn btn-default" @click="decrease('kitchens')">
                                            <i class="fas fa-minus"></i>
                                            <!-- <span class="glyphicon glyphicon-minus"></span> -->
                                        </button>
                                    </div>
                                    <input type="text" id="myNumber" class="form-control input-number text-center" v-model="form.kitchens" />
                                    <div class="input-group-btn">
                                        <button id="up" type="button" class="btn btn-default" @click="increase('kitchens')">
                                            <i class="fas fa-plus"></i>
                                            <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                        </button>
                                    </div>
                                </div>
                            </ValidationProvider>
                            <ValidationProvider name="Images" ref="uploaderProvider" rules="image" v-slot="{validate,errors}" class="btn btn-success fileinput-button">
                                    <i class="fas fa-cloud-download-alt"></i>Upload
                                    <input @change="getFiles" ref="files" type="file" id="files" multiple accept="image/jpeg, image/png, image/gif,"><br />
                                    <span>{{errors[0]}}</span>
                                </ValidationProvider>
                                <span>Maximum 3</span>
                                <div class="d-flex mt-3 mb-3">
                                    <div class="w-75 p-2 m-2 border border-dark" v-for="file in form.images">
                                        <img style="object-fit: cover;" class="w-100 h-100" :src="file.base64 || file.url">
                                    </div>
                                </div>
                                <!-- <span class="text-danger">{{errors[0]}}</span> -->
                        </div>
                        <ValidationProvider tag="div" v-slot="{errors}" rules="" name="Description" class="form-group" style="width: 100%;">
                            <label for="exampleFormControlTextarea1">Add Description(Optional)*</label>
                            <textarea class="form-control" v-model="form.description" id="exampleFormControlTextarea1" rows="4" placeholder="Enter Description"></textarea>
                            <button type="submit" class="add-propertybox-btn">UPDATE</button>
                            <span class="text-danger">{{errors[0]}}</span>
                        </ValidationProvider>
                    </div>
                </form>
            </ValidationObserver>
        </div>
    </section>
</template>
<script>
import { mapActions,mapState } from 'vuex';
export default {
    data() {
        return {
            form: {
                name: '',
                description: '',
                phone: '',
                address: '',
                address_1: '',
                city: '',
                country: '',
                state: '',
                zipcode: '',
                floors: 0,
                bathrooms: 0,
                bedrooms: 0,
                kitchens: 0,
                balconies: 0,
            },
        };
    },
    async created(){
            await this.fetch();
            this.form = this.property;
            this.form.images = this.form.images;
        },
    computed: {
        ...mapState('property', ['property']),
    },
    methods: {
        ...mapActions('property', ['store', 'get']),
        async fetch() {
            let { property } = this.$route.params;
            let params = {
                route: route('property.show', { property }),
                data: {},
            };
            await this.get(params);
        },
        async update() {

            let fd = new FormData();
            let files = _.map(this.form.images,function(file){
                if(file.base64){
                    return file.file;
                }
            });
            files = _.filter(files,(item)=>{return item != undefined});
            let form = {
                ...this.form,
                files,
            };
            // console.log(form)
            this.buildFormData(fd, form);
            fd.append('_method','PUT');
            let {property} = this.$route.params; 
            let params = {
                route: route('property.update',{ property }),
                data: fd,
                method : 'post',
            };
            // alert(params);
            let { data } = await this.store(params);
            if (data.status) {
                this.$snotify.success(data.msg);
                this.$refs.form.reset();
                this.form = {};
                this.$router.push({ name: 'web.properties.index' });
            }
        },
        setBase64(e) {
            // console.log(e.target);
            return e.target.result;
        },
        getBase64(file) {
            return new Promise(function(resolve) {
                var reader = new FileReader();
                reader.onloadend = function() {
                    resolve(reader.result)
                }
                reader.readAsDataURL(file);
            })
        },
        async getFiles(e) {
            let { valid } = await this.$refs.uploaderProvider.validate(e);
            if (valid) {
                let files = this.$refs.files.files;
                let self = this;
                await _.each(files, async (file) => {
                    let base64 = await this.getBase64(file);
                    // console.log(self.form.images);
                    if (self.form.images.length < 3) {

                        self.form.images.push({ file: file, base64 });
                    }
                });
                // console.log(this.form.images.length);
                if (this.form.images.length > 3) {
                    this.form.images.splice(2)
                    this.$snotify.error('you can not upload more than 3 files');
                }
                this.$refs.files.value = '';
            }
        },
        decrease(field) {
            if (this.form[field] > 0) {
                this.form[field]--;
            }
        },
        increase(field) {
            this.form[field]++;
        },
    }
}

</script>
