<template>
    <div>
        <section class="searchbar-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group md-form form-sm form-2 pl-0">
                            <input v-model="search" class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <span class="input-group-text lime lighten-2" id="basic-text1">
                                    <i class="fas fa-search text-grey" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <router-link :to="{name : 'web.properties.create'}" class="search-bar-btn">ADD PROPERTY</router-link>
                    </div>
                </div>
            </div>
        </section>
        <section class="property-listing-cards">
            <div class="container">
                <div class="row">
                    <div class="card-deck">
                        <div class="col-md-6" :key="index" v-for="(property,index) in properties.data">
                            <div class="card">
                                <img :src="property.media?property.media.url:'assets/images/placeholder.png'" class="card-img-top" alt="...">
                                <div class="dropdown">
                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <router-link class="dropdown-item" :to="{name : 'web.properties.show',params : {id : property.property_id} }"><i class="fas fa-eye"></i> VIEW
                                            PROPERTY</router-link>
                                        <a @click="propertyId = property.id" class="dropdown-item" href="#" data-toggle="modal" data-target="#delete-property-confirm"><i class="fas fa-trash"></i> DELETE PROPERTY</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <strong>{{property.name}}</strong>
                                    <span class="card-green-text">Property_ID: P_{{property.id}}</span>
                                    <h5 class="card-title">Address:</h5>
                                    <small>{{property.address}} {{property.address_1}}</small>
                                    <p class="card-text text-muted">
                                        <small>{{property.excerpt}}</small>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small class="card-footer-left">{{property.bedrooms}} Bedrooms | {{property.bathrooms}} bathrooms | {{property.kitchens}} kitchen |</small>
                                    <small class="card-footer-right">Total Employees: {{property.employees_count}}</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 " v-if="!$_.isUndefined(properties.data) &&  properties.data.length == 0">
                        	<h3 class="text-center">No Property Found</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pagination-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <strong>SHOWING {{properties.per_page}} OUT OF {{properties.total}} ENTRIES</strong>
                    </div>
                    <div class="col-md-6">
                        <pagination :data="properties" @pagination-change-page="fetch"></pagination>
                        <!-- <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">
                                        1
                                        <span class="sr-only">(current)</span>
                                    </span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav> -->
                    </div>
                </div>
            </div>
        </section>
        <delete-property-confirm el="delete-property-confirm" title="Delete Property" subtitle="Are you sure you want to delete <br> this Property?">
            <template slot="footer">
                <a href="javascript:void(0)" data-toggle="modal" data-target="#assign-task" @click="deleteProperty()" class="emplyee-add-btn">Yes</a>
                <a href="javascript:void(0)" data-dismiss="modal" class="emplyee-add-btn">No</a>
            </template>
        </delete-property-confirm>
    </div>
</template>
<script>
import { mapActions, mapState, mapMutations } from 'vuex';
const DeletePropertyConfirm = () => import('@views/Partials/web/popups/Success.vue');
export default {
    async created() {
        await this.fetch();
        this.fetch = _.debounce(this.fetch, 500);
    },
    data() {
        return {
            search: '',
            propertyId : '',
        };
    },
    components : {
    	DeletePropertyConfirm,
    },
    computed: {
        ...mapState('property', ['properties']),
    },
    watch: {
        search(val, oldVal) {
            this.fetch();
        }
    },
    methods: {
        ...mapActions('property', ['getAll','delete']),
        async fetch(page = 1) {
            let params = {
                route: route('property.index'),
                mutation: 'index',
                data: {
                    page: page,
                    search: this.search,
                },
            };
            await this.getAll(params);
        },
        async deleteProperty() {
            let params = {
                route: route('property.destroy', { property: this.propertyId }),
                method: 'DELETE',
                mutation: '',
                data: {},
            }
            let { data } = await this.delete(params);
            if (data.status) {
            	$('#delete-property-confirm').modal('hide');
                this.$snotify.success(data.msg);
            }
        }
    }
}

</script>
