<template>
    <section class="view-property-box">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <strong>View Property</strong>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <strong class="green-strong">Property_ID: P_{{property.id}}</strong>
                </div>
                <div class="col-md-3">
                    <ul class="dark-ul">
                        <li>Property Name:</li>
                        <li>Address:</li>
                        <li>Details:</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="light-ul">
                        <li>{{property.name}}</li>
                        <li>{{property.address}} {{property.address_1}}</li>
                        <li>{{property.floors}} Floors</li>
                        <li>{{property.bedrooms}} Bedrooms</li>
                        <li>{{property.bathrooms}} Bathrooms</li>
                        <li>{{property.balconies}} Balconies</li>
                        <li>{{property.kitchens}} Kitchens</li>
                    </ul>
                </div>
                <div class="col-md-3"></div>
            </div>
            <h4>Property Images:</h4>
            <carousel v-if="carouselCounter > 0" :key="carouselCounter" :images="property.images"></carousel>
            <h4>Description:</h4>
            <p>{{property.description}}</p>
            <div class="employee-deatail-head">
                <div class="row">
                    <div class="col-md-6">
                        <h4> Employee Details:</h4>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group md-form form-sm form-2 pl-0">
                            <input v-model="search" class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <span class="input-group-text lime lighten-2" id="basic-text1">
                                    <i class="fas fa-search text-grey" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:void(0)" @click="assignEmployee()">Add Employee</a>
                    </div>
                </div>
            </div>
            <div class="employee-deatail-box">
                <div v-for="employee in property.employees" class="em-deatail">
                    <div class="row mb-2">
                        <!-- <div class="col-md-4"> -->
                        <div class="col-md-1">
                            <img src="assets/images/download.png" alt="" style="width: 100%;">
                        </div>
                        <div class="col-md-2">
                            <span>{{employee.name}} Employee_Id {{employee.id}}</span>
                            <br>
                            <router-link :to="{name : 'web.employees.show',params : { employee : employee.employee_id}}" class="view-profile">view profile</router-link>
                        </div>
                        <!-- </div> -->
                        <div class="col-md-6"></div>
                        <div class="col-md-3 mt-4">
                            <a @click="deleteEmployee(employee)" href="javascript:void(0)" class="employee-remove-btn" data-toggle="modal" data-target="#exampleModal">Remove Employee</a>
                        </div>
                    </div>
                </div>
            </div>
            <router-link :to="{name : 'web.properties.index'}" class="edit-property-btn">CLOSE</router-link>
            <router-link :to="{name : 'web.properties.edit',params : {property : property.property_id} }" class="edit-property-btn">EDIT PROPERTY</router-link>
            <assign-task :property="property.id" @task-assigned="fetch" v-if="exclude" :exclude="exclude" :key="assignTask" @closed="popupClosed"></assign-task>
            <assign-employee :property="property.id" @task-assigned="fetch" v-if="assignEmployeeCounter > 0" :exclude="excludeEmployees" :key="'employee'+assignEmployeeCounter" @closed="assignEmployeeClosed"></assign-employee>
            <success el="confirm-popup" title="System Message" subtitle="Sorry! You won't be able to delete this employee until you assign his/her tasks to any other employee!">
                <template slot="footer">
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#assign-task" @click="showEmployeesPopup('#confirm-popup')" class="emplyee-add-btn">Assign Another employee</a>
                    <a href="javascript:void(0)" data-dismiss="modal" class="emplyee-add-btn">Close</a>
                </template>
            </success>
            <!-- <a href="#" class="edit-property-btn" class="modal-add-btn" data-toggle="modal" data-target="#assign-property-ModalCenter">assign Property</a> -->
        </div>
    </section>
</template>
<script>
const AssignTask = () => import('@views/Pages/web/Employee/components/AssignTask.vue');
const Success = () => import('@views/Partials/web/popups/Success.vue');
const AssignEmployee = () => import('@views/Partials/web/popups/AssignEmployee.vue');
const Carousel = () => import('./components/Carousel.vue');
import { mapActions, mapState } from 'vuex';
export default {
    data() {
        return {
            assignTask: 0,
            assignEmployeeCounter: 0,
            carouselCounter : 0,
            exclude: '',
            excludeEmployees: '',
            search: '',
        };
    },
    components: {
        AssignTask,
        Success,
        AssignEmployee,
        Carousel,
    },
    watch: {
        search(val, oldVal) {
            this.fetch();
        }
    },
    async created() {
        await this.fetch();
        this.fetch = _.debounce(this.fetch, 500);
    },
    computed: {
        ...mapState('property', ['property']),
    },
    methods: {
        ...mapActions('property', ['get', 'store']),
        async fetch() {
            let { id } = this.$route.params;
            let params = {
                route: route('property.show', { property: id }),
                data: {
                    search: this.search,
                },
            };
            await this.get(params);
        },
        assignEmployee() {
            let { employees } = this.property;
            let employee_ids = _.map(employees, 'id');
            this.excludeEmployees = employee_ids;
            this.assignEmployeeCounter++
            setTimeout(function() {
                $('#assign-employee').modal('show');
            }, 300);
            this.$nextTick(function() {});
        },
        async deleteEmployee(employee) {

            let { pending_tasks, id } = employee;
            if (pending_tasks == 0) {
                let params = {
                    route: route('employee.remove-property', { employee: employee.employee_id }),
                    method: 'POST',
                    mutation: 'remove_employee',
                    data: {
                        property: this.property.id,
                        employee: id,

                    },
                }
                let { data } = await this.store(params);
                console.log(data);
                if (data.status) {
                    this.$snotify.success(data.msg);
                }
            } else {
                this.exclude = employee.id;
                this.assignTask++;
                $('#confirm-popup').modal('show');
            }
        },
        popupClosed() {
            this.assignTask++;
        },
        assignEmployeeClosed() {

            this.assignEmployeeCounter++;
            console.log(this.assignEmployeeCounter);
        },
        showEmployeesPopup(el) {
            $(el).modal('hide');
            $('#assign-task').modal('show');
        }
    },
    mounted() {
        this.$nextTick(function() {
           this.carouselCounter++;
        });
    },
}

</script>
