<template>
    <section class="customer-home-main">
        <div class="container">
            <div class="text-center pb-5">
                <Img src="/images/error-img.png" class="img-fluid" alt="" />
            </div>

        </div>
        <!--container end-->
    </section>
</template>

<script>
    export default {
        data() {
            return {
                base_url: window.base_url,
                blocked: false,
            }
        }
    }
</script>
