<template>
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="configuration" class="search view-cause">
                <div class="row">
                    <div class="col-12">
                        <div class="card pad-20">
                            <div class="card-content collapse show">
                                <ValidationObserver v-slot="{handleSubmit}">
                                    <form @submit.prevent="handleSubmit(update)">
                                        <div class="card-body table-responsive card-dashboard">
                                            <router-link :to="{name : 'admin.packages.index'}">
                                                <h2>
                                                    < PACKAGE MANAGEMENT</h2> </router-link> <button type="submit" class="edit-btn">UPDATE
                                                        </button>
                                                        <section class="package-managemant-box">
                                                            <div class="">
                                                                <!--Accordion wrapper-->
                                                                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                                                                    <!-- Accordion card -->
                                                                    <div v-for="pack,index in packages" class="card">
                                                                        <!-- Card header -->
                                                                        <div class="card-header" role="tab" :id="`headingOne${index}`">
                                                                            <a data-toggle="collapse" data-parent="#accordionEx" :href="`#collapseOne${index}`" aria-expanded="true" aria-controls="collapseOne1">
                                                                                <h5 class="mb-0">
                                                                                    {{pack.title}}
                                                                                </h5>
                                                                            </a>
                                                                            <i class="fas fa-chevron-up" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1"></i>
                                                                        </div>
                                                                        <!-- Card body -->
                                                                        <div :id="`collapseOne${index}`" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                                                                            <div class="card-body">
                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <ValidationProvider :vid="`name${index}`" v-slot="{errors}" rules="required" name="Package Name" class="form-group">
                                                                                            <label for="exampleInputEmail1">Package
                                                                                                Name</label>
                                                                                            <input type="text" v-model="pack.title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Package Name">
                                                                                            <span>{{errors[0]}}</span>
                                                                                        </ValidationProvider>
                                                                                        <ValidationProvider :vid="`duration${index}`" v-slot="{errors}" rules="required" name="Package Duration" class="form-group">
                                                                                            <label for="exampleInputPassword1">Duration</label>
                                                                                            <input v-model="pack.duration" type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter Duration">
                                                                                            <span>{{errors[0]}}</span>
                                                                                        </ValidationProvider>
                                                                                        <ValidationProvider 	:vid="`amount${index}`" v-slot="{errors}" rules="required" name="Package Amount" class="form-group">
                                                                                            <label for="exampleInputPassword1">Charges</label>
                                                                                            <input v-model="pack.amount" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Amount">
                                                                                            <span>{{errors[0]}}</span>
                                                                                        </ValidationProvider>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <ValidationProvider :vid="`description${index}`" v-slot="{errors}" rules="required" name="Package Description" class="form-group">
                                                                                            <label for="exampleFormControlTextarea1">Description</label>
                                                                                            <textarea v-model="pack.description" class="form-control" id="exampleFormControlTextarea1" rows="12" placeholder="Enter Description"></textarea>
                                                                                            <span>{{errors[0]}}</span>
                                                                                        </ValidationProvider>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- Accordion wrapper -->
                                                            </div>
                                                        </section>
                                        </div>
                                    </form>
                                </ValidationObserver>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
export default {
    computed: {
        ...mapState('admin', ['packages']),
    },
    components: {
        // EmployeeTable,
    },
    created() {
        this.fetch();
    },
    methods: {
        ...mapActions('admin', ['getAll','store']),
        async fetch() {
            let params = {
                route: route('admin.package.index'),
                mutation: 'SET_PACKAGES',
                variable: 'packages',
                data: {}
            };
            let { data } = await this.getAll(params);
        },
        async update(){
        	let fd = new FormData();
        	fd.append('_method','PUT');
        	this.buildFormData(fd,{packages : this.packages});
        	let params = {
                route: route('admin.package.update',{package : 'edit'}),
                method : 'POST',
                data: fd,
            };
            let { data } = await this.store(params);
            this.$snotify.success(data.msg);
            this.$router.push({name : 'admin.packages.index'});
        },
    }
}

</script>
