<template>
	<div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="configuration" class="search view-cause">
                <div class="row">
                    <div class="col-12">
                        <div class="card pad-20">
                            <div class="card-content collapse show">
                                <div class="card-body table-responsive card-dashboard">
                                    <a href="#">
                                        <h2>
                                            PACKAGE MANAGEMENT</h2>
                                    </a>
                                    <router-link :to="{name : 'admin.packages.edit'}" class="edit-btn">EDIT</router-link>

                                    <section class="package-managemant-box">
                                        <div class="">


                                            <!--Accordion wrapper-->
                                            <div class="accordion md-accordion" id="accordionEx" role="tablist"
                                                aria-multiselectable="true">

                                                <!-- Accordion card -->
                                                <div v-for="(pack,index) in packages" class="card">

                                                    <!-- Card header -->
                                                    <div class="card-header" role="tab" id="headingOne1">
                                                        <a data-toggle="collapse" data-parent="#accordionEx"
                                                            href="#collapseOne1" aria-expanded="true"
                                                            aria-controls="collapseOne1">
                                                            <h5 class="mb-0">
                                                                {{pack.title}}
                                                            </h5>
                                                        </a>
                                                        <i class="fas fa-chevron-up" data-toggle="collapse"
                                                            data-parent="#accordionEx" href="#collapseOne1"
                                                            aria-expanded="true" aria-controls="collapseOne1"></i>
                                                    </div>

                                                    <!-- Card body -->
                                                    <div id="collapseOne1" class="collapse show" role="tabpanel"
                                                        aria-labelledby="headingOne1" data-parent="#accordionEx">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-2 mt-2">
                                                                    <p>Package Name</p>
                                                                </div>
                                                                <div class="col-md-10 mt-2">
                                                                    <span class="gray-color">{{pack.title}}</span>
                                                                </div>
                                                                <div class="col-md-2 mt-2">
                                                                    <p>Duration</p>
                                                                </div>
                                                                <div class="col-md-10 mt-2">
                                                                    <span class="gray-color">{{pack.duration}} Month</span>
                                                                </div>
                                                                <div class="col-md-2 mt-2">
                                                                    <p> Charges</p>
                                                                </div>
                                                                <div class="col-md-10 mt-2">
                                                                    <span class="gray-color">${{pack.amount}}</span>
                                                                </div>
                                                                <div class="col-xl-2 col-lg-12 col-md-12 col-12 mt-2">
                                                                    <p>Description</p>
                                                                </div>
                                                                <div class="col-xl-10 col-lg-10 col-md-10 col-12 mt-2">
                                                                    <span class="gray-color">{{pack.description || 'NA'}}</span>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <!-- Accordion wrapper -->
                                        </div>
                                    </section>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
export default {
	computed: {
		...mapState('admin', ['packages']),
	},
	components: {
		// EmployeeTable,
	},
	created() {
		this.fetch();
	},
	methods: {
		...mapActions('admin', ['getAll']),
		async fetch() {
			let params = {
				route: route('admin.package.index'),
				mutation: 'SET_PACKAGES',
				variable: 'packages',
				data: {
				}
			};
			let { data } = await this.getAll(params);
		}
	}
}

</script>