<template>

    <Timeline v-if="user"/>

    <Landing v-else/>

</template>

<script>
    import Landing from "./Landing";
    import Timeline from "./Timeline";
    export default {
        components: {Landing, Timeline},
        data() {
            return {
                baseUrl: window.base_url,
                user: window.user,
            }
        },
        mounted() {},
        methods: {},
        watch: {}
    }
</script>

<style>

</style>