<template>
    <fragment>
        <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                    <button type="button" class="close text-right mr-1 mt-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="px-1 pt-2 pb-5 text-center">
                        <Img src="/images/recycle.png" class="center-img" alt="" />
                        <p class="d-blue mt-1 medium ">Are you sure want to delete this post?</p>
                        <div class="d-flex flex-wrap justify-content-center">
                            <button @click="deletePost" class="px-4 mx-1 py-1 mt-2 model-transprnt-btn">Yes</button>
                            <button data-dismiss="modal" class="px-4 mx-1 py-1 mt-2 model-transprnt-btn">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="repost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                    <button type="button" class="close text-right mr-1 mt-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="px-1 pt-2 pb-5 text-center">
                        <Img src="/images/complaint.png" class="center-img" alt="" />
                        <p class="d-blue mt-1 medium ">Report Post <br> Post Reported Successfully</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="privcy-post" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                    <button type="button" class="close text-right mr-1 mt-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="px-1 pt-2 pb-5 text-center">
                        <Img src="/images/complaint.png" class="center-img" alt="" />
                        <h5>Privacy Setting</h5>
                        <p class="d-blue mt-1 medium ">Who can see your post</p>
                        <label class="new-check">
                            <Img src="/images/privcy-icon1.png" alt="" />
                            <input @click="updatePrivacy(3)" v-model="post.privacy" value="0" type="radio" name="radio">
                                <span v-if="post.privacy==3">
                                <span class="checkmark"></span>
                            </span>
                            <span v-else>
                                <span class="checkmarkFirst"></span>
                            </span>
                                  Group only privacy
                            </label>
                        <label class="new-check">
                            <Img src="/images/privcy-icon1.png" alt="" />
                            <input @click="updatePrivacy(0)" v-model="post.privacy" value="0" type="radio" name="radio">
                            <span v-if="post.privacy==0">
                                <span class="checkmark"></span>
                            </span>
                            <span v-else>
                                <span class="checkmarkFirst"></span>
                            </span>
                            Connek Network <br>anyone on connek pro
                        </label>
                        <label class="new-check">
                            <Img src="/images/privcy-icon2.png" alt="" />
                            <input @click="updatePrivacy(1)" v-model="post.privacy" value="1" type="radio" name="radio">
                           <span v-if="post.privacy==1">
                                <span class="checkmark"></span>
                            </span>
                            <span v-else>
                                <span class="checkmarkFirst"></span>
                            </span>
                            Connections <br>Your friends on Connekpro
                        </label>
                        <label class="new-check">
                            <Img src="/images/privcy-icon3.png" alt="" />
                            <input @click="updatePrivacy(2)" v-model="privacy" value="2" type="radio" name="radio">
                           <span v-if="post.privacy==2">
                                <span class="checkmark"></span>
                            </span>
                            <span v-else>
                                <span class="checkmarkFirst"></span>
                            </span>
                            Only me
                        </label>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="viewLikers" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                    <button type="button" class="close text-right mr-1 mt-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div v-if="post" class="p-3">
                        <div class="like-feed-card" v-if="post">
                            <h3 class="text-center"><i class="far fa-thumbs-up"></i>{{ post.likesBy.length }} Likes</h3>

                            <div class="like-feed-card-scroll">

                                <div v-for="(liker, lindex) in post.likesBy" :key="lindex" class="like-feed-card-row">
                                    <div class="d-flex align-items-center">
                                        <img :src="liker.image" class="profile-img" alt="">
                                        <div class="flex-column">
                                            <h5>{{ liker.name }}</h5>
                                            <p>
                                                <vue-moments-ago class="" prefix="liked at " suffix="ago"
                                                    :date="liker.pivot.created_at" lang="en" />
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </fragment>

</template>

<script>
    import VueMomentsAgo from 'vue-moments-ago';
    export default {
        props: [
            'post',
        ],
        components: {
            VueMomentsAgo
        },
        data() {
            return {
                baseUrl: window.base_url,
                user: window.user,
                privacy: 0,
            }
        },
        mounted() {},
        methods: {
            updatePrivacy(privacy){
                axios.patch(`posts/${this.post.id}`, { privacy: privacy})
                    .then(({
                        data
                    }) => {
                        this.$emit('refetch', true);
                        this.$toastr.success(data.message, "Success !");
                        $('#privcy-post').modal('hide');
                    });

            },
            deletePost() {
                axios.delete(`posts/${this.post.id}`)
                    .then(({
                        data
                    }) => {
                        this.$emit('refetch', true);
                        this.$toastr.success(data.message, "Success !");
                        $('#deletePostModal').modal('hide');
                    });
            }
        },
        watch: {}
    }
</script>

<style>

</style>