<template>
    <section :class="`${group ? '' : 'customer-home-main'}`">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="timeline-post-main clearfix">
                        <div class="timeline-post-main-top">
                            <textarea v-model="description" class = "post-textarea" placeholder="Would you like to post something"></textarea>
                            
                     
                            <a @click="$refs.fileselector.click()" href="javascript:;">
                                <img class="post-image-icon" src="images/uploadConekMedia.png" />
                            </a>
                                 <!-- <i class="far fa-file-image"></i></a> -->
                          
                            <input @change="handleFileChange" accept="image/*, video/*" ref="fileselector" type="file" style="display:none" name="media">
                        
                        <button @click="savePost" type="button" class="main-blue-btn fa-pull-right home-post-btn my-0">POST</button>
                        </div>

                        

                        <div class="row">
                            <div class="col-lg-10">
                                <ul class="timeline-post-imgs" v-if="mediasThumb">
                                    <li>
                                        <a @click="removeFile" href="javascript:;">
                                            <i class="fas fa-times-circle"></i>
                                        </a>
                                        <video style="width: 150px;" v-if="mediasThumb.indexOf('blob') > -1" 
                                            :src="mediasThumb" poster alt=""/>
                                        <img v-else :src="mediasThumb" alt="">

                                    </li>

                                </ul>
                            </div>

                           

                        </div>
                    </div>
                    <!--timeline post end-->
                     <div v-for="(post, index) in posts" :key="index">
                      

                        <span>
                                <div class="timeline-card">

                                
                                <div class="timeline-card-top">
                                    <div class="profile-main">
                                      <span v-if="user.id != post.postable.id">
                                         <router-link class="group-init" v-if="post.postable.isOrg==true" 
                                        :to="{ name: 'organizations.show', params: { id: post.postable.id } }">
                                             <img  :src="post.postable.image" alt="">
                                        </router-link>
                                        <router-link  class="group-init" v-else 
                                            :to="{ name: 'users.show', params: { id:post.postable.id} }">
                                             <img  :src="post.postable.image" alt="">
                                        </router-link>

                                        </span>
                                        <span v-else>
                                        <img  :src="post.postable.image" alt="">

                                        </span>

                                        <span class="online-dot"></span>
                                    </div>


                                    <div class="name-details">
                                        <h5 class="name">
                                    <span v-if="user.id != post.postable.id">
                                         <router-link class="group-init" v-if="post.postable.isOrg==true" 
                                        :to="{ name: 'organizations.show', params: { id: post.postable.id } }">
                                            {{post.postable.name}}
                                        </router-link>
                                        <router-link  class="group-init" v-else 
                                            :to="{ name: 'users.show', params: { id:post.postable.id} }">
                                            {{post.postable.name}}
                                        </router-link>
                                        
                                    </span>
                                    <span v-else>
                                        {{post.postable.name}}
                                    </span>        
                                   


                                            <router-link class="group-init" v-if="post.group && post.disable_group_link==false"
                                                :to="{ name: 'group.show', params: { slug:post.group.slug, id: post.group.id } }" >
                                                <i class="fas fa-caret-right"></i>&nbsp;&nbsp; {{post.group.name}}
                                            </router-link> 
                                            <span v-else-if="post.group.name" > <i class="fas fa-caret-right"></i>&nbsp;&nbsp; {{post.group.name}}</span>
                                                                                  
                                            <span v-else > {{post.group.name}}</span>
                                        </h5>
                                        <h6 class="posted-time">
                                            <vue-moments-ago class="" prefix="Posted at " suffix="ago" :date="post.created_at" 
                                            lang="en" />
                                        </h6>
                                    </div>

                                    <div v-if="post.owner" class="btn-group timeline-card-top-drop-down">
                                        <button type="button" class="btn dropdown-toggle btn-drop-table btn-sm"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                                class="fas fa-ellipsis-h"></i></button>
                                        <div class="dropdown-menu" x-placement="bottom-start"
                                            style="position: absolute; transform: translate3d(0px, 23px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <a @click="current = post" class="dropdown-item l-grey uppercase" data-toggle="modal"
                                                data-target="#deletePostModal" href="javascript:;"><i class="fas fa-trash"></i> Delete</a>
                                            <a @click="current = post, repostPost(post.id)" class="dropdown-item l-grey uppercase" data-target="#repost"
                                                href="javascript:;"><i class="fas fa-sync-alt"></i> Repost Post</a>
                                            <a @click="current = post" class="dropdown-item l-grey uppercase" data-toggle="modal"
                                                data-target="#privcy-post" href="javascript:;"><i class="fas fa-lock"></i> Privacy
                                                Setting</a>

                                        </div>
                                    </div>

                                </div>
                                <!--timeline card top end-->

                                <h3 v-html="text=post.description" class="posted-heading"></h3>
                                <div v-if="post.media.length" class="timeline-card-video-img">
                                    <img 
                                    v-if="types.img.includes(post.media[0].mime_type)"
                                    :src="post.media[0].full_url" v-img>
                                    <video 
                                    controls
                                    v-else
                                    :src="post.media[0].full_url"/>

                                </div>


                                <div class="timeline-card-bottom">
                                    <a :class="`${post.hasLiked ? 'UnlikeTag' : ''}`" @click="toggleLike(post)" href="javascript:;">
                                        <i :class="'fa fa-thumbs-up'"></i>
                                        {{ `${post.hasLiked ? 'Like' : 'Like'}`}} {{post.likes}}
                                    </a>
                                    <a @click="post.showComment = !post.showComment" href="javascript:;"><i class="fas fa-comment-dots"></i>Comments {{post.comments_count}} </a>
                                </div>
                                <transition-group name="list">
                                    <Comments :post="post" v-if="post.showComment" :key="'1'"/>
                                </transition-group>
                                </div>
                        </span>





                    </div>
                    <!--timline card end-->
                </div>
                <!--left col end-->
                <div class="col-lg-3">
                    <div class="cstm-right-sidebar">
                        <h5>Organizations that you may want to follow</h5>
                         <div class="right-sidebar-feed">
                            <div v-for="(org,orgindex) in orgs" :key="orgindex" class="right-sidebar-feed-row">
                                   <router-link 
                                        :to="{ name: 'organizations.show', params: { id: org.id } }"><img :src="org.image" class="profile-img" alt="">
                                </router-link><div class="flex-column">
                                <router-link 
                                        :to="{ name: 'organizations.show', params: { id: org.id } }">
                                    <h5>{{org.name}}</h5></router-link> 
                                    <p>{{org.description}}</p>
                                   
                                   
                                   
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--right side bar end-->
                </div>
                <!--right col end-->
            </div>
            <!--main row end-->
        </div>
        <!--container end-->

        <Modal @refetch="handleRefetch" :post="current" />

    </section>
</template>
<style>
.UnlikeTag{
    color:#2bc3f4 !important;
}
.post-textarea{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 41px;
    margin-right: 10px;
    background: white;
    padding: 5px;
    padding-top: 14px;
    border-radius: 15px;
    width: 80%;

}
.fa-file-image{
    color: #fff;
    font-size: large;
    padding: 10px;
}

</style>

<script>
    import VueMomentsAgo from 'vue-moments-ago';
    import Comments from './Comment';
    import Modal from "./Modal";
    export default {
        components: {VueMomentsAgo, Comments, Modal},
        props: {
            group: {
                type: [String, Number],
                default: ''
            }
        },
        data() {
            return {
                baseUrl: window.base_url,
                user: window.user,
                current: undefined,
                medias: "",
                posts : [],
                orgs: [],
                types : {
                    'img' : ['image/jpeg', 'image/jpg', 'image/png', 'image/bmp', 'image/gif'],
                },
                description: "",
                mediasThumb: "",
                showComment: false,
                temp:false,
                text:''
            }
        },
        destroyed(){
            if(this.mediasThumb.indexOf("blob") > -1)
                window.URL.revokeObjectURL(this.mediasThumb);
        },
        mounted() {
            this.fetchPosts();
            this.getOrgs();
        },
        methods: {
            
            removeFile(){
                // alert('here');
                this.medias = "";
                this.mediasThumb = "";
            },
            repostPost(id){
                axios.get(`posts/${id}/re-post`)
                    .then(({data}) => {
                        this.$toastr.success(data.message, "Success !");
                        $('#repost').modal('show');
                        this.fetchPosts();
                    })
            },            
            handleRefetch(){
                this.fetchPosts();
            },            
            toBase64(file){
                return new Promise((resolve, reject) => {
                    const reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = () => resolve(reader.result);
                    reader.onerror = error => reject(error);
                });
            },
            async handleFileChange(e){
                let file = e.target.files[0];
                this.medias = e.target.files[0];

                let types = this.types;

                if(types.img.includes(file.type)){
                    let result = await this.toBase64(file).catch(e => Error(e));
                    if(result instanceof Error) {
                        console.log('Error: ', result.message);
                        return;
                    }else
                        this.mediasThumb = result;
                }
                else{
                    let url = window.URL.createObjectURL(file);
                    this.mediasThumb = url;
                }

                // if(file.type == )
            },
            // removeFile(index){
            //     this.files.splice(index, 1)
            // },
            fetchPosts(){
                axios.get(`/posts?group_id=${this.group || '' }`)
                    .then(({data}) => {
                        this.posts = data.data;
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            },
            savePost(){
                let formData = new FormData();
                formData.append("description", this.description);
                formData.append("file", this.medias);
                formData.append("group_id", this.group);
                axios.post(`/posts`, formData)
                    .then(data => {
                        this.$toastr.success(data.data.message, "Success !");
                        this.description = this.medias = this.mediasThumb = "";
                        // this.posts = [data.data.data, ...this.posts];
                        this.fetchPosts();
                    }).catch( e => {
                    let errors = e.response.data.errors;
                    Object.keys(errors).forEach(key=>{
                        this.$toastr.error(errors[key], "Error!");
                    });
                });                
            },
            toggleLike(post){
                if(post.hasLiked){
                        post.hasLiked = false;
                        post.likes--;
                    }else{
                        post.hasLiked = true;
                        post.likes++;
                    }
                let url = `/posts/${post.hasLiked ? 'unlike' : 'like'}/${post.id}?noloader=true`;
                axios.get(url)
                .then(({data}) => {
                    // this.fetchPosts();

                    
                })
                .catch((error) => {
                    console.log(error);
                })
            },
            getOrgs() {
                axios.get(`/organizations?noloader=1&per_page=2`)
                    .then(({data}) => {
                        this.orgs = data.data;
                    });
            },            
        },
        watch: {}
    }
</script>

<style>

</style>