<template>
    <section v-if="!$user" class="login-bg">
        <div class="container">
            <div class="login-inner">
                <router-view></router-view>
                <vue-snotify></vue-snotify>
                <password-recovery></password-recovery>
            </div>
        </div>
    </section>
    <Admin v-else />
</template>
<script>
const Admin = () => import('@views/Layout/admin/Admin.vue');
const PasswordRecovery = () => import('@core/components/Popups/password-recovery/Popup.vue');

export default {
    components: {
        Admin,
        PasswordRecovery,
    },
}

</script>
