@import "~vue-snotify/styles/material.css";
@import '~vue-select/dist/vue-select.css';
@import '~flatpickr/dist/flatpickr.css';
@import '~vue-form-wizard/dist/vue-form-wizard.min.css'
@import '~fullcalendar/dist/fullcalendar.css';
@import '~vue-select/dist/vue-select.css';
.table-responsive {
    overflow-x: hidden;
}

.status-and-category-sec .prayer-praise p {
    font-size: 16px;
}


.navigation>li>a.router-link-exact-active {
    background: #52b68d !important;
    text-align: start;
    color: #fff;
    border: 1px solid #52b68d !important;
}

/*//navigation transition*/

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}

table thead>tr>th {
    padding: 1.50rem 2rem !important;
}

table {
    border-collapse: separate !important;
}

table {
    width: 100%;
    border-spacing: 0 26px;
}

.page-item.active:first-child .page-link {
    color: #fff;
}

.page-item.active:last-child .page-link {
    color: #fff;
}

.uploaded-attached.attached-files .attached-file-img {
    width: 115px;
    height: 77px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 15px;
}

.prayer-room-wrapper .attached-filess .left:hover .cross-icon-overlay {
    opacity: 1;
}

.prayer-room-wrapper .general-text-sec .left-part {
    position: relative;
    width: 50%;
    margin-right: 50px;
    height: 266px;
}

header .lower-part-header li {
    opacity: 1;
    -webkit-transform-origin: right top 0;
    -webkit-transform: scale(1);
    transform-origin: right top 0;
    transform: scale(1);
    z-index: 9;
}

.lower-part-header li a.router-link-exact-active:before {
    /*background-image: url(../site-assets/images/bgmenu.png);*/
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 144px;
    height: 93px;
    z-index: -9;
    left: -10px;
    text-align: center;
    top: -24px;
}

.cbt-main-wrapper .cbt-cards .cbt-lock-overlay {
    height: 100%;
    padding: 130px 0;
}

.loading-indicator:before {
    content: '';
    background: #000000cc;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}

.loading-indicator:after {
    content: 'Loading ...';
    /*background: black;*/
    position: fixed;
    width: 100%;
    display: block !important;
    top: 50%;
    left: 0;
    z-index: 10001;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.cursor-pointer {
    cursor: pointer;
}

.main-menu.menu-light .navigation>li.open>.menu-content>li>a:hover {
    color: #fff !important;
}

.ps-theme-dark {
    overflow-y: scroll !important;
}

.fc .fc-daygrid-day-frame {
    cursor: pointer;
}