<template>
	<div class="content-wrapper">
		<div class="content-body">
			<!-- Basic form layout section start -->
			<section id="configuration" class="search view-cause">
				<div class="row">
					<div class="col-12">
						<div class="card pad-20">
							<div class="card-content collapse show">
								<div class="card-body table-responsive card-dashboard">
									<h2>PROPERTY MANAGEMENT</h2>
									<div class="row">
										<div class="col-12 d-block d-sm-flex justify-content-between">
											<div class="left">
											</div>
											<div class="right">
												<router-link :to="{name : 'admin.properties.index',params : {status : 'blocked'} }">BLOCKED PROPERTY LIST</router-link>
											</div>
										</div>
									</div>
									<div class="row maain-tabble mt-3">
										<table ref="table" id="table" class="table table-striped table-bordered"></table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<confirm el="confirm-block" title="System Message" subtitle="Sorry! You won't be able to delete this employee until you assign his/her tasks to any other employee!"></confirm>
		</div>
	</div>
</template>
<script>
import table from '@core/components/Datatable/Table.js';
// const DropDown
// const Datatable = ()=> import('@core/components/Datatable/Table.vue');
const Edit = Vue.extend({
	template: `<a @click='editProperty' class='btn btn-warning'><i class='fa fa-pencil'></i> Edit</a>`,
	methods: {
		editProperty() {
			alert()
			console.log(this.$data)
			this.$emit("edit-property")
		}
	}
});
export default {
	methods: {
		changeBtn() {
			alert()
		}
	},
	created(){
		this.$on('edit-property',function(){
			alert('hello');
		});
	},
	async mounted() {
		/*console.log(new Vue({
			render : function(h){
				console.log(h);
			}
		}));*/
		let self = this;
		this.table = new table('#table', {
			columns: [
				{ "title": "Name", data: 'name' },
				{ "title": "Phone", data: 'name' },
				{ "title": "Phone", data: 'phone' },

			],
			columnDefs: [{
				render: function(data, type, row, meta) {
					return `<span class="edit-placeholder">Edit</span>`
				},
				targets: -1

			}],
			ajax: route('admin.property.index'),
			dataSrc: 'properties.data'
		});

		await this.table.on("draw.dt", function() {
			$(".edit-placeholder").each(function(i, el) {
				const data = self.table.table.cell($(this).closest("td")).data();
				new Edit({ data: {...self.table } }).$mount(el)
			})
		});
		this.table.removeRow(0)
	}
}

</script>
