<template>
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="configuration" class="search view-cause">
                <div class="row">
                    <div class="col-12">
                        <div class="card pad-20">
                            <div class="card-content collapse show">
                                <div class="card-body table-responsive card-dashboard">
                                    <h2>PROPERTY MANAGEMENT</h2>
                                    <div class="row">
                                        <div class="col-12 d-block d-sm-flex justify-content-between">
                                            <div class="left">
                                            </div>
                                            <div v-if="$route.params.status != 'blocked'" class="right">
                                                <router-link :to="{name : 'admin.properties.index',params : {status : 'blocked'} }">BLOCKED PROPERTY LIST</router-link>
                                            </div>
                                            <div v-else class="right">
                                                <router-link :to="{name : 'admin.properties.index'}">ACTIVE PROPERTY LIST</router-link>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row maain-tabble mt-3">
                                    	<table-search></table-search>
                                        <table class="table table-striped table-bordered zero-configuration">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>PROPERTY ID</th>
                                                    <th>PROPERTY NAME</th>
                                                    <th>ADDED BY</th>
                                                    <th>REGISTERATION DATE</th>
                                                    <th>ACTIONS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(property,index) in properties.data">
                                                    <td>{{serialNumber('properties',index)}}</td>
                                                    <td>{{property.id}}</td>
                                                    <td>{{property.name}}</td>
                                                    <td>{{property.owner.name}}</td>
                                                    <td>{{formatDate(property.created_at)}}</td>
                                                    <td>
                                                        <div class="btn-group mr-1 mb-1">
                                                            <button type="button" class="btn  btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-start" style="position: absolute; transform: translate3d(4px, 23px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                <router-link class="dropdown-item" :to="{name : 'admin.properties.show',params : {property : property.property_id}}"><i class="fa fa-eye"></i>VIEW DETAILS</router-link>
                                                                <a class="dropdown-item" href="#" @click="propertyId = property.id" data-toggle="modal" data-target="#confirm-block"><i class="fa fa-ban" aria-hidden="true"></i>BLOCK PROPERTY</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <no-record tag="tr" :colspan="6" :data="properties.data" class="col-md-3"></no-record>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <pagination :data="properties" @pagination-change-page="fetch"></pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <confirm el="confirm-block" @confirmed="blockEntity" title="System Message" :subtitle="`Are you sure you want to ${$route.params.status?'unblock':'block'} this property? `"></confirm>
        </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
// const EmployeeTable = ()=> import('./components/EmployeeTable.vue');
export default {
    data() {
        return {
            propertyId: 0,
        };
    },
    computed: {
        ...mapState('admin', ['properties','search']),
    },
    components: {
        // EmployeeTable,
    },
    created() {
        let { page } = this.$route.query;
        this.fetch(page);
    },
    watch: {
        search: function(val, oldVal) {
            this.fetch();
        }
    },
    methods: {
        ...mapActions('admin', ['getAll', 'store']),
        async fetch(page = 1) {
            let { status } = this.$route.params;
            let params = {
                route: route('admin.property.index'),
                mutation: 'SET_PROPERTIES',
                variable: 'properties',
                data: {
                    page,
                    status,
                    search : this.search,
                }
            };
            let { data } = await this.getAll(params);
            if (page != 1) {
                this.addRouteQuery({ page });
            } else {

                this.addRouteQuery({});
            }
        },
        async blockEntity() {
            let params = {
                route: route('admin.property.block', { property: this.propertyId }),
                method: 'POST',
                mutation: 'CHANGE_PROPERTY_STATUS',
                variable: 'data',
                data: {},
            };
            let { data } = await this.store(params);
            if (data.status) {
                this.$snotify.success(data.msg);

            } else {

                this.$snotify.error(data.msg);
            }
        }
    }
}

</script>
