<template>
	<div class="content-wrapper">
		<div class="content-body">
			<!-- Basic form layout section start -->
			<section id="configuration" class="search view-cause">
				<div class="row">
					<div class="col-12">
						<div class="card pad-20">
							<div class="card-content collapse show">
								<div class="card-body table-responsive card-dashboard">
									<a href="javascript:void(0)" @click="$router.go(-1)">
										<h2>
											< PROPERTY MANAGEMENT</h2> </a> <section class="view-property-box">
												<div class="">
													<div class="row">
														<div class="col-md-3">
															<h3>View Property</h3>
														</div>
														<div class="col-md-6"></div>
														<div class="col-md-3">
															<strong class="green-strong">Property_ID: P_{{property.id}}</strong>
														</div>
														<div class="col-md-3">
															<ul class="dark-ul">
																<li>Property Name:</li>
																<li>Address:</li>
																<li>Details:</li>
															</ul>
														</div>
														<div class="col-md-6">
															<ul class="light-ul">
																<li>{{property.name}}</li>
																<li>{{property.address}}</li>
																<li>{{property.floors}} Floors</li>
																<li>{{property.bedrooms}} Bedrooms</li>
																<li>{{property.bathrooms}} Bathrooms</li>
																<li>{{property.balconies}} Balconies</li>
																<li>{{property.kitchens}} Kitchens</li>
															</ul>
														</div>
														<div class="col-md-3"></div>
													</div>
													<h3>Property Images:</h3>
													<div class="property-images">
														<div class="row">
															<div :key="imageIndex" v-for="(image,imageIndex) in property.images" class="col-md-3">
																<img :src="image.url" alt="" class="img-thumbnail">
															</div>
															<no-record :data="property.images" class="col-md-3">NA</no-record>
														</div>
													</div>
													<h3>Description:</h3>
													<p>{{property.description}}</p>
													<div class="employee-deatail-head">
														<div class="row">
															<div class="col-md-9">
																<h3> Employee Details:</h3>
															</div>
															<div class="col-md-3">
																<div class="input-group md-form form-sm form-2 pl-0">
																	<input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" aria-label="Search">
																	<div class="input-group-append">
																		<span class="input-group-text lime lighten-2" id="basic-text1">
																			<i class="fas fa-search text-grey" aria-hidden="true"></i>
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="employee-deatail-box">
														<div :key="employeeIndex" v-for="(employee,employeeIndex) in property.employees" class="em-deatail">
															<div class="row mb-2">
																<!-- <div class="col-md-4"> -->
																<div class="col-md-1">
																	<img src="assets/images/download.png" alt="" class="img-thumbnail">
																</div>
																<div class="col-md-11">
																	<span>{{employee.name}} <br> Employee_Id {{employee.id}}</span>
																	<br>
																	<router-link :to="{name : 'admin.users.show',params : {type:'employee',user : employee.id}}" class="view-profile">view profile</router-link>
																</div>
																<!-- </div> -->
															</div>
														</div>
													</div>
												</div>
			</section>
		</div>
	</div>
	</div>
	</div>
	</div>
	</section>
	</div>
	</div>
</template>
<script>
import { mapActions, mapState } from 'vuex';

export default {
	computed: {
		...mapState('admin', ['property']),
	},
	created() {
		this.fetch();
	},
	methods: {
		...mapActions('admin', ['getAll']),
		async fetch(page = 1) {
			let { property } = this.$route.params;
			let params = {
				route: route('admin.property.show', { property }),
				mutation: 'SET_PROPERTY',
				variable: 'property',
				data: {}
			};
			let { data } = await this.getAll(params);

		}
	}
}

</script>
