<template>
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="configuration" class="search view-cause">
                <div class="row">
                    <div class="col-12">
                        <div class="card pad-20">
                            <div class="card-content collapse show">
                                <div class="card-body table-responsive card-dashboard">
                                    <router-link :to="{name : 'admin.users.index',params :{type : 'property-owner'}}">
                                        <h2>
                                            < PROPERTIES</h2> </router-link> <span class="float-right pr-2">Total {{properties.total}}</span>
                                                <table-search :show-entries="false"></table-search>
                                                <section class="property-listing-cards">
                                                    <div class="row">
                                                        <div class="card-deck">
                                                            <div v-for="property in properties.data" class="col-md-6">
                                                                <div class="card">
                                                                    <img :src="property.media?property.media.url:'assets/images/placeholder.png'" class="card-img-top" alt="...">
                                                                    <div class="card-body">
                                                                        <strong>{{property.name}}</strong>
                                                                        <span class="card-green-text">Property_ID: P_{{property.id}}</span>
                                                                        <h5 class="card-title">Address:</h5>
                                                                        <small>{{property.address}}</small>
                                                                        <p class="card-text text-muted">
                                                                            <small>{{property.excerpt}}</small>
                                                                        </p>
                                                                        <small class="card-footer-left">{{property.bedrooms}} Bedrooms | {{property.bathrooms}} bathrooms
                                                                            | {{property.kitchens}} kitchen</small>
                                                                    </div>
                                                                    <div class="card-footer">
                                                                        <router-link :to="{name : 'admin.properties.show',params : {property : property.property_id}}" class="view-property-btn">VIEW PROPERTY</router-link>
                                                                        <small class="card-footer-right">Total Employees:
                                                                            {{property.employees_count}}</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <no-record tag="div" :colspan="6" :data="properties.data" class="col-md-12">
                                                                <h1 class="text-center">No data available!</h1>
                                                            </no-record>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section class="pagination-box">
                                                    <div class="">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <strong>SHOWING {{properties.per_page}} OUT OF {{properties.total}} ENTRIES</strong>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <pagination :data="properties" @pagination-change-page="fetch"></pagination>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
// const EmployeeTable = ()=> import('./components/EmployeeTable.vue');

export default {
    computed: {
        ...mapState('admin', ['properties','search']),
    },
    components: {
        // EmployeeTable,
    },
    created() {
        let { page } = this.$route.query;
        this.fetch(page);
    },
    watch: {
      search: function(val, oldVal) {
      	this.fetch();
      }
    },
    methods: {
        ...mapActions('admin', ['getAll']),
        async fetch(page = 1) {
            let { user } = this.$route.params;
            let params = {
                route: route('admin.property.index'),
                mutation: 'SET_PROPERTIES',
                variable: 'properties',
                data: {
                    page,
                    user,
                    search : this.search,
                }
            };
            let { data } = await this.getAll(params);
            if (page != 1) {
                this.addRouteQuery({ page });
            } else {

                this.addRouteQuery({});
            }
        }
    }
}

</script>
