<template>
<div class="login-card">
            <div class="row ml-0 mr-0">
                <div class="col-md-6 col-12 pl-0 pr-0 login-left-col">
                </div>
                <div class="col-md-6 col-12 pl-0 pr-0 login-right-col">
                    <div class="login-right-content">
                        <h2 class="login-card-heading doctor">Login</h2>
                        <h5 class="login-subheading text-center black-text text-capitalize">Login in to your account</h5>
                        <div v-if="Object.keys(response).length" class="alert " :class="response.status?'alert-success':'alert-danger'">
                            <h4 class="text-center">{{response.msg}}</h4>
                        </div>
                        <ValidationObserver ref='loginObserver' v-slot="{handleSubmit}">
                    <form @submit.prevent="handleSubmit(login)">
                        <div class="row">
                            <ValidationProvider tag="div" name="Email" rules="required|email" v-slot="{errors}" class="col-12 form-field">
                                <input v-model="form.email" type="email" class="site-input login left-icon" placeholder="Enter Email Address">
                                <i class="fa fa-envelope left-icon" aria-hidden="true"></i>
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                            <ValidationProvider tag="div" name="Password" rules="required" v-slot="{errors}" class="col-12 form-group position-relative">
                                <input v-model="form.password" autocomplete="new-password" type="password" class="form-control" placeholder="Password">
                                <i class="fa fa-lock"></i>
                                <button type="button" class="view-btn position-absolute"><i class="fa fa-eye"></i></button>
                                <span class="text-danger">{{errors[0]}}</span>
                            </ValidationProvider>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="">
                                <label class="login-check">Remember Me
                                    <input type="checkbox">
                                    <span class="checkmark"></span></label>
                            </div>
                            <div class=""> <a href="javascript:void(0)" class="forgot" data-toggle="modal" data-target="#pwdrecovery"> Forgot Password?</a>
                            </div>
                        </div>
                        <button type="submit" class="login-btn d-block text-center text-uppercase btn-block">login</button>
                        <div class="col-12 text-center">
                            <a href="#" class="back-link d-inline-block mt-4"><i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>back to Homepage</a>
                        </div>
                    </form>
                </ValidationObserver>
                    </div>
                </div>
            </div>
        </div>
</section> 
</template>
<script>
export default {
    data() {
        return {
        	response : {},
            form: {
                email: '',
                password: '',
            }
        };
    },
    methods: {
        async login(e) {
            let fd = new FormData();
            this.buildFormData(fd, this.form);
            try {
                let response = await axios.post(route('admin.auth.login'), fd);
                if (response.data.status) {
                	this.$snotify.success(response.data.msg)
                    let self = this;
                    setTimeout(function() {
                    	window.location.reload();
                        // self.$router.push({ name: 'admin.dashboard' });
                    	}, 2000);
                } else {
                    this.$snotify.error(response.data.msg)

                }
                this.response = {}
            } catch (e) {
            	if(e.response){
            		this.response = e.response.data
            	}
                console.log(e);
            }
        }
    }
}

</script>
