<template>
    <section class="board-box">
        <div class="container">
            <h1>Calendar</h1>
            <hr>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="for-sidebar">
                        <div class="dropdown">
                            <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-sliders-h"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <h4>Assigned Properties</h4>
                                <a @click="selectedProperty = property.id" v-for="property in properties" class="dropdown-item" href="javascript:void(0)">{{property.name}}</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="for-sidebar">
                        <a href="#menu" id="toggle"><span></span></a>

                        <div id="menu">
                            <ul>
                                <li><a href="#home">Property A</a></li>
                                <li><a href="#about">Property B</a></li>
                                <li><a href="#contact">Property C</a></li>
                                <li><a href="#contact">Property D</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <router-link :to="{
                        name : 'web.tasks.board',
                        params : 
                        { 
                            type : 'board' 
                        }
                    }" class="board-btn">BOARD</router-link>
                    <router-link :to="{
                        name : 'web.tasks.board',
                        params : 
                        { 
                            type : 'calendar' 
                        }
                    }" class="calendar-btn">CALENDAR</router-link>
                </div>
                <div class="col-md-6">
                    <div class="input-group md-form form-sm form-2 pl-0">
                        <a v-if="!isEmployee" href="javascript:void(0)" @click="showCreateTask()" class="add-task-btn"><i class="fas fa-plus-circle"></i> Add Task</a>
                        <input class="form-control my-0 py-1 lime-border" v-model="search" type="text" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <span class="input-group-text lime lighten-2" id="basic-text1">
                                <i class="fas fa-search text-grey" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <span>Last task completed on Friday</span>
            <board-view :search="search" @update="updateMe" v-if="routeParams.type == 'board'" :in-progress-key="in_progress" :all-logs-key="all_logs" :completed-key="completed" :selected-property="selectedProperty"></board-view>
            <calendar-view :key="reRenderCalendar" @selected-date="setTaskDate" v-else  :selected-property="selectedProperty"></calendar-view>
        </div>
        <!--emplyee remove Modal -->
        <create-task v-if="!isEmployee"  :key="createPopup" :taskDate="taskDate" @created="taskCreated"></create-task>
    </section>
</template>
<script>
const CreateTask = () => import('./components/Create.vue');
import { mapActions, mapState } from 'vuex';

const BoardView = () => import('./components/BoardView.vue');
const CalendarView = () => import('./components/CalendarView.vue');
export default {
    data() {
        return {
            createPopup : 0,
            in_progress: 0,
            all_logs: 0,
            completed : 0,
            reRenderCalendar : 0,
            properties: [],
            selectedProperty: null,
            search: '',
            taskDate : '',
        };
    },
    components: {
        CreateTask,
        BoardView,
        CalendarView,
    },
    created() {
        this.taskCreated = _.debounce(this.taskCreated, 500);
        this.fetchProperties();
    },
    computed : {
        ...mapState('task',['task_status','']),
    },
    watch: {
        selectedProperty(val, oldVal) {
            this.taskCreated();
        },
        search(val, oldVal) {
            this.updateAll();
        }
    },
    methods: {
        ...mapActions('property', ['getAll']),
        async fetchProperties() {
            let params = {
                route: route('property.index'),
                data: {},
            };
            let { data } = await this.getAll(params);
            this.properties = data.properties;
        },
        async setTaskDate(obj){
            // console.log(obj)
            this.taskDate = await obj.date;
            // await this.createPopup++;
                $('#create-task').modal('show');
            setTimeout(function(){
            },1000);
            // this.showCreateTask();
        },
        showCreateTask(){
                $('#create-task').modal('show');
        },
        updateMe(){
                this.all_logs++
                this.in_progress++
                this.completed++


        },
        updateAll() {
            if(this.routeParams.type == 'calendar'){
                this.reRenderCalendar++;
            }else{

                this.all_logs++;
                this.in_progress++;
                this.completed++;
            }
        },
        taskCreated() {
            this.createPopup++
            if(this.routeParams.type == 'calendar'){
                this.reRenderCalendar++;
            }
            if(this.task_status == '-1'){
                this.all_logs++

            }else if (this.task_status == '0') {
                this.in_progress++
            }else{

                this.completed++
            }
        },
    }
}

</script>
