<template>
    <section class="task-log-box">
        <div class="container">
            <h2>Task Log</h2>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="inputEmail4">From</label>
                        <input type="date" v-model="from" class="form-control" id="inputEmail4" placeholder="May 2, 2020">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="inputEmail4">To</label>
                        <input type="date" v-model="to" class="form-control" id="inputEmail4" placeholder="May 2, 2020">
                    </div>
                </div>
                <div class="col-md-2 p-3">
                    <label for="exampleInputEmail1"></label><br>
                    <a href="javascript:void(0)" @click="taskDateFilter" class="apply-clear-btn">Apply/Clear</a>
                </div>
                <div class="col-md-3">
                    <div class="dropdown">
                        <label for="exampleInputEmail1">Property</label><br>
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{filteredProperty?filteredProperty.name:'Select Property'}}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a @click="selectedProperty = property.id" v-for="property in properties" class="dropdown-item" href="javascript:void(0)">{{property.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <label for="exampleInputEmail1">Task Status</label><br>
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{status}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a v-for="val in statuses" @click="status = val" class="dropdown-item" href="javascript:void(0)">{{val}}</a>
                            <!-- <a class="dropdown-item" href="javascript:void(0)">Reported</a> -->
                            <!-- <a class="dropdown-item" href="javascript:void(0)">leave Discrepancy</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <!-- <div class="row">
                <div class="form-group">
                    <label for="exampleInputEmail1">TO</label><br>
                    <input type="date" style="margin-right: 10px;">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">From</label><br>
                    <input type="date">
                </div>
            </div> -->
            <div class="row">
                <div class="col-12 p-0">
                    <div v-if="typeof (tasks.data) != 'undefined'" class="maain-tabble table-responsive">
                        <table class="table zero-configuration">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Emp_ID</th>
                                    <th>Emp_Name</th>
                                    <th>Task Id</th>
                                    <th>Task Title</th>
                                    <th>Assigned Date</th>
                                    <th>Due Date</th>
                                    <th>Task Status</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- tr start -->
                                <tr v-for="(task,index) in tasks.data">
                                    <td>{{index + 1}}</td>
                                    <td>{{task.task?task.task.employee_id : 'NA'}}</td>
                                    <td>{{task.task?task.task.employee.name : 'NA'}}</td>
                                    <td>{{task.id}}</td>
                                    <td>{{task.name}}</td>
                                    <td>{{formatDate(task.created_at) }}</td>
                                    <td>{{formatDate(task.due_date)}}</td>
                                    <td>{{task.status_text}}</td>
                                    <td>
                                        <div class="btn-group mr-1 mb-1">
                                            <button type="button" class="btn  btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu" x-placement="bottom-start">
                                                <router-link class="dropdown-item" :to="{name : 'web.tasks.show',params : { task : task.id} }"><i class="fa fa-eye"></i> VIEW</router-link>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr v-if="!$_.isUndefined(tasks.data) && tasks.data.length == 0">
                                    <td colspan="9">No Data Available</td>
                                </tr>
                                <!-- tr end -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import { mapActions, mapState } from 'vuex';
export default {
    data() {
        return {
            selectedProperty: '',
            status: 'Completed',
            from: '',
            to: '',
            statuses: ['Completed', 'Incomplete', 'Reported', 'Leave Discrepancy', 'All'],
        };
    },
    computed: {
        ...mapState('task', ['tasks']),
        ...mapState('property', ['properties']),
        filteredProperty() {
            console.log(this.properties);
            return _.find(this.properties, (property) => { return property.id == this.selectedProperty });
        },
    },
    async created() {
        await this.fetchProperties();
        await this.fetch();
    },
    watch: {
        selectedProperty(val, oldVal) {
            if (val) {

                this.fetch();
            }
        },
        status(val, oldVal) {
            this.fetch();
        },
        immediate: false,
    },
    methods: {
        ...mapActions('task', ['getAll']),
        ...mapActions({
            getProperties: 'property/getAll',
        }),
        taskDateFilter() {
            if (this.from !== '' && this.to !== '') {
                this.fetch();
            } else {
                this.from = '';
                this.to = '';
                this.fetch();
            }
        },
        async fetch(page = 1) {
            let params = {
                route: route('task.index'),
                mutation: 'index',
                data: {
                    page,
                    property_id: this.selectedProperty,
                    status: this.status,
                    from: this.from,
                    to: this.to,

                },
            };
            let { data } = await this.getAll(params);

        },
        async fetchProperties() {
            let params = {
                route: route('property.index'),
                mutation: 'index',
                data: {},
            };
            await this.getProperties(params);
        }
    }
}

</script>
