<template>
    <section class="task-log-completed-box">
        <div class="container">
            <h2>Task Details</h2>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <h6>Emp Id {{task.task?task.task.employee_id : 'NA'}}</h6>
                </div>
                <div class="col-md-10">
                    <h6 class="for-floating">Task Id {{task.id}}</h6>
                </div>
                <div class="col-md-2 mt-2">
                    <h6>Employee:</h6>
                </div>
                <div class="col-md-10 mt-2">
                    <span class="gray-color">{{task.task?task.task.employee.name : 'NA'}}</span>
                </div>
                <div class="col-md-2 mt-2">
                    <h6>Task Title:</h6>
                </div>
                <div class="col-md-10 mt-2">
                    <span class="gray-color">{{task.name || 'NA'}}</span>
                </div>
                <div class="col-md-2 mt-2">
                    <h6>Assignee:</h6>
                </div>
                <div class="col-md-10 mt-2">
                    <span class="gray-color"><i class="fas fa-user-circle"></i> {{$user.name}}</span>
                </div>
                <div class="col-md-2 mt-2">
                    <h6>Due Date:</h6>
                </div>
                <div class="col-md-10 mt-2">
                    <span class="gray-color">{{formatDate(task.due_date)}}</span>
                </div>
                <div class="col-md-2 mt-2">
                    <h6>Time:</h6>
                </div>
                <div class="col-md-10 mt-2">
                    <span class="gray-color">{{task.start}} To {{task.to}}</span>
                </div>
                <div class="col-md-2 mt-2">
                    <h6>Property:</h6>
                </div>
                <div class="col-md-10 mt-2">
                    <span class="gray-color" v-if="task.property">{{task.property.name}}</span>
                </div>
                <div class="col-md-2 mt-2">
                    <h6>Description:</h6>
                </div>
                <div class="col-md-10 mt-2">
                    <span class="gray-color">{{task.description || 'NA'}}</span>
                </div>
                <div class="col-md-2 mt-2">
                    <h6>Task Status:</h6>
                </div>
                <div class="col-md-10 mt-2">
                    <span class="gray-color">{{task.status_text}}</span>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import { mapActions, mapState } from 'vuex';
export default {
    async created() {
        await this.fetch();
    },
    computed: {
        ...mapState('task', ['task']),
    },
    methods: {
        ...mapActions('task', ['get']),
        async fetch() {
            let { task } = this.$route.params;
            let params = {
                route: route('task.show', { task }),
                data: {},
                headers: { validateStatus: (status) => status === 200},
            };
            try {
                // statements
                await this.get(params);
            } catch (e) {
                // statements
                console.log(e);
            }
        }
    }
}

</script>
