<template>
    <section class="secont-box">
        <div class="container">
            <div class="rotate-text">
                <p>Get To Know Us</p>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="img-box">
                        <img src="assets/images/second-box-pic.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="green-back">
                        <h5>know</h5>
                        <h2>About Us</h2>
                        <hr class="solid">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                            <br>
                            <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            <br>
                            <br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                        <br>
                        <a href="#" class="green-button">Read More &nbsp;
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default{
        
    }
</script>