<template>
    <section class="third-box">
        <div class="white-rectangle">
            <img src="assets/images/Layer 7.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <small>work Process</small>
                </div>
                <div class="col-md-10">
                    <span class="third-box-haed">This is How We
                        <br> Streameline Our Process</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="home-icon">
                        <img src="assets/images/602275.png" alt="">
                        <h6>Add Your Property</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur
                            <br> adipiscing elit, sed do eiusmod tempor
                            <br> incididunt ut labore et dolore magna aliqua.
                            <br> minim.enim ad minim veniam...</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="home-icon">
                        <img src="assets/images/3094964.png" alt="">
                        <h6>Add Your Employees</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur
                            <br> adipiscing elit, sed do eiusmod tempor
                            <br> incididunt ut labore et dolore magna aliqua.
                            <br> minim.enim ad minim veniam...</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="home-icon">
                        <img src="assets/images/2145788.png" alt="">
                        <h6>Assign task</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur
                            <br> adipiscing elit, sed do eiusmod tempor
                            <br> incididunt ut labore et dolore magna aliqua.
                            <br> minim.enim ad minim veniam...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="green-rectangle">
            <img src="assets/images/Layer 9.png" alt="">
        </div>
    </section>
</template>
<script>
	export default{
		
	}
</script>