<template>
    <section class="box-404">
        <div class="container">
            <div class="pic-404">
                <img src="assets/images/404.png" class="img-fluid" alt="Responsive image">
                <h3>Page not found</h3>
                <img src="assets/images/line.png" alt="">
                <p><strong> The page you are looking for might have been removed. <br> Either it’s name has been changed or it is temporarily unavailable.</strong></p>
            </div>
        </div>
    </section>
</template>
