<template>
    <section class="login-box">
        <div class="login">
            <h2>Sign In</h2>
            <h6>Sign In To Your Account</h6>
            <ValidationObserver ref="form" v-slot="{handleSubmit}">
                <ValidationProvider vid="email" v-slot="{errors}">
                    <div v-if="errors[0]" class="alert alert-danger">{{errors[0]}}</div>
                </ValidationProvider>
                <form ref="loginForm" @submit.prevent="handleSubmit(submit)" autocomplete="off">
                    <ValidationProvider tag="div" name="Email" rules="required" class="form-group"  v-slot="{errors}">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" v-model="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                        <span class="text-danger">{{errors[0]}}</span>
                    </ValidationProvider>
                    <ValidationProvider tag="div" name="Password" rules="required" class=" form-group position-relative mb-2" v-slot="{errors}">
                        <input type="password" name="password" v-model="password" class="form-control" placeholder="Password">
                        <button class="view-btn-eye position-absolute"><i class="fa fa-eye"></i></button>
                        <span class="text-danger">{{errors[0]}}</span>
                    </ValidationProvider>
                    <router-link :to="{name : 'web.password.email'}" class="forget-pasword">Forgot Password</router-link>
                    <br>
                    <button type="submit" class="btn btn-block green-button">SIGNIN</button>
                    <!-- <a href="#" class="green-button" data-toggle="modal" data-target="#exampleModal">SIGNIN</a> -->
                    <div class="form-last-text">
                        <span class="sign-up-now-black">New to Macromaid?
                            <router-link :to="{name : 'web.auth.register.index'}" class="sign-up-now-green">Sign Up Now </router-link>
                        </span>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Subscription Expired!</h5>
                                </div>
                                <small id="emailHelp" class="green-small">Sorry! You can't login. Your subscription has
                                    expired.</small>
                                <div class="modal-body">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal for block user -->
                    <!-- 
                 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Block User</h5>

                                </div>
                                <small id="emailHelp" class="green-small">Sorry! You've been blocked. You can't login.</small>
                                <div class="modal-body">
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Modal for block user -->
                </form>
            </ValidationObserver>
        </div>
    </section>
</template>
<script>
export default {
    data() {
        return {
            email: "",
            password: "",
            checkbox_remember_me: false,
            showRegisterPopup: false,
            invalid_registeration_msg: "Your Email doesn't exist in our records please proceed with more information about your self to complete the registeration process.",
            successMsg: '',
            register: {
                email: '',
                selectedRole: '',
            }
        }
    },

    methods: {
        async submit(e) {
            try {
                let fd = new FormData(this.$refs.loginForm);
                let res = await axios.post(route('login'), fd);
                if (res.data.status) {
                    window.Laravel.isLoggedin = true;
                    window.Laravel.user = res.data.user;
                    this.email = this.selectedRole = '';
                    this.$refs.form.reset();
                    this.$snotify.success(res.data.msg);
                    setTimeout(function(){
                    window.location.reload();
                    },1000);
                }
            } catch (e) {
                if (e.response) {

                    this.$refs.form.setErrors(e.response.data.errors);
                }
            }
        },
    }
}
</script>