<template>
    <section class="subscription-box">
        <div class="container">
            <h2>Subscription log</h2>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="inputEmail4">To</label>
                        <input type="date" class="form-control" id="inputEmail4" placeholder="May 2, 2020">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="inputEmail4">From</label>
                        <input type="date" class="form-control" id="inputEmail4" placeholder="May 2, 2020">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-0">
                    <div class="maain-tabble table-responsive">
                        <table class="table zero-configuration">
                            <thead>
                                <tr>
                                    <!-- <th>S.no</th> -->
                                    <th>Package Type</th>
                                    <th>Package Cost</th>
                                    <th>Subscription Date</th>
                                    <th>Expiration Date</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- tr start -->
                                <tr :key="subscription.id" v-for="subscription in subscriptions.data">
                                    <!-- <td>{{subscription.id}}</td> -->
                                    <td>{{subscription.plan.title}}</td>
                                    <td>${{subscription.payment.payload.amount}}</td>
                                    <td>{{formatDate(subscription.created_at)}}</td>
                                    <td>{{formatDate(subscription.expired_at)}}</td>
                                    <td>
                                        <div class="btn-group mr-1 mb-1">
                                            <button type="button" class="btn  btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu" x-placement="bottom-start"> 
                                            	<router-link class="dropdown-item" :to="{name : 'web.subscription.show',params : { subscription : subscription.plan.plan_id,pivot : subscription.id } }"><i class="fa fa-eye"></i> VIEW </router-link>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr v-if="!$_.isUndefined(subscriptions.data) && subscriptions.data.length == 0 ">
                                	<td colspan="5">No data available</td>
                                </tr>
                                <!-- tr end -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
export default {
    data() {
        return {
            subscriptions: {}
        };
    },
    created(){
    	this.fetch();
    },
    methods: {
        async fetch(page = 1) {
            let { data } = await axios.get(route('subscription.index'), {
                params: {
                    page: page,
                },
            });
            this.subscriptions = data.subscriptions;
        }
    }
}

</script>
