<template>
    <section class="subscription-detail-box">
        <div class="container">
            <h2>Subscription Detail</h2>
            <hr>
            <div class="row">
                <div class="col-md-6" v-if="subscription.plan">
                    <h6>{{subscription.plan.title}}</h6>
                </div>
                <div class="col-md-6 mb-4">
                    <h6 class="paid-right">Status: {{subscription.expired?'Expired':'Active'}}</h6>
                </div>
                <div class="col-md-6 mb-4" v-if="subscription.payment">
                    <h6>Package Cost: ${{subscription.payment.payload.amount}}</h6>
                </div>
                <div class="col-md-6 mb-4">
                    <h6></h6>
                </div>
                <div class="col-md-6 mb-4">
                    <h6>Subscription Date: {{formatDate(subscription.created_at)}}</h6>
                </div>
                <div class="col-md-6 mb-4">
                    <h6>Subscription Expiry Date: {{formatDate(subscription.expired_at)}}</h6>
                </div>
                <div class="col-md-12 mb-4">
                    <h6>Package Description:</h6>
                    <span class="subscription-span">{{subscription.description || 'NA'}}</span>
                </div>
            </div>
            <router-link :to="{name : 'web.subscription.index'}" class="for-back-subscription">BACK</router-link>
        </div>
    </section>
</template>
<script>
export default {
    data() {
        return {
            subscription: {}
        };
    },
    created(){
    	this.fetch();
    },
    methods: {
        async fetch(page = 1) {
        	let {pivot , subscription} =  this.$route.params; 
            let { data } = await axios.get(route('subscription.show',{subscription ,pivot}), {
                params: {
                    page: page,
                },
            });
            this.subscription = data.subscription;
        }
    }
}

</script>