<template>
    <div id="conek-network">
            <h5 class="blue-h5 fa-pull-left">Conek Network</h5>
            <div class="clearfix"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#requested">Requested</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="tab" href="#mygroups">My Groups</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#myJoinedGroups">Joined Groups</a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-lg-6">
                        <router-link class="main-blue-btn fa-pull-right mt-0"
                        :to="{ name: 'network.create-group' }" >Create Group</router-link>
                    </div>
                    
                </div>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="requested" class="container tab-pane fade">
                        <div class="csmtr-project-listing-srch">
                            <input  v-on:input="getSearchedGroups('requested')" type="text" v-model="searchQuery" placeholder="Search">
                        </div>
                        
                        <div :key="pindex" v-for="(pg, pindex) in groups.others" class="cstm-crete-group">
                            <h5>{{ pg.group.name }}</h5>
                            <p>{{ pg.group.description }}</p>
                            <div class="row">
                                <fragment v-if="Number(pg.type) == 0">
                                    
                                    <div class="col-lg-3">
                                        <button
                                        @click="modal.title='Reject Request';
                                        modal.description='Are you sure that you want to reject this group';
                                        action='reject';id=pg.id"
                                        type="button" class="main-red-btn2 fa-pull-right mt-0"
                                        data-toggle="modal" data-target="#genericmodal">
                                            Reject
                                        </button>
                                    </div>
                                </fragment>
                                <div  v-else class="col-lg-3 ml-4">
                                    <button
                                    @click="modal.title='Withdraw Request';
                                    modal.description='Are you sure that you want to withdraw the request from group';
                                    action='withdraw';id=pg.id"
                                    type="button" class="main-red-btn2 fa-pull-right mt-0"
                                    data-toggle="modal" data-target="#genericmodal">
                                        Withdraw
                                    </button>
                                </div>



                            </div>
                        </div>

                        <div v-if="groups && groups.others && !groups.others.length">
                            No Group Request found
                        </div>
                    </div>




                    <div id="mygroups" class="container tab-pane fade active show">
                        <div class="csmtr-project-listing-srch">
                            <input  v-on:input="getSearchedGroups('myGroups')" type="text" v-model="searchQuery" placeholder="Search">
                        </div>
                        <div :key="gindex" v-for="(group, gindex) in groups.my_groups" class="cstm-crete-group">
                            <h5>{{ group.name }}</h5>
                            <p>{{ group.description }}</p>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="cstmr-image-cllog">
                                        <img data-toggle="tooltip" :title="gu.entity.name" :key="guindex" v-for="(gu, guindex) in group.users" :src="gu.entity.image" alt="">
                                        <span v-if="group.users.length > 10" class="cstmr-image-count">{{group.users.length}}+</span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <router-link class="main-blue-btn2 fa-pull-right mt-0"
                                        :to="{ name: 'group.show', params: { slug:group.slug, id: group.id } }" >
                                        View
                                    </router-link>
                                </div>
                            </div>
                        </div>
                        <div v-if="groups && groups.my_groups && groups.my_groups.length == 0">
                            You are not part of any group
                        </div>

                    </div>






<div id="myJoinedGroups" class="container tab-pane fade">
                        <div class="csmtr-project-listing-srch">
                            <input  v-on:input="getSearchedGroups('myJoinedGroups')" type="text" v-model="searchQuery" placeholder="Search">
                        </div>
                        <div :key="gindex" v-for="(group, gindex) in groups.joined_groups" class="cstm-crete-group">
                            <h5>{{ group.name }}</h5>
                            <p>{{ group.description }}</p>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="cstmr-image-cllog">
                                        <img data-toggle="tooltip"  :src="'https://dev28.onlinetestingserver.com/conekpro/default.png'" alt="">
                                        <span  class="cstmr-image-count">+</span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <router-link class="main-blue-btn2 fa-pull-right mt-0"
                                        :to="{ name: 'group.show', params: { slug:group.slug, id: group.id } }" >
                                        View
                                    </router-link>
                                </div>
                            </div>
                        </div>
                        <div v-if="groups && groups.joined_groups && groups.joined_groups.length == 0">
                            You are not part of any group
                        </div>

                    </div>




                </div>
                <!--tab content end-->
            </div>

            <div class="modal fade" id="genericmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered " role="document">
                    <div class="modal-content">
                        <button type="button" class="close text-right mr-1 mt-1" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="px-1 pt-5 pb-5 text-center">
                            <h5>{{modal.title}}</h5>
                            <p class="mt-1 medium blue-txt">{{modal.description}}</p>
                            <div class="d-flex flex-wrap justify-content-center">
                                <a href="javascript:;" @click="performAction()" data-toggle="modal" data-target="#serviceinactivated" data-dismiss="modal"
                                    aria-label="Close"><button class="px-4 mx-1 py-1 mt-2 model-transprnt-btn">Yes</button></a>
                                <a href="javascript:;" data-dismiss="modal" aria-label="Close"><button
                                        class="px-4 mx-1 py-1 mt-2 model-transprnt-btn">No</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</template>

<script>
    import VueTypeaheadBootstrap from 'vue-typeahead-bootstrap';
    export default {
        props: [
            'network',
            // 'groups'
        ],
        data() {
            return {
                action: '',
                id:'',
                modal: {title: '', description: ''},
                search_groups_query : '',
                search_groups : [], 
                groups:[],
                searchQuery:''                 
            }
        },
        components: {
            VueTypeaheadBootstrap,
        },
        mounted() {
             this.getGroups(),
            setTimeout(() => {
                jQuery('[data-toggle="tooltip"]').tooltip();
            }, 700);
        },
        methods: {
             getGroups(){
                 axios.get(`networks/group/all`)
                    .then(({data}) => {
                        console.log(data);
                        this.groups=data;
                        this.$emit('refetch');
                    })
            },
            getSearchedGroups(type){
                 axios.get(`networks/group/all?keyword=${this.searchQuery}&type=${type}`)
                    .then(({data}) => {
                        console.log(data);
                        this.groups=data;
                        this.$emit('refetch');
                    })
            },
            setGroup(group){
                this.$router.push({ name: 'group.show', params: { slug:group.slug, id: group.id } });
                // console.log(event);
            },
            performAction(){
                axios.get(`networks/group-user/${this.action}/${this.id}`)
                    .then(({data}) => {
                        console.log(data);
                        this.$emit('refetch');
                    })
            },
            lookupGroup(){
                axios.get(`search-groups/?noloader=1&q=${this.search_groups_query}`)
                    .then(({data}) => {
                        this.search_groups = data;
                        // console.log(data);
                })
            },
        }
    }
</script>
<style scoped>
    /* .list-item {
        display: inline-block;
        margin-right: 10px;
    } */
    .list-enter-active,
    .list-leave-active {
        transition: all 1s;
    }

    .list-enter,
    .list-leave-to

    /* .list-leave-active below version 2.1.8 */
        {
        opacity: 0;
        transform: translateY(30px);
    }
</style>
