<template>
    <section class="customr-following-main">
        <div class="container">
            <div class="row" id="ocs-call-window"></div>
        </div>
    </section>
</template>

<script>
    export default {
        components: {},
        data() {
            return {
                baseUrl: window.base_url,
                user: window.user,
                soachat: window.soachat,
                ocs: window.ocs,
                init : 1,
            }
        },
        created(){
            this.resetMessageCounter();
        },
        mounted() {
           this.initSoachat();
               // Allow window to listen for a postMessage
            window.addEventListener("message", (event)=>{
                // console.log();
                axios.post('update-notification-count',{ receipant_id : event.data.recipiant_id, init : 0,});
                this.init = 0;
            });
        },
        methods: {
            resetMessageCounter(){
                axios.post('reset-notification-count');
            },
            initSoachat() {
                this.ocs.init({
                    appid: "b03368fe82bbb4edc476e469b7d92e27",
                    appkey: "729b5b845beeddba469b00adf0864ec4",
                    domain: "dev28.onlinetestingserver.com",
                    global: '0',
                    id: user.uuid,
                    toid: (this.$route.params.id) ? this.$route.params.id : '',
                    element: "#ocs-call-window",
                    colorScheme: '343a40',
                });
            }
        },
        watch: {}
    }
</script>

<style>

</style>