<template>
    <div class="bg">
        <form-wizard @on-complete="applyJob" @on-change="sendInfo" stepsClasses="d-flex justify-content-around" ref="wizard">
            <template slot="title">
                <h1>Set Profile</h1>
                <hr>
            </template>
            <div class="rpp-stepper" slot="step" slot-scope="tabs">
                <div class="rpp-stepper-item rpp-active">
                    <span class="rpp-stepper-item-content">{{tabs.index + 1}}</span>
                    <span class="set-headings">{{tabs.tab.title}}</span>
                </div>
                <div class="rpp-stepper-divider"></div>
            </div>
            <tab-content title="Description" :before-change="changingStep">
                <div class="description-box">
                    <h2>Description</h2>
                    <span>Add Description which will help the recruiters <br> to know a bit more about you.</span>
                </div>
                <div class="description-deatail">
                    <textarea class="w-100" v-model="form.education.bio"></textarea>
                </div>
            </tab-content>
            <tab-content title="Education" :before-change="changingStep">
                <div class="description-box">
                    <h2>Education</h2>
                    <span>Add your education details. <br> Note: Add the latest first.</span>
                </div>
                <div class="education-form">
                    <form>
                        <div v-for="(institution,index) in form.institutions" class="form-row">
                            <div v-if="index != 0" class="col-md-12">
                                <button @click="removeMore('institutions',index)" type="button" class="close">
                                    <span>&times;</span>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail4">Institute Name:</label>
                                <input v-model="institution.name" type="text" class="form-control" placeholder="Enter Institute Name">
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail4">Discipline:</label>
                                <input v-model="institution.discipline" type="text" class="form-control" placeholder="Enter Discipline">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">From Date:</label>
                                <input v-model="institution.start_date" type="date" class="form-control" id="inputEmail4" placeholder="May 2, 2020">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">To Date:</label>
                                <input v-model="institution.end_date" type="date" class="form-control" id="inputEmail4" placeholder="May 2, 2020">
                                <div class="form-group form-check">
                                    <input v-model="institution.currently_here" type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Currently Here</label>
                                    <a href="javascript:void(0)" @click="addMore('institutions');" class="add-another"><i class="fas fa-plus-circle"></i> Add Another</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </tab-content>
            <tab-content title="Experience" :before-change="changingStep">
                <div class="description-box">
                    <h2>Work Experience</h2>
                    <span>Add your work experience. <br> Note: Add the latest first.</span>
                </div>
                <div class="education-form">
                    <div v-for="(experience,index) in form.experiences" class="form-row">
                        <div v-if="index != 0" class="col-md-12">
                            <button @click="removeMore('experiences',index)" type="button" class="close">
                                <span>&times;</span>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <label for="inputEmail4">Company Name:</label>
                            <input v-model="experience.company_name" type="text" class="form-control" placeholder="Enter Company Name">
                        </div>
                        <div class="col-md-6">
                            <label for="inputEmail4">Designation:</label>
                            <input v-model="experience.designation" type="text" class="form-control" placeholder="Enter Designation">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">From Date:</label>
                            <input v-model="experience.start_date" type="date" class="form-control" id="inputEmail4" placeholder="May 2, 2020">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">To Date:</label>
                            <input v-model="experience.end_date" type="date" class="form-control" id="inputEmail4" placeholder="May 2, 2020">
                            <div class="form-group form-check">
                                <input v-model="experience.is_working_currently" type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Currently Work Here</label>
                                <a href="javascript:void(0)" @click="addMore('experiences');" class="add-another"><i class="fas fa-plus-circle"></i> Add Another</a>
                            </div>
                        </div>
                    </div>
                </div>
            </tab-content>
            <tab-content title="Certifications" :before-change="changingStep">
                <div class="description-box">
                    <h2>Add Certification</h2>
                </div>
                <div class="education-form">
                    <div v-for="(certification,index) in form.certifications" class="form-row">
                        <div v-if="index != 0" class="col-md-12">
                            <button @click="removeMore('certifications',index)" type="button" class="close">
                                <span>&times;</span>
                            </button>
                        </div>
                        <div class="col-md-12">
                            <label for="inputEmail4">Certification Name:</label>
                            <input v-model="certification.title" type="text" class="form-control" placeholder="Enter Certification Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">From Date:</label>
                            <input v-model="certification.start_date" type="date" class="form-control" id="inputEmail4" placeholder="May 2, 2020">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">From Date:</label>
                            <input v-model="certification.end_date" type="date" class="form-control" id="inputEmail4" placeholder="May 2, 2020">
                            <a href="javascript:void(0)" @click="addMore('certifications');" class="add-another"><i class="fas fa-plus-circle"></i> Add Another</a>
                        </div>
                        <div class="upload-btn">
                            UPLOAD
                            <input @change="setCertificationFile($event,index)" type="file" name="file" />
                        </div>
                        <span class="red-text-png">Only PDF or PNG</span>
                    </div>
                </div>
            </tab-content>
            <tab-content title="Upload CV" :before-change="changingStep">
                <div class="description-box">
                    <h2>Upload CV</h2>
                </div>
                <div class="upload-box">
                    <div class="upload-btn">
                        Click Here to upload your CV
                        <input @change="setCvFile" type="file" name="file" />
                    </div>
                </div>
                <form>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Cover Letter(Optional):"></textarea>
                    </div>
                </form>
            </tab-content>
            <tab-content title="Add Skills" :before-change="changingStep">
                <div class="description-box">
                    <h2>Add Skills</h2>
                    <p>Add skills to showcase what you are good at: <span class="red-text"> Add upto 05 Skills</span></p>
                    <v-select taggable multiple :pushTags="true" :options="form.skills"></v-select>
                    <p>
                        <span> Skill (ex: Window Cleaning)</span>
                    </p>
                </div>
            </tab-content>
            <div slot="footer" slot-scope="props" class="back-next-btn">
                <button type="button" @click="props.prevTab()" class="for-back">BACK</button>
                <button v-if="!props.isLastStep" type="submit" @click="props.nextTab()" class="for-next">NEXT</button>
                <button v-if="props.isLastStep" @click="applyJob" class="for-next">Apply for job</button>
                <!-- <div class="col-md-6">
                    <button @click="props.prevTab()" v-if="props.activeTabIndex != 0" type="button" class="veri-green-button">BACK</button>
                </div> -->
                <!-- {{slotProps}} -->
                <!-- <div class="col-md-6">
                    <button v-if="!props.isLastStep" @click="props.nextTab()" type="button" class="veri-green-button">NEXT</button>
                    <button v-else type="submit" class="veri-green-button">Complete</button>
                </div> -->
            </div>
        </form-wizard>
        <success title="System Message" subtitle="Your job request has beeen sent successfully! You will soon be contacted by the admin.">
            <template slot="footer">
                <router-link data-dismiss="modal" :to="{name : 'web.home'}" class="emplyee-add-btn">Close</router-link>
            </template>
        </success>
    </div>
</template>
<script>
import { FormWizard, TabContent, WizardStep } from 'vue-form-wizard';
const Success = () => import('@views/Partials/web/popups/Success.vue');
export default {
    props: {
      application :  {
        type: Object, // String, Number, Boolean, Function, Object, Array
        required: true,
        default: null
      }
    },
    components: {
        FormWizard,
        TabContent,
        WizardStep,
        Success,
    },
    created() {
        this.userId = localStorage.getItem('step-id');
        if(Object.keys(this.application).length > 0){
            let self = this;
                _.each(this.application,function(item,key){
                    if ( self.steps.includes(key) ) {
                        if(item != null){
                            self.form[key] = item;
                        }
                    }
                });
        }
    },
    mounted(){
        let self = this;
        $(document).on('hide.bs.modal','#successPopup',function(e){
            self.$router.push({name : 'web.home'});
        });
    },
    data() {
        return {
            steps: [
                'education',
                'institutions',
                'experiences',
                'certifications',
                'cv',
                'skills',
            ],
            userId: 0,
            form: {
                education: {
                    bio: '',
                },
                institutions: [{
                    name: '',
                    discipline: '',
                    start_date: '',
                    end_date: '',
                    currently_here: false,
                }],
                experiences: [{
                    company_name: '',
                    designation: '',
                    start_date: '',
                    end_date: '',
                    is_working_currently: false,
                }],
                certifications: [{
                    title: '',
                    start_date: '',
                    end_date: '',
                    file: {},
                }],
                cv: {
                    file: {},
                    cover_letter: '',
                },
                skills: [],
            },
        };
    },
    methods: {
        setCertificationFile(e, index) {
            this.form.certifications[index].file = e.target.files[0];
        },
        setCvFile(e) {
            this.form.cv.file = e.target.files[0];
        },
        addMore(variable) {
            let params;
            if (variable == 'institutions') {
                params = {
                    name: '',
                    discipline: '',
                    start_date: '',
                    end_date: '',
                    is_working_currently: '',
                };
            } else if (variable == 'experiences') {
                params = {
                    company_name: '',
                    designation: '',
                    start_date: '',
                    end_date: '',
                    is_working_currently: '',
                };
            } else if (variable == 'certifications') {
                params = {
                    title: '',
                    start_date: '',
                    end_date: '',
                    file: {},
                };
            }

            this.form[variable].push(params);
        },
        removeMore(variable, index) {
            // alert()
            this.form[variable].splice(index, 1);
        },
        sendInfo(prevIndex, nextIndex) {
            if (prevIndex > nextIndex) {
                return;
            }
            let fd = new FormData();
            let stepName = this.steps[prevIndex]
            let stepFields = this.form[stepName];
            fd.append('user', this.userId);
            this.buildFormData(fd, stepFields, stepName);
            axios.post(route('employee.store-appliction'), fd).then((response) => {});
            this.$emit('on-complete');
        },
        async applyJob() {
            let fd = new FormData();
            let stepFields = this.form.skills;
            this.buildFormData(fd, stepFields, 'skills');
            fd.append('user', this.userId);
            let { data } = await axios.post(route('employee.complete-application'),fd);
            if (data.status) {
                localStorage.removeItem('step-id');
                window.$('#successPopup').modal('show');
            }
        },
        async changingStep(info) {
            return true;
        }
    }
}

</script>
