<template>
    <div class="bg">
        <ValidationProvider tag="div" :rules="{image : true}" name="image" v-slot="{errors,validate}" class="profile-img-box">
            <h2>Sign Up </h2>
            <hr>
            <div id="profile-container">
                <img ref="image" @click="$refs.file.click()" id="profileImage" src="assets/images/user-big.png" />
            </div>
            <input id="imageUpload" ref="file" @change="setFiles" type="file" name="profile_photo" placeholder="Photo" required="" capture>
            <span class="text-danger">{{errors[0]}}</span>
        </ValidationProvider>
        <ValidationObserver ref="signupObserver" tag="div" v-slot="{handleSubmit,invalid}" class="my-profile-form">
            <form @submit.prevent="handleSubmit(register)">
                <ValidationProvider tag="div" rules="required" name="full name" v-slot="{errors}" class="form-group">
                    <label for="name">Full Name:</label>
                    <input v-model="form.name" type="text" class="form-control" id="name" placeholder="Enter Full Name">
                    <span class="text-danger">{{errors[0]}}</span>
                </ValidationProvider>
                <ValidationProvider tag="div" rules="required" name="" v-slot="{errors}" class="form-group">
                    <label for="gender">Gender:</label>
                    <select v-model="form.gender" class="form-control" id="gender">
                        <option value="">Select Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <span class="text-danger">{{errors[0]}}</span>
                </ValidationProvider>
                <ValidationProvider tag="div" vid="email" rules="required" name="email" v-slot="{errors}" class="form-group">
                    <label for="email">Email Address:</label>
                    <input v-model="form.email" type="email" class="form-control" id="email" placeholder="Enter Email Address">
                    <span class="text-danger">{{errors[0]}}</span>
                </ValidationProvider>
                <ValidationProvider tag="div" rules="required" name="password" v-slot="{errors}" class="form-group">
                    <label for="email">Password:</label>
                    <input autocomplete="new-password" v-model="form.password" type="password" class="form-control" id="password" placeholder="Enter Password">
                    <span class="text-danger">{{errors[0]}}</span>
                </ValidationProvider>
                <ValidationProvider tag="div" vid="password_confirmation" rules="required" name="password" v-slot="{errors}" class="form-group">
                    <label for="email">Confirm Password:</label>
                    <input autocomplete="new-password" v-model="form.password_confirmation" type="password" class="form-control" id="password" placeholder="Enter Password">
                    <span class="text-danger">{{errors[0]}}</span>
                </ValidationProvider>
                <ValidationProvider tag="div" rules="required" name="phone" v-slot="{errors}" class="form-group">
                    <label for="phone">Phone Number:</label>
                    <input v-model="form.phone" type="number" class="form-control" id="phone" placeholder="Enter Phone Number">
                    <span class="text-danger">{{errors[0]}}</span>
                </ValidationProvider>
                <ValidationProvider tag="div" rules="required" name="address" v-slot="{errors}" class="form-group">
                    <label for="address">Address:</label>
                    <input v-model="form.address" type="text" class="form-control" id="address" placeholder="Address Line 1 ">
                    <span class="text-danger">{{errors[0]}}</span>
                </ValidationProvider>
                <ValidationProvider tag="div" rules="" name="address line 2" v-slot="{errors}" class="form-group">
                    <input v-model="form.address_2" type="text" class="form-control" id="address_2" placeholder="Address Line 2 ">
                    <span class="text-danger">{{errors[0]}}</span>
                </ValidationProvider>
                <div class="row">
                    <div class="col-md-6">
                        <ValidationProvider tag="div" rules="required" name="city" v-slot="{errors}" class="form-group">
                            <label for="city">City:</label>
                            <input v-model="form.city" type="text" class="form-control" id="city" placeholder="City">
                            <span class="text-danger">{{errors[0]}}</span>
                        </ValidationProvider>
                    </div>
                    <div class="col-md-6">
                        <ValidationProvider tag="div" rules="required" name="state" v-slot="{errors}" class="form-group">
                            <label for="state">State :</label>
                            <input v-model="form.state" type="text" class="form-control" id="state" placeholder="State ">
                            <span class="text-danger">{{errors[0]}}</span>
                        </ValidationProvider>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <ValidationProvider tag="div" rules="required" name="zipcode" v-slot="{errors}" class="form-group">
                            <label for="">Zip Code : </label>
                            <input v-model="form.zipcode" type="text" class="form-control" id="" placeholder="Zip Code ">
                            <span class="text-danger">{{errors[0]}}</span>
                        </ValidationProvider>
                    </div>
                    <div class="col-md-6">
                        <ValidationProvider tag="div" rules="required" name="country" v-slot="{errors}" class="form-group">
                            <label for="">Country :</label>
                            <input v-model="form.country" type="text" class="form-control" id="" placeholder="Country ">
                            <span class="text-danger">{{errors[0]}}</span>
                        </ValidationProvider>
                    </div>
                </div>
                <ValidationProvider tag="div" rules="required" name="service years" v-slot="{errors}" class="form-group">
                    <label for="">Years in Service :</label>
                    <input v-model="form.service_years" type="text" class="form-control" id="" placeholder="Enter Years in Service">
                    <span class="text-danger">{{errors[0]}}</span>
                </ValidationProvider>
                <button type="submit" class="my-profile-form-btn">NEXT</button>
            </form>
        </ValidationObserver>
    </div>
</template>
<script>
export default {
    data() {
        return {
            form: {}
        };
    },
    methods: {
        async register() {
            let fd = new FormData();
            this.buildFormData(fd, this.form);
            try {
                let { data } = await axios.post(route('employee.register'), fd);
                if (data.status) {
                    this.$snotify.success(data.msg);
                    this.$emit('success', {id : data.id});
                }
            } catch (e) {
                // statements
                if (e.response) {
                    this.$refs.signupObserver.setErrors(e.response.data.errors);
                    if (e.response.data.message) {
                        this.$snotify.error(e.response.data.message);
                    }
                }
                console.log(e);
            }
        },
        setFiles(e) {

        }
    }
}

</script>
