<template>
    <section id="configuration" class="search view-cause">
        <div class="row">
            <div class="col-12">
                <div class="card pad-20">
                    <div class="card-content collapse show">
                        <div class="card-body table-responsive card-dashboard">
                            <router-link :to="{name : 'admin.users.index',params : {type :'employee',status : 'application'}}">
                                <h2>
                                    < USER MANAGEMENT</h2> </router-link> <div class="pending-text">
                                        <h5>Application Status: <span> {{application.status}}</span></h5>
                        </div>
                        <section class="my-profile-box">
                            <div class="container">
                                <div class="profile-img-box">
                                    <h2>Employee Profile </h2>
                                    <hr>
                                    <div id="profile-container">
                                        <image id="profileImage" src="../assets/images/user-big.png" />
                                    </div>
                                    <!-- <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture> -->
                                </div>
                                <h4 class="mt-2 mb-2">Basic Details:</h4>
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Full Name:</label>
                                            <p>Mark Carson</p>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputPassword4">Number: </label>
                                            <p>+1-123-1234</p>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Email:</label>
                                            <p>abc@gmail.com</p>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputPassword4">Address:</label>
                                            <p>Brookly Bridge</p>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Gender:</label>
                                            <p>Male</p>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputPassword4">Years in Service:</label>
                                            <p>07</p>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">City:</label>
                                            <p>New York</p>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputPassword4">State:</label>
                                            <p>New York</p>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Zip Code:</label>
                                            <p>00921</p>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputPassword4">Country:</label>
                                            <p>New York</p>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="exampleFormControlTextarea1">Description:</label>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                do eiusmod tempor incididunt ut
                                                labore et dolore magna aliqua.
                                                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                                laboris nisi ut aliquip ex ea commodo
                                                consequat.</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="stepper">
                                <h6>Education:</h6>
                                <ul class="steps">
                                    <li class="step">
                                        <div class="dates">
                                            <span class="time"></span>
                                        </div>
                                    </li>
                                    <div class="step-context">
                                        <form>
                                            <div v-for="(institution,index) in application.institutions" class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputEmail4">Institute Name:</label>
                                                    <p>{{institution.name}}</p>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputPassword4">Discipline:</label>
                                                    <p>{{institution.discipline}}</p>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputEmail4">From Date:</label>
                                                    <p>{{formatDate(institution.start_date)}}</p>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputEmail4">From Date:</label>
                                                    <p>{{formatDate(institution.end_date)}}</p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <li class="step">
                                        <div class="dates">
                                            <span class="time"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="stepper">
                                <h6>Work Experience:</h6>
                                <ul class="steps">
                                    <li class="step">
                                        <div class="dates">
                                            <span class="time"></span>
                                        </div>
                                    </li>
                                    <div class="step-context">
                                        <form>
                                            <div v-for="(experience,index) in application.experiences" class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputEmail4">Company Name:</label>
                                                    <p>{{experience.company_name}}</p>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputPassword4">Designation:</label>
                                                    <p>{{experience.designation}}</p>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputEmail4">From Date:</label>
                                                    <p>{{formatDate(experience.start_date)}}</p>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputEmail4">To Date:</label>
                                                    <p>{{formatDate(experience.end_date)}}</p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <li class="step">
                                        <div class="dates">
                                            <span class="time"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="stepper">
                                <h6>Certification:</h6>
                                <form>
                                    <div v-for="(certification,index) in application.certifications" class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Certification Name:</label>
                                            <p>{{certification.title}}</p>
                                        </div>
                                        <div class="form-group col-md-6">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">From Date:</label>
                                            <p>{{formatDate(certification.start_date)}}</p>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputPassword4">To Date:</label>
                                            <p>{{formatDate(certification.end_date)}}</p>
                                        </div>
                                        <div class="image-upload">
                                            <label for="file-input">
                                                <h6>File:</h6>
                                                <a href="">
                                                    <i class="fas fa-file-pdf fa-2x"></i>
                                                </a>
                                            </label>
                                        </div>
                                    </div>
                                </form>
                                <h6>CV & Cover Letter</h6>
                            </div>
                            <div class="image-upload">
                                <label for="file-input">
                                    <a href="">
                                        <i class="fas fa-file-pdf fa-2x"></i>
                                    </a>
                                </label>
                            </div>
                            <h5>Cover Letter</h5>
                            <div class="image-upload">
                                <p v-if="application.cv">{{application.cv.cover_letter}}</p>
                            </div>
                            <h6>Skills</h6>
                            <div v-if="application.skills">{{generateSkills()}}</div>
                            <a v-if="application.status == 'applied'" href="javascript:void(0)" @click="show_reject" class="can2" data-toggle="modal" data-target="#rejected-modal">Reject</a>
                            <a v-if="application.status == 'applied'" href="javascript:void(0)" @click="showOwners" class="can2">Associate</a>
                            <div class="for-b-margin"></div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <reason @update="showSuccess" :application="application.id"></reason>
        <associate v-if="rerenderAccociate > 0" :key="rerenderAccociate" :exclude-owner="excludeOwner" @update="showAssociateSuccess" :application="application.id"></associate>
        <confirm title="System Message" subtitle="Employee application has been Rejected!">
        	<div slot="footer">
        			<button type="submit" class="con" data-dismiss="modal">CLOSE</button>
        	</div>
        </confirm>
        <confirm title="System Message" el="associate-success" subtitle="Employee has been successfully associated with  Property owner!">
        	<div slot="footer">
        			<button type="submit" class="con" data-dismiss="modal">CLOSE</button>
        	</div>
        </confirm>
    </section>
</template>
<script>
	const Reason = ()=> import('./Reason.vue');
	const Associate = ()=> import('./Associate.vue');
	const Confirm = ()=> import('@core/components/Popups/Confirm.vue');
export default {
	components : {
		Reason,
		Confirm,
		Associate,
	},
    props: {
        application: {
            type: Object, // String, Number, Boolean, Function, Object, Array
            required: true,
            default: null
        }
    },
    data() {
        return {
            my_application: {},
            excludeOwner : null,
            rerenderAccociate : 0,
        };
    },
    watch: {
        application(val, oldVal) {
            this.my_application = val;
        }
    },
    created() {
        console.log(this.application)
    },
    methods: {
    	generateSkills(){
    		let str = ''
    		let skills = this.application.skills || [];
    		_.each(skills,function(item,index){
    			str += item;
    			if((skills.length - 1) != index){
    				str += ',';
    			}
    		});
    		return str;
    	},
    	showSuccess(){
    		$('#successPopup').modal('show');

    		this.$emit('update');
    	},
    	showAssociateSuccess(){
    		$('#associate-success').modal('show');

    		this.$emit('update');
    	},
    	async showOwners(){
    		await this.rerenderAccociate++;
    		let {employee} =  this.application;
    		this.excludeOwner = employee.owner_id;
    		setTimeout(function(){
    			$('#associate-owner').modal('show');
    		},1000);
    	},
      show_reject() {
        
      }
    }
}

</script>
