<template>
    <div class="login-fail-main user">
        <div class="featured inner">
            <div class="modal modal-1 fade bd-example-modal-lg" id="associate-owner" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lgg conf">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="">
                            <div class="payment-modal-main">
                                <div class="payment-modal-inner">
                                    <div class="row">
                                        <div class="col-12">
                                            <h2>Associate with Property Owner</h2>
                                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                <label>Search:<input v-model="search" spellcheck="true" type="search" class="form-control form-control-sm" placeholder="Search" aria-controls="DataTables_Table_0"></label>
                                            </div>
                                            <form action="">
                                                <div class="row">
                                                    <div :key="ownerIndex" v-for="(owner,ownerIndex) in owners.data" class="col-12">
                                                        <div @click="selectOwner(owner.id)" class="card mb-1 mod-card cursor-pointer" style="max-width: 540px;">
                                                            <div class="row no-gutters">
                                                                <div class="col-md-4">
                                                                    <img src="assets/images/1112.png" class="card-img" alt="...">
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="card-body">
                                                                        <div class="for-v">
                                                                            <h6>{{owner.name}}</h6>
                                                                            <h6> Property Owner_ID: P-{{owner.id}}</h6>
                                                                        </div>
                                                                        <input :value="owner.id" :checked="selectedOwner == owner.id" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                    	<pagination :data="owners" @pagination-change-page="fetch"></pagination>
                                                    </div>
                                                    <div class="col-12">
                                                        <a @click="associate" href="javascript:void(0)" class="con2">ASSOCIATE</a>
                                                        <!-- <button type="submit" class="con" data-dismiss="modal">ASSOCIATE</button> -->
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <owner-property @selected="setProperty" v-if="renderProperty > 0" :key="renderProperty" :owner="selectedOwner"></owner-property>
        </div>
    </div>
</template>
<script>
const OwnerProperty = () => import('./Property.vue');
import { mapActions, mapState } from 'vuex';
export default {
    components: {
        OwnerProperty,

    },
    props: {
        excludeOwner: {
            required: false,
            default: null
        },
        application: {
            type: Number, // String, Number, Boolean, Function, Object, Array
            required: false,
            default: null
        },
    },
    async created() {
    	this.fetch = _.debounce(this.fetch,500);
        await this.fetch();
    },
    watch: {
        search: function(val, oldVal) {
            this.fetch();
        },
    },
    data () {
      return {
        search:'',
        renderProperty : 0,
        selectedOwner : 0,
        selectedProperty : 0,
      };
    },
    computed: {
        ...mapState('admin', ['owners']),
    },
    methods: {
        ...mapActions('admin', ['getAll','store']),
        async setProperty(property){
        	this.selectedProperty = property;
        },
        async selectOwner(ownerId){
        	await this.renderProperty++;
        	this.selectedOwner = ownerId;
        	setTimeout(function(){
        		$('#property-list').modal('show');
        	},1000);
        },
        async associate(){
        	if(this.selectedProperty == 0){
        		this.$snotify.error('please select property first');
        		return;
        	}
        	let params = {
        		route : route('admin.user.associate'),
        		method : 'POST',
        		data : {
        			property : this.selectedProperty,
        			owner : this.selectedOwner,
        			application : this.application,
        		},
        	};
        	await this.store(params);
        	$('#associate-owner').modal('hide');
        	this.$emit('update');
        },
        async fetch(page = 1) {
            let { type, status } = this.$route.params;
            let params = {
                route: route('admin.user.owners'),
                mutation: 'SET_OWNERS',
                variable: 'users',
                data : {
                	search : this.search,
                	exclude : this.excludeOwner,
                	page,
                },
            };
            let { data } = await this.getAll(params);
        }
    }
}

</script>
