<template>
    <section id="configuration" class="search view-cause">
        <div class="row">
            <div class="col-12">
                <div class="card pad-20">
                    <div class="card-content collapse show">
                        <div class="card-body table-responsive card-dashboard">
                            <router-link :to="{name : 'admin.users.index' , params : { type : 'property-owner'}}">
                                <h2>
                                    < USER MANAGEMENT</h2> </router-link> <h3 class="profile-heading">Property Owner Profile</h3>
                                        <img :src="user.media?user.media.url:'assets/images/download.png'" alt="">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p>Full Name</p>
                                                <p>{{user.name}}</p>
                                            </div>
                                            <div class="col-md-4">
                                                <p>Email</p>
                                                <p>{{user.email}}</p>
                                            </div>
                                            <div class="col-md-4">
                                                <p>Phone</p>
                                                <p>{{user.phone || 'NA'}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-3 col-md-6 col-12 d-flex">
                                                <div class="card rounded w-50">
                                                    <div class="card-content">
                                                        <div class="card-body cleartfix">
                                                            <div class="media">
                                                                <div class="media-body align-self-center">
                                                                    <p class="m-0">REGISTERED EMPLOYEES</p>
                                                                </div>
                                                                <div class="align-self-center">
                                                                    <h2>{{user.employees_count}} <i class="fas fa-users"></i></h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6 col-12 d-flex">
                                                <div class="card rounded w-50">
                                                    <div class="card-content">
                                                        <div class="card-body cleartfix">
                                                            <div class="media">
                                                                <div class="media-body align-self-center">
                                                                    <p class="m-0">REGISTERED PROPERTIES</p>
                                                                </div>
                                                                <div class="align-self-center">
                                                                    <h2>{{user.properties_count}} <i class="fas fa-home"></i></h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6 col-12 d-flex">
                                            </div>
                                            <div class="col-xl-3 col-md-6 col-12 d-flex">
                                            </div>
                                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    import {mapState} from 'vuex';
export default {
    computed: {
        ...mapState('admin', ['user']),
    }
}

</script>
