<template>
    <table class="table table-striped table-bordered zero-configuration">
        <thead>
            <tr>
                <th>S.No</th>
                <th>PROPERTY OWNER_ID</th>
                <th>FULL NAME</th>
                <th>EMAIL</th>
                <th>REGISTERATION DATE</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr :key="index" v-for="(user,index) in users.data">
                <td>{{serialNumber('users',index)}}</td>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{formatDate(user.created_at)}}</td>
                <td>
                    <div class="btn-group mr-1 mb-1">
                        <button type="button" class="btn  btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-start" style="position: absolute; transform: translate3d(4px, 23px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <router-link class="dropdown-item" :to="{name : 'admin.users.show',params : {type : 'property-owner',user : user.id} }"><i class="fa fa-eye"></i>VIEW PROFILE</router-link>
                            <router-link class="dropdown-item" :to="{name : 'admin.properties.users', params : { user : user.id}}"><i class="fas fa-building" aria-hidden="true"></i>VIEW PROPERTIES</router-link>
                            <a class="dropdown-item" href="#" data-toggle="modal" @click="userId = user.id" data-target="#confirm-block"><i class="fa" :class="routeParams.status == 'blocked'?'fa-restore':'fa-ban'" aria-hidden="true"></i>{{routeParams.status == 'blocked'?'UN BLOCK':'BLOCK'}} PROPERTY OWNER</a>
                        </div>
                    </div>
                </td>
            </tr>
            <no-record tag="tr" :colspan="6" :data="users.data" class="col-md-3"></no-record>
        </tbody>
        <confirm el="confirm-block" @confirmed="blockEntity"  title="System Message" :subtitle="`Are you sure you want to ${routeParams.status == 'blocked'?'un block':'block'} this property owner? `"></confirm>
    </table>
</template>
<script>
import { mapState,mapActions } from 'vuex';
export default {
        data () {
          return {
            userId:0,
          };
        },
    computed: {
        ...mapState('admin', ['users']),
        status() {
            return this.$route.params.status;
        },
    },
        methods: {
            ...mapActions('admin',['store']),
          async blockEntity() {
            let {type} = this.$route.params;
            let params = {
                route : route('admin.user.block',{ user : this.userId}),
                method : 'POST',
                mutation : 'CHANGE_USER_STATUS',
                variable : 'data',
                data : {
                    type,
                },
            };
            let {data} = await  this.store(params);
            if(data.status){
                this.$snotify.success(data.msg);

            }else{

                this.$snotify.error(data.msg);
            }
          }
        }
}

</script>
