<template>
    <div v-if="images.length > 0">
        <h4>Property Images:</h4>
        <carousel ref="carousel" :nav="true" :items="3" @initialize="init" :margin="50" class="owl-theme">
            <div v-for="image in images" class="item">
                <img :src="image.url">
            </div>
            <template slot="next"><span class="next fa fa-chevron-right"></span></template>
            <template slot="prev"><span class="prev fa fa-chevron-left" ></span></template>
        </carousel>
    </div>
</template>
<script>
import carousel from 'vue-owl-carousel'
export default {
    props: {
        images: {
            type: Array, // String, Number, Boolean, Function, Object, Array
            required: false,
            default: () => {
                return [];
            }
        }
    },
    components: {
        carousel,
    },
    methods: {
        init() {
            alert()
        }
    },
    mounted() {
        this.$nextTick(function() {
            console.log(this.$refs.carousel)
        });
    },
}

</script>
