<template>
    <section class="employee-rejected-box">
        <div class="container">
            <div class="bg">
                <div class="employee-rejected">
                    <h1>Application Status</h1>
                    <hr>
                    <span v-if="$user.application.status == 'applied' || $user.application.status == 'pending'">Your application is still in pending. You'll soon be contacted!</span>
                    <span v-else-if="$user.application.status == 'rejected'">We regret you inform you that your application <br> has been Reject</span>
                </div>
                <template v-if="$user.application.status == 'rejected'">
                    <p>Rejection Reason:</p>
                    <div class="reason-text">{{$user.application.reason || 'N/A'}}</div>
                    <div class="resubmit-box">
                        <a href="#" class="resubmit-btn">RESUBMIT</a>
                    </div>
                </template>
            </div>
        </div>
    </section>
</template>
