<template>
    <section class="employee-signup-box">
        <div class="container">
            <div class="bg">
                <div class="profile-img-box">
                    <h2>My Profile</h2>
                    <router-link :to="{name : 'web.account.application'}">
                        <h6>Complete Profile</h6>
                    </router-link>
                    <hr>
                    <div id="profile-container">
                        <image id="profileImage" src="../assets/images/user-big.png" />
                    </div>
                    <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture>
                </div>
                <div class="employee-profile-form">
                    <form>
                        <h5>Basic Details:</h5>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Full Name:</label>
                            <p class="text-muted">{{user.name}}</p>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email Address:</label>
                            <p class="text-muted">{{user.email}}</p>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Gender:</label>
                            <p class="text-muted">{{user.gender}}</p>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Number: </label>
                            <p class="text-muted">{{user.phone}}</p>
                        </div>
                    </form>
                </div>
                <div class="my-prfile-edit">
                    <router-link :to="{name : 'web.account.application'}" class="my-profile-edit-btn">EDIT</router-link>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
	export default{
		props: {
		  user : {
		    type: Object, // String, Number, Boolean, Function, Object, Array
		    required: true,
		    default: null
		  }
		}
	}
</script>