<template>
    <div>
        <div class="profile-img-box">
            <h2>My Profile </h2>
            <hr>
            <div id="profile-container">
                <img id="profileImage" src="assets/images/user-big.png" />
            </div>
            <!-- <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture> -->
        </div>
        <div class="my-profile-form">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Full Name:</label>
                    <p>{{user.name}}</p>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email:</label>
                    <p>{{user.email}}</p>
                </div>
                <div class="form-group pb-4">
                    <label for="exampleInputEmail1">Phone Number:</label>
                    <p>{{user.phone || 'N/A'}}</p>
                </div>
                <router-link :to="{name : 'web.account.edit'}" class="my-profile-form-btn">Edit Profile</router-link>
                <router-link :to="{name : 'web.account.password'}" class="my-profile-form-btn">Change Password</router-link>
            </form>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        user: {
            type: Object, // String, Number, Boolean, Function, Object, Array
            required: true,
            default: null
        }
    }
}

</script>
