<template>
    <section :class="[{'set-profile-box': !employeeSignup},{'employee-signup-box' : employeeSignup}]">
        <div class="container">
            <employee-signup v-if="employeeSignup" @success="changeStep"></employee-signup>
            <job-application :application="application" v-else></job-application>
        </div>
    </section>
</template>
<script>
const EmployeeSignup = () => import('./Employee/Signup.vue');
const JobApplication = () => import('./Employee/EmployeeSteps.vue');
export default {
    components: {
        EmployeeSignup,
        JobApplication,
    },
    data() {
        return {
            application : {},
            employeeSignup: true,
        };
    },
    async created() {
        this.checkUser();
    },
    methods: {
        async checkUser() {
            let id = localStorage.getItem('step-id');
            if (id) {
                try {
                    let { data } = await axios.post(route('employee.check-my-request'), {}, {
                        headers: {
                            id
                        }
                    });
                    if (data.status) {

                        this.changeStep({ id });
                        this.application = data.application || {};
                    } else {
                        this.employeeSignup = true;
                        localStorage.removeItem('step-id');

                    }
                } catch (e) {
                    this.employeeSignup = true;
                    console.log(e);
                }
            }
        },
        changeStep(data) {
            this.employeeSignup = false;
            localStorage.setItem('step-id', data.id);
        },
    }
}

</script>
