<template>
    <section class="join-user">
        <div class="container">
            <div class="for-user-bg">
                <h1>Join Now</h1>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="home-icon">
                            <router-link :to="{name : 'web.auth.register.owner' }">
                                <img src="assets/images/123.png" alt="">
                                <h6>Property Owner</h6>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="home-icon">
                            <router-link :to="{name : 'web.auth.register.employee' }">
                                <img src="assets/images/111.png" alt="">
                                <h6>Employee</h6>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
	export default{

	}
</script>