<template>
    <section class="join-user">
        <div class="container">
            <div class="for-user-bg">
                <ValidationObserver ref="wizardobserver" v-slot="{handleSubmit,validate}">
                    <form @submit.prevent="handleSubmit(create)">
                        <form-wizard @on-change="changeTab" stepsClasses="d-flex justify-content-around" ref="wizard">
                            <template slot="title">
                                <h1>Step {{currentTab}} of 3</h1>
                            </template>
                            <hr>
                            <!-- <div class="row"> -->
                            <div class="row" slot="step" slot-scope="tabs">
                                <div class="col-md-4 text-center">
                                    <div class="home-icon">
                                        <span>{{tabs.index + 1}}</span>
                                        <h6 class="text-center">Step</h6>
                                    </div>
                                </div>
                            </div>
                            <tab-content title="Step" :before-change="changingStep">
                                <h4>Create you account to start your membership</h4>
                                <ValidationProvider rules="required" name="Name" v-slot="{errors}" class="form-group">
                                    <label for="name">Name</label>
                                    <input type="name" v-model="form.name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Name">
                                    <div class="text-danger">{{errors[0]}}</div>
                                </ValidationProvider>
                                <ValidationProvider vid="email" rules="required" name="Email" v-slot="{errors}" class="form-group">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input @blur="verifyEmail" type="email" v-model="form.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
                                    <div class="text-danger">{{errors[0]}}</div>
                                </ValidationProvider>
                                <ValidationProvider rules="required|confirmed:password_confirmation" name="Password" v-slot="{errors}" class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" v-model="form.password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter Your Password">
                                    <div class="text-danger">{{errors[0]}}</div>
                                </ValidationProvider>
                                <ValidationProvider vid="password_confirmation" rules="required" name="Confirm Password" v-slot="{errors}" class="form-group">
                                    <label for="password_confirmation">Confirm Password</label>
                                    <input type="password" v-model="form.password_confirmation" class="form-control" id="password_confirmation" aria-describedby="emailHelp" placeholder="Enter Your Password">
                                    <div class="text-danger">{{errors[0]}}</div>
                                </ValidationProvider>
                                <!-- <a href="#" class="green-button">Read More</a> -->
                            </tab-content>
                            <tab-content title="Step" :before-change="changingStep">
                                <ValidationProvider tag="div" rules="min_value:1" v-slot="{errors}" v-if="currentTab == 2" class="price-card">
                                    <div class="row justify-content-center mb-4">
                                        <input type="hidden" v-model="form.plan_id">
                                        <div v-for="plan in subscriptions" class="col-xl-3 col-lg-4 col-md-6 col-12 cursor-pointer">
                                            <div @click="form.plan_id = plan.id" class="columns" :class='{"border border-dark" : form.plan_id == plan.id}'>
                                                <ul class="price">
                                                    <li class="header">{{plan.title}}</li>
                                                    <li>$
                                                        <span class="for-big">{{plan.amount}}</span>
                                                        <sub>{{plan.duration}} month</sub>
                                                    </li>
                                                    <li>
                                                        <p>{{plan.description}}</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-danger justify-content-center text-center" v-if="errors[0]">please select a package to continue</div>
                                </ValidationProvider>
                            </tab-content>
                            <tab-content title="Step">
                                <div v-if="currentTab == 3">
                                    <ValidationProvider v-slot="{errors}" tag="div" rules="required" name="Card Holder Name" class="form-group">
                                        <label for="card_holder_name">Card Holder Name *</label>
                                        <input type="text" v-model="form.card_holder_name" class="form-control" id="card_holder_name" aria-describedby="emailHelp" placeholder="Enter Card Holder Name">
                                        <div class="text-danger">{{errors[0]}}</div>
                                    </ValidationProvider>
                                    <ValidationProvider vid="card_number" v-slot="{errors}" tag="div" rules="required" name="Card Number" class="form-group">
                                        <label for="card_number">Card Number *</label>
                                        <input type="text" v-model="form.card_number" class="form-control" id="card_number" aria-describedby="emailHelp" placeholder="Enter Card Number">
                                        <div class="text-danger">{{errors[0]}}</div>
                                    </ValidationProvider>
                                    <ValidationProvider vid="cvv" v-slot="{errors}" tag="div" rules="required|min:3|max:4" name="CVV Number" class="form-group">
                                        <label for="cvv_number">CVV Number *</label>
                                        <input type="text" v-model="form.cvv" class="form-control" id="cvv_number" aria-describedby="emailHelp" placeholder="Enter CVV Number">
                                        <div class="text-danger">{{errors[0]}}</div>
                                    </ValidationProvider>
                                    <div class="row">
                                        <ValidationProvider vid="expiry_month" v-slot="{errors}" tag="div" rules="required" name="Expiry Month" class="form-group col-md-6">
                                            <label for="expiry">Expiry Month *</label>
                                            <input type="text" v-model="form.expiry_month" class="form-control" id="expiry" aria-describedby="emailHelp" placeholder="Enter Expiry">
                                            <div class="text-danger">{{errors[0]}}</div>
                                        </ValidationProvider>
                                        <ValidationProvider vid="expiry_year" v-slot="{errors}" tag="div" rules="required" name="Expiry Year" class="form-group col-md-6">
                                            <label for="expiry">Expiry Year *</label>
                                            <input type="text" v-model="form.expiry_year" class="form-control" id="expiry" aria-describedby="emailHelp" placeholder="Enter Expiry">
                                            <div class="text-danger">{{errors[0]}}</div>
                                        </ValidationProvider>
                                    </div>
                                </div>
                            </tab-content>
                            <div slot="footer" slot-scope="props" class="row">
                                <div class="col-md-6">
                                    <!-- data-toggle="modal" data-target="#verify-email" -->
                                    <button @click="props.prevTab()" v-if="props.activeTabIndex != 0" type="button" class="veri-green-button">BACK</button>
                                </div>
                                <!-- {{slotProps}} -->
                                <div class="col-md-6">
                                    <button v-if="!props.isLastStep" @click="props.nextTab()" type="button" class="veri-green-button">NEXT</button>
                                    <button v-else type="submit" class="veri-green-button">Complete</button>
                                </div>
                            </div>
                        </form-wizard>
                    </form>
                </ValidationObserver>
            </div>
            <success title="Sign Up Successful!">
                <router-link data-dismiss="modal" :to="{name : 'web.auth.login'}" class="green-small"><small id="emailHelp">Proceed to Login</small></router-link>
            </success>
            <!-- Modal -->
            <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLabel">Sign Up Successful!</h2>
                        </div>
                        <a href="login-page.php" class="green-small"><small id="emailHelp">Proceed to Login</small></a>
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Modal -->
            <div class="modal fade" id="verify-email" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLabel">Email Verification</h2>
                        </div>
                        <span class="modal-span">A verification code has been sent to your
                            <br> Email Address :abc@xyz.com</span>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Verification Code</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Verification Code">
                                    <a href="#" data-toggle="modal" data-target="#exampleModal-2">
                                        <small id="emailHelp" class="green-small">Don't want to use email?
                                            Verify From Phone</small>
                                    </a>
                                    <a href="#"><small id="emailHelp" class="green-small-right">Resend
                                            Code</small></a>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="modal-btn">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal code send -->
            <div class="modal fade" id="exampleModal-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLabel">Email Verification</h2>
                        </div>
                        <span class="modal-span">Enter Verification Code You Have Received <br> On Your Phone
                            Number</span>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Verification Code</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Verification Code">
                                    <a href="#" data-toggle="modal" data-target="#exampleModal">
                                        <small id="emailHelp" class="green-small">Don't want to use your number?
                                            Verify From Email</small>
                                    </a>
                                    <a href="#"><small id="emailHelp" class="green-small-right">Resend
                                            Code</small></a>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="modal-btn">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import { FormWizard, TabContent, WizardStep } from 'vue-form-wizard'
const success = () => import('@views/Partials/web/popups/Success.vue');
//component code
export default {
    components: {
        FormWizard,
        TabContent,
        WizardStep,
        success,
    },
    data() {
        return {
            currentTab: 1,
            form: {
                plan_id: 0,
            },
            subscriptions: [],
        };
    },
    async created() {
        await this.getSubscriptions();
    },
    async mounted() {
        this.currentTab = this.$refs.wizard.activeTabIndex + 1;
    },
    watch: {
        'form.card_number': function(val, oldVal) {
            val = val.replace(/[^\dA-Z]/g, '').replace(/(.{4})/g, '$1-').trim('-').slice(0, 19);
            this.form.card_number = val;
            /*if (val.length == 21) {
                this.form.card_number = oldVal;
            } else {
                // adding spaces
            }*/
        },
    },
    methods: {
        async getSubscriptions() {
            try {
                let { data } = await axios.get(route('app.subscriptions'));
                this.subscriptions = data.subscriptions;
                // statements
            } catch (e) {
                // statements
                // console.log(e);
            }
        },
        async create() {
            try {
                // statements
                let fd = new FormData();
                this.buildFormData(fd, this.form);

                let { data } = await axios.post(route('register'), fd);
                if (data.status) {
                    window.$('#successPopup').modal('show');
                    this.form = {
                        plan_id: 0,
                    };
                    this.$refs.wizardobserver.reset();

                }
            } catch (e) {
                if (e.response) {
                    this.$refs.wizardobserver.setErrors(e.response.data.errors);
                    let { message } = e.response.data.errors;
                    if(message){
                        this.$snotify.error(message);
                    }
                }
                console.log(e);
                // statements
            }
        },
        async verifyEmail() {
            if (this.currentTab == 1) {
                try {
                    // statements
                    let { data } = await axios.post(route('register.check-email'), {
                        email: this.form.email,
                    });
                    return true;
                } catch (e) {
                    // statements
                    if (e.response) {
                        this.$refs.wizardobserver.setErrors(e.response.data.errors);
                        return false;
                    }
                    console.log(e);

                }
            }
        },
        changeTab(prev, next) {
            console.log();
            this.currentTab = next + 1;
        },
        async changingStep(index) {

            let valid = await this.$refs.wizardobserver.validate(this.$event);
            // alert(index);
            if (!this.verifyEmail()) {
                return false;
            }

            this.$emit('on-validate', valid, this.activeTabIndex)
            return valid;
        }
    }

}

</script>
