<template>
    <div class="login-fail-main user">
        <div class="featured inner">
            <div class="modal modal-1 fade bd-example-modal-lg" :id="el" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lgg conf">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="">
                            <div class="payment-modal-main">
                                <div class="payment-modal-inner">
                                    <div class="row">
                                        <div class="col-12">
                                            <img class="m-0" src="admin/images/modal-icon.png">
                                            <h2 v-html="title"></h2>
                                            <div class="row">
                                                <div class="col-12">
                                                    <h3 v-html="subtitle"></h3>
                                                </div>
                                                <slot name="footer">
                                                    <div class="col-12">
                                                        <button type="button" class="can" @click="$emit('confirmed')" data-dismiss="modal" data-toggle="modal" data-target="#exampleModalCenter2">Yes</button>
                                                        <button type="submit" class="con" @click="$emit('closed',false)" data-dismiss="modal">No</button>
                                                    </div>
                                                </slot>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="emplyee-add-modal-msg">
        <div class="modal fade" :id="el" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <i class="fas fa-question-circle fa-4x"></i>
                        <h4 v-html="title"></h4>
                        <span v-html="subtitle"></span><br>
                        <slot></slot>
                    </div>
                        <div class="modal-footer">
                    <slot name="footer">
                            <a href="javascript:void(0)" data-dismiss="modal" class="emplyee-add-btn">Close</a>
                    </slot>
                        </div>
                </div>
            </div>
        </div>
    </div> -->
</template>
<script>
export default {
    props: {
        el: {
            type: String,
            default: 'successPopup',
        },
        title: {
            type: String, // String, Number, Boolean, Function, Object, Array
            required: true,
            default: null
        },
        subtitle: {
            type: String, // String, Number, Boolean, Function, Object, Array
            required: false,
            default: null
        }
    }
}

</script>
