<template>
    <div>
    	<about/>
        <green-banner/>
        <section class="video-box">
            <div class="container">
                <video width="100%" height="440" controls>
                    <source src="movie.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                </video>
            </div>
        </section>
    </div>
</template>
<script>
	const About = ()=> import('@views/Partials/web/About.vue');
	const GreenBanner = ()=> import('@views/Partials/web/GreenBanner.vue');
	export default{
		components : {
			About,
			GreenBanner
		}
	}
</script>