<template>
    <section class="fourth-box">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="green-back">
                        <h5>SCNELL</h5>
                        <h1>Contact Us</h1>
                        <hr class="solid">
                        <p>Our highly qualified team is always ready to answer your queries. If it's feedback and not query, we'd also like to hear that too. Fill out the form below, or use any of the contact means, you'll find us active.</p>
                        <br>
                        <!-- <a href="#" class="green-button">Read More &nbsp;
                            <i class="fas fa-arrow-right"></i>
                        </a> -->
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="img-box">
                        <img src="assets/images/Rectangle 5 copy 2.jpg" alt="">
                    </div>
                    <div class="green-rectangle">
                        <img src="assets/images/Layer 11.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
