<template>
    <div>
        <div class="main-page-slider">
            <div class="for-slider">
                <div class="container">
                    <div class="owl-carousel owl-theme " id="home-slider">
                        <div class="item">
                            <h1>The Best way to Manage
                                <br> your Employee’s Task
                            </h1>
                            <span>With over 700,000 active listings, Realtyspace has the largest
                                <br> inventory of apartments in the United States.</span>
                            <br>
                            <button type="button" class="btn btn-secondary">Get Listed Now
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                        <div class="item">
                            <h1>The Best way to Manage
                                <br> your Employee’s Task
                            </h1>
                            <span>With over 700,000 active listings, Realtyspace has the largest
                                <br> inventory of apartments in the United States.</span>
                            <br>
                            <button type="button" class="btn btn-secondary">Get Listed Now
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <h2 class="slider-counter"></h2>
                <div class="social-icons">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="for-rotate">
                    <p>SCROLL DOWN</p>
                </div>
            </div>
        </div>
        <About />
        <green-banner />
        <section class="fourth-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="green-back">
                            <h5>SCNELL</h5>
                            <h2>Manage Property</h2>
                            <hr class="solid">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                                <br>
                                <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                                <br>
                                <br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                            <br>
                            <a href="#" class="green-button">Read More &nbsp;
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="img-box">
                            <img src="assets/images/shutterstock_641178736.jpg" alt="">
                        </div>
                        <div class="green-rectangle">
                            <img src="assets/images/Layer 11.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
const About = () => import('@views/Partials/web/About.vue');
const GreenBanner = () => import('@views/Partials/web/GreenBanner.vue');
export default {
    components: {
        About,
        GreenBanner
    },
    mounted() {
        this.$nextTick(function() {

            $('#home-slider').on('initialized.owl.carousel changed.owl.carousel', function(e) {
                if (!e.namespace) {
                    return;
                }
                var carousel = e.relatedTarget;
                $('.slider-counter').text('0' + carousel.relative(carousel.current() + 1));

            }).owlCarousel({
                items: 1,
                loop: true,
                margin: 0,
                nav: true,
                dots: false
            });

        });
    },
}

</script>
