<template>
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="configuration" class="search view-cause">
                <div class="row">
                    <div class="col-12">
                        <div class="card pad-20">
                            <div class="card-content collapse show">
                                <div class="card-body table-responsive card-dashboard">
                                    <h2>USER MANAGEMENT</h2>
                                    <div v-if="$route.params.type == 'employee'" class="row">
                                        <div class="col-12 d-block d-sm-flex justify-content-between">
                                            <div class="left">
                                                <h1>EMPLOYEE LISTING</h1>
                                                <router-link :to="{name : 'admin.users.index',params : { name : 'employee' } }" class="for-green-left"> Associated Employees</router-link>
                                                <router-link :to="{name : 'admin.users.index',params : { type : 'employee', status : 'application'  } }" class="for-green-left"> Employee Applications</router-link>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else-if="$route.params.type == 'property-owner'" class="row">
                                        <div class="col-12 d-block d-sm-flex justify-content-between">
                                            <div class="left">
                                                <h1>PROPERTY OWNER LISTING</h1>
                                            </div>
                                            <div class="right">
                                                <router-link v-if="$route.params.status" :to="{name : 'admin.users.index' }">ACTIVE PROPERTY OWNERS</router-link>
                                                <router-link v-else :to="{name : 'admin.users.index',params : {status : 'blocked'} }">BLOCKED PROPERTY OWNERS</router-link>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row maain-tabble mt-3">
                                        <table-search></table-search>
                                        <employee-table @update="fetch" v-if="$route.params.type == 'employee'"></employee-table>
                                        <owner-table v-if="$route.params.type == 'property-owner'"></owner-table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <pagination :data="users" @pagination-change-page="fetch"></pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
const EmployeeTable = () => import('./components/EmployeeTable.vue');
const OwnerTable = () => import('./components/OwnerTable.vue');
export default {
    computed: {
        ...mapState('admin', ['users','search','entries']),
    },
    components: {
        EmployeeTable,
        OwnerTable,
    },
    created() {
        let { page } = this.$route.query;
        this.fetch(page);
    },
    watch: {
        search: function(val, oldVal) {
            this.fetch();
        },
        entries: function(val, oldVal) {
            this.fetch();
        },
    },
    methods: {
        ...mapActions('admin', ['getAll']),
        async fetch(page = 1) {
            let { type, status } = this.$route.params;
            let params = {
                route: route('admin.user.index'),
                mutation: 'SET_USERS',
                variable: 'users',
                data: {
                    page,
                    type,
                    status,
                    search : this.search,
                    entries : this.entries,
                }
            };
            let { data } = await this.getAll(params);
            if (page != 1) {
                this.addRouteQuery({ page });
            } else {

                this.addRouteQuery({});
            }
        }
    }
}

</script>
