<template>
    <div class="w-100">
        <table class="table table-striped table-bordered zero-configuration">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>EMPLOYEE_ID</th>
                    <th>Full Name</th>
                    <th>DATE</th>
                    <template>
                        <th v-if="routeParams.status == 'application'">STATUS</th>
                        <th v-else>ADDED BY</th>
                    </template>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <template>
                    <tr :key="index" v-for="(user,index) in users.data">
                        <template v-if="!status">
                            <td>{{serialNumber('users',index)}}</td>
                            <td>{{user.id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{formatDate(user.created_at)}}</td>
                            <td>{{user.added_by == 'proprietor'?'Property Owner':'Admin'}}</td>
                            <td>
                                <div class="btn-group mr-1 mb-1">
                                    <button type="button" class="btn  btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-start" style="position: absolute; transform: translate3d(4px, 23px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <router-link class="dropdown-item" :to="{name : 'admin.users.show',params : {type : 'employee',user : user.id} }"><i class="fa fa-eye"></i>VIEW PROFILE</router-link>
                                        <router-link class="dropdown-item" :to="{name : 'admin.users.logs',params : { user : user.id} }"><i class="fas fa-bars" aria-hidden="true"></i>ASSIGNED TASKS</router-link>
                                    </div>
                                </div>
                            </td>
                        </template>
                        <template v-else>
                            <td>{{serialNumber('users',index)}}</td>
                            <td v-if="user.employee">{{user.employee.id}}</td>
                            <td>{{user.employee.name}}</td>
                            <td>{{formatDate(user.created_at)}}</td>
                            <td>{{user.status}}</td>
                            <td>
                                <div class="btn-group mr-1 mb-1">
                                    <button type="button" class="btn  btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-start" style="position: absolute; transform: translate3d(4px, 23px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <a v-if="user.status == 'applied'" class="dropdown-item" @click="showOwners(user.employee,user.id)" href="javascript:void(0)"><i class="fa fa-eye"></i>ASSOCIATE</a>
                                        <a v-if="user.status == 'applied'" class="dropdown-item" @click="reject(user.id)" href="javascript:void(0)"><i class="fa fa-times"></i>Reject</a>
                                        <router-link class="dropdown-item" :to="{name : 'admin.users.show',params : {type : 'employee',user : user.id,status : 'application'} }"><i class="fa fa-eye"></i>VIEW Detail</router-link>
                                    </div>
                                </div>
                            </td>
                        </template>
                    </tr>
                </template>
                <no-record tag="tr" :colspan="6" :data="users.data" class="col-md-3"></no-record>
            </tbody>
        </table>
        <reason @update="showSuccess" :application="application_id"></reason>
         <associate v-if="rerenderAccociate > 0" :key="rerenderAccociate" :exclude-owner="excludeOwner" @update="showAssociateSuccess" :application="application_id"></associate>
        <confirm title="System Message" subtitle="Employee application has been Rejected!">
            <div slot="footer">
                <button type="submit" class="con" data-dismiss="modal">CLOSE</button>
            </div>
        </confirm>
        <confirm title="System Message" el="associate-success" subtitle="Employee has been successfully associated with  Property owner!">
            <div slot="footer">
                    <button type="submit" class="con" data-dismiss="modal">CLOSE</button>
            </div>
        </confirm>
    </div>
</template>
<script>
const Reason = () => import('./Reason.vue');
const Confirm = () => import('@core/components/Popups/Confirm.vue');
const Associate = ()=> import('./Associate.vue');
import { mapState } from 'vuex';
export default {
    components: {
        Reason,
        Confirm,
        Associate,
    },
    computed: {
        ...mapState('admin', ['users']),
        status() {
            return this.$route.params.status;
        }
    },
    data () {
      return {
        application_id:0,
        excludeOwner : null,
        rerenderAccociate : 0,
      };
    },
    methods: {
        accociate() {

        },
        showSuccess(){
            $('#successPopup').modal('show');

            this.$emit('update');
        },
        showAssociateSuccess(){
            $('#associate-success').modal('show');

            this.$emit('update');
        },
        async showOwners(employee,application){
            await this.rerenderAccociate++;
            this.excludeOwner = employee.owner_id;
            this.application_id = application;
            setTimeout(function(){
                $('#associate-owner').modal('show');
            },1000);
        },
        async reject(application) {
            this.application_id = application;
            $('#rejected-modal').modal('show');
            /*let { data } = await axios.post(route('admin.user.application_status', { application, status: 'rejected' }));
            if (data) {
                this.$snotify.success(data.msg);
                this.$emit('update');
            }*/
        }
    }
}

</script>
