<template>
    <section id="configuration" class="search view-cause">
        <div class="row">
            <div class="col-12">
                <div class="card pad-20">
                    <div class="card-content collapse show">
                        <div class="card-body table-responsive card-dashboard">
                            <router-link :to="{name : 'admin.users.index' , params : { type : 'employee'}}">
                                <h2>
                                    < USER MANAGEMENT</h2> </router-link> <section class="new-employee-formbox">
                                        <div class="">
                                            <span class="emp-green">Emp_Id: E-{{user.id}}</span>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h2>Employee Details</h2>
                                                    <h5> Employee Personal Details:</h5>
                                                </div>
                                                <div class="col-md-6">
                                                </div>
                                                <div class="col-md-12">
                                                    <p>Employee Name:</p>
                                                    <p class="text-muted">{{user.name}}</p>
                                                    <p>Employee Email Address:</p>
                                                    <p class="text-muted">{{user.email}}</p>
                                                    <p>Employee Gender:</p>
                                                    <p class="text-muted">{{user.gender}}</p>
                                                    <p>Assigned Property:</p>
                                                    <p class="for-green">Total Properties: {{user.properties_count}}, Total Tasks :{{user.tasks_count}}</p>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <table-search class="my-search"></table-search>
                                                <div class="input-group md-form form-sm form-2 pl-0 my-search">
                                                   <!--  <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" aria-label="Search">
                                                    <div class="input-group-append">
                                                    </div> -->
                                                </div>
                                                <div :key="property.id" v-for="property in user.properties" class="media">
                                                    <img :src="property.media?property.media.url:'assets/images/placeholder.png'" class="mr-3" alt="...">
                                                    <div class="media-body">
                                                        <span>{{property.name}} <br> Property_ID: P-{{property.id}}</span>
                                                        <a @click="removeProperty(property)" href="javascript:void(0)" class="remove-property-btn">Remove Property</a>
                                                    </div>
                                                </div>
                                                <no-record class="media" tag="div" :data="user.properties">
                                                	<h6 class="text-center">No Data Available</h6>
                                                </no-record>
                                            </div>
                                            <div class="col-md-12">
                                                <h6>Login Details:</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p>Email Address:</p>
                                                <p class="text-muted">{{user.email}}</p>
                                                <p>Auto-generated Password:</p>
                                                <p class="text-muted">********</p>
                                                <p>Unique Code:</p>
                                                <p class="text-muted">{{user.code || 'NA'}}</p>
                                            </div>
                                            <!-- <a href="#" class="assign-property-close-btn">Close</a> -->
                                            <!-- <a href="#" class="assign-employee-btn" data-toggle="modal" data-target="#exampleModalCenter">assign employee</a> -->
                                        </div>
    </section>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
</template>
<script>
import { mapState ,mapActions} from 'vuex';
export default {
    computed: {
        ...mapState('admin', ['user','search']),
    },
    methods: {
    	...mapActions('admin',['store']),
      async removeProperty(property) {

            let { _total_tasks_pending, id } = property;
            if (_total_tasks_pending == 0) {
                let params = {
                    route: route('admin.employee.remove-property', { employee: this.user.id,property: id }),
                    method: 'POST',
                    data: {},
                }
                let { data } = await this.store(params);
                if (data.status) {
                    this.$snotify.success(data.msg);
                    this.$emit('on-update');
                }
            } else {
                this.exclude = this.user.id;
                this.assignTask++;
                $('#confirm-popup').modal('show');
            }
        },
    }
}

</script>
