<template>
    <div class="modal modal-1 fade bd-example-modal-lg" id="property-list" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lgg conf">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="">
                    <div class="payment-modal-main">
                        <div class="payment-modal-inner">
                            <div class="row">
                                <div class="col-12">
                                    <h2>Associate with Property</h2>
                                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                        <label>Search:<input v-model="search" spellcheck="true" type="search" class="form-control form-control-sm" placeholder="Search" aria-controls="DataTables_Table_0"></label>
                                    </div>
                                    <form action="">
                                        <div class="row">
                                            <div v-for="property in properties.data"  class="col-12">
                                                <div @click="selectProperty(property.id)" class="card mb-1 mod-card" style="max-width: 540px;">
                                                    <div class="row no-gutters">
                                                        <div class="col-md-4">
                                                            <img src="assets/images/1112.png" class="card-img" alt="...">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="card-body">
                                                                <div class="for-v">
                                                                    <h6>{{property.name}}</h6>
                                                                    <h6> Property_ID: P_{{property.id}}</h6>
                                                                </div>
                                                                <input :value="property.id" :checked="selectedProperty == property.id"  class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <no-record :data="properties.data" class="text-center" tag="h3">
                                            	No Property found
                                            </no-record>
                                            <div v-if="selectedProperty > 0" class="col-12">
                                                <a href="javascript:void(0)" @click="$emit('selected',selectedProperty)" type="submit" class="con2" data-dismiss="modal" data-toggle="modal" data-target="#exampleModalCenter2">ASSOCIATE</a>
                                                <!-- <button type="submit" class="con" data-dismiss="modal">ASSOCIATE</button> -->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
// const EmployeeTable = ()=> import('./components/EmployeeTable.vue');

export default {
	props: {
	  owner : {
	    type: Number, // String, Number, Boolean, Function, Object, Array
	    required: false,
	    default: 0,
	  }
	},
    computed: {
        ...mapState('admin', ['properties']),
    },
    components: {
        // EmployeeTable,
    },
    created() {
    	this.fetch = _.debounce(this.fetch,500);
        this.fetch();
    },
    watch: {
      search: function(val, oldVal) {
      	this.fetch();
      }
    },
    data () {
      return {
        search:'',
        selectedProperty : 0,
      };
    },
    methods: {
        ...mapActions('admin', ['getAll']),
        selectProperty(property){
        	this.selectedProperty = property; 
        },
        async fetch(page = 1) {
        	let user = this.owner;
            let params = {
                route: route('admin.property.index'),
                mutation: 'SET_PROPERTIES',
                variable: 'properties',
                data: {
                    page,
                    user,
                    search : this.search,
                }
            };
            let { data } = await this.getAll(params);
        }
    }
}

</script>