<template>
    <!-- Modal rejected -->
    <div class="modal modal-2 fade bd-example-modal-lg" id="rejected-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lgg conf">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="">
                    <div class="payment-modal-main">
                        <div class="payment-modal-inner">
                            <div class="row">
                                <div class="col-12">
                                    <h2>System Message </h2>
                                    <ValidationObserver ref="reasonObserver" v-slot="{handleSubmit}">
                                        <form @submit.prevent="handleSubmit(reject)">
                                            <div class="row">
                                                <div class="col-12">
                                                    <form>
                                                        <ValidationProvider tag="div" name="reason" rules="required" v-slot="{errors}" class="form-group">
                                                            <label for="exampleFormControlTextarea1">Please Provide
                                                                Rejection Reason:</label>
                                                            <textarea v-model="reason" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                            <div class="text-danger">{{errors[0]}}</div>
                                                        </ValidationProvider>
                                                    </form>
                                                </div>
                                                <div class="col-12">
                                                    <button type="submit" class="can2">SUBMIT</button>
                                                    <!-- <button type="submit" class="con2" data-dismiss="modal">CLOSE</button> -->
                                                </div>
                                            </div>
                                        </form>
                                    </ValidationObserver>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal rejected end -->
</template>
<script>
export default {
	props: {
	  application : {
	    type: Number, // String, Number, Boolean, Function, Object, Array
	    default: null
	  }
	},
	data () {
	  return {
	    reason:''
	  };
	},
	methods: {
	  async reject() {
	    let fd = new FormData();
	    fd.append('reason',this.reason);
	    let {data} = await  axios.post(route('admin.user.application_status',{application : this.application,status : 'rejected'}),fd);
	        if(data){
	            this.$snotify.success(data.msg);
	            this.reason = null;
	            this.$refs.reasonObserver.reset();
	            $('#rejected-modal').modal('hide');
	            this.$emit('update');
	        }
	  }
	}
}

</script>
